{
  "presets": [["@babel/preset-env", {
    "modules": "commonjs",
    "loose": true
  }], "@babel/preset-typescript"],
  "plugins": ["@babel/plugin-proposal-class-properties", "angularjs-annotate"]
}
