.filters-not-displayed {
  .gene-column-filtered {
    background-color: #dcffe7;
  }
}

.genes-loading {
  position: absolute;
  top: 0;
  z-index: 1;
}

.select-reference-warning,
.no-records-warning {
  color: #999;
}
