@import "../ngbGenomicsPanel.variables.scss";

ngb-genomics-parasite-table {
    .ui-grid {
        border: none;
        height: auto;
        border-top: $genomics-table-border;
        border-bottom: $genomics-table-border;
        min-height: 250px;

        .ui-grid-viewport {
            height: 100% !important;
            width: 100% !important;
        }

        .ui-grid-cell-contents {
            white-space: nowrap;
        }

        .ui-grid-column-menu-button {
            width: 12px;

            .ui-grid-icon-angle-down {
                width: 10px;
            }

            [class^="ui-grid-icon"]:before,
            [class*=" ui-grid-icon"]:before {
                width: 0.7em;
                margin-right: 0.3em;
                margin-left: 0;
            }
        }
    }

    .ui-grid-header-cell.ui-grid-clearfix,
    .ui-grid-header-cell.ui-grid-clearfix.movingColumn {
        height: 100%;

        .layout-column {
            height: 100%;

            div.flex {
                height: 100%;
            }
        }
    }

    .ui-grid-container .ui-grid-cell-contents.md-button {
        height: 100%;
    }

    .ui-grid-header-cell-label-container {
        display: flex;
        justify-content: center;
        height: 13px;
    }

    .ui-grid-header-cell-label {
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .empty-container {
        font-size: 12pt;
        width: 100%;
        text-align: center;
        z-index: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 80px;

        .no-records-warning {
            color: $genomics-warning-color;
        }
    }
}