ngb-open-file-from-ngb-server {

  .open-file-form {
    padding: 10px 10px 0px 10px;
  }

  .ngb-server-explorer {

  }

  .ngb-files-explorer-row {

  }

  .ngb-open-file-directory-path {
    font-size: small;
    padding: 2px;
    min-width: 50px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .ngb-open-file-directory-link {
    background-color: #efefef;
    padding-bottom: 3px;
  }

}