$toolbar-button-margin: 0;

ngb-browser-toolbar-panel {
  display: block;
  position: absolute;
  width: 36px;
  right: 44px;
  margin-top: -36px;
  top: 40%;
  z-index: 2;
  opacity: .25;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }

  .md-button {
    &:hover {
      opacity: 1;
    }

    margin: $toolbar-button-margin;
    min-width: 0;
    padding: 0;
    width: 100%;
  }

  ngb-bookmark,
  .camera {
    margin-top: 20px;
  }
}
