ngb-coverage-panel {

    .coverage-select {
        font-size: 14px;
        width: 100%;
        padding: 0;
    }

    md-select {
        margin: 0 0 10px 0;
    }

    .progress {
        height: 24px;
    }

    .progress>span {
        line-height: 18px;
    }
}
