<div class="add-annotation-dlb-content">
    <div class="row">
        <md-input-container class="add-annotation-dlb-input annotation-name">
            <label for="annotationName">Annotation name</label>
            <input id="annotationName" name="annotation_name"
                   ng-model="$ctrl.annotation.name" type="text">
        </md-input-container>
    </div>
    <div class="row" style="margin-top: 10px">
        <md-input-container class="add-annotation-dlb-input">
            <md-checkbox aria-label="select heatmap" class="md-primary"
                         ng-change="$ctrl.onAnnotationTypeChange()"
                         ng-false-value="null"
                         ng-model="$ctrl.annotation.type"
                         ng-true-value="{{$ctrl.annotationTypeList.HEATMAP}}">
                Select heatmap file
            </md-checkbox>
        </md-input-container>
    </div>
    <div class="row" ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.HEATMAP">
        <md-input-container class="add-annotation-dlb-input add-annotation-dlb-heatmap">
            <md-select aria-label="heatmap"
                       id="heatmap"
                       multiple="false"
                       ng-model="$ctrl.heatmapId"
                       required>
                <md-option ng-repeat="heatmapItem in $ctrl.heatmapsFromTrack track by heatmapItem.id"
                           ng-value="heatmapItem.id">
                    {{heatmapItem.prettyName || heatmapItem.name}}
                </md-option>
                <md-divider class="heatmaps-divider"/>
                <md-option ng-repeat="heatmapItem in $ctrl.heatmapsFromAnnotations track by heatmapItem.id"
                           ng-value="heatmapItem.id">
                    {{heatmapItem.prettyName || heatmapItem.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="row" ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.HEATMAP">
        <md-input-container class="add-annotation-dlb-input add-annotation-dlb-file-header">
            <div class="add-annotation-dlb-file-header-label">Pathway objects in</div>
            <md-checkbox aria-label="first column header"
                         class="md-primary" id="heatmapHeader"
                         ng-false-value="{{$ctrl.annotationFileHeaderList.ROW}}"
                         ng-model="$ctrl.annotation.header"
                         ng-true-value="{{$ctrl.annotationFileHeaderList.COLUMN}}">
                first column
            </md-checkbox>
            <md-checkbox aria-label="first row header"
                         class="md-primary" id="heatmapHeader2"
                         ng-false-value="{{$ctrl.annotationFileHeaderList.COLUMN}}"
                         ng-model="$ctrl.annotation.header"
                         ng-true-value="{{$ctrl.annotationFileHeaderList.ROW}}">
                first row
            </md-checkbox>
        </md-input-container>
    </div>
    <div class="row" ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.HEATMAP && $ctrl.heatmap">
        <ngb-pathways-color-scheme-preference
                scheme="$ctrl.colorScheme"></ngb-pathways-color-scheme-preference>
    </div>
    <div class="row" style="margin-top: 10px">
        <md-input-container class="add-annotation-dlb-input">
            <md-checkbox aria-label="select vcf" class="md-primary"
                         ng-disabled="$ctrl.vcfFiles.length === 0"
                         ng-change="$ctrl.onAnnotationTypeChange()"
                         ng-false-value="null"
                         ng-model="$ctrl.annotation.type"
                         ng-true-value="{{$ctrl.annotationTypeList.VCF}}">
                Select VCF file
            </md-checkbox>
            <div style="display: inline; margin-left: 5px" ng-if="$ctrl.vcfFiles.length === 0">
                <ng-md-icon icon="info" size="20" style="fill: #666666"></ng-md-icon>
                <md-tooltip class="md-tooltip__full-height">
                    Select VCF files from <b>Datasets</b> panel
                </md-tooltip>
            </div>
        </md-input-container>
    </div>
    <div class="row" ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.VCF">
        <md-input-container class="add-annotation-dlb-input add-annotation-dlb-vcf">
            <md-select aria-label="vcf file"
                       ng-disabled="$ctrl.vcfPending"
                       id="vcfFile"
                       multiple="false"
                       ng-model="$ctrl.vcfFileId"
                       required>
                <md-option ng-repeat="vcfFileItem in $ctrl.vcfFiles track by vcfFileItem.id"
                           ng-value="vcfFileItem.id">
                    {{vcfFileItem.prettyName || vcfFileItem.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.VCF && $ctrl.vcfFile"
                            class="add-annotation-dlb-input add-annotation-dlb-vcf-items">
            <md-select aria-label="vcf file item"
                       ng-disabled="$ctrl.vcfPending"
                       id="vcfFileInfoItem"
                       multiple="false"
                       ng-model="$ctrl.vcfFileInfoItem"
                       required>
                <md-option ng-repeat="vcfFileInfoItem in $ctrl.vcfFileInfoItems track by vcfFileInfoItem.name"
                           ng-value="vcfFileInfoItem.name">
                    {{vcfFileInfoItem.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="row add-annotation-dlb-error"
         ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.VCF && $ctrl.vcfError">
        {{$ctrl.vcfError}}
    </div>
    <div class="row"
         ng-if="$ctrl.annotation && $ctrl.annotation.type === $ctrl.annotationTypeList.VCF && $ctrl.annotation.config">
        <ngb-pathways-color-scheme-preference
                scheme="$ctrl.colorScheme"></ngb-pathways-color-scheme-preference>
    </div>
    <div class="row add-annotation-dlb-file">
        <md-input-container class="add-annotation-dlb-input add-annotation-dlb-file-checkbox">
            <md-checkbox aria-label="upload TSV\CSV" class="md-primary"
                         ng-change="$ctrl.onAnnotationTypeChange()"
                         ng-false-value="null"
                         ng-model="$ctrl.annotation.type"
                         ng-true-value="{{$ctrl.annotationTypeList.CSV}}">
                Upload TSV/CSV
            </md-checkbox>
        </md-input-container>
        <div ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.CSV">
            <label class="md-button md-raised md-primary"
                   for="csv-file-id">{{$ctrl.csvFile.name || 'Choose CSV/TSV file'}}</label>
            <input accept=".csv,.tsv" class="ng-hide" file-model
                   id="csv-file-id"
                   ng-change="$ctrl.onFileUpload()"
                   ng-model="$ctrl.csvFile"
                   required
                   type="file">
        </div>
    </div>
    <div class="row" ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.CSV">
        <md-input-container class="add-annotation-dlb-input add-annotation-dlb-file-header">
            <div class="add-annotation-dlb-file-header-label">Pathway objects in</div>
            <md-checkbox aria-label="first column header"
                         class="md-primary" id="fileHeader"
                         ng-false-value="{{$ctrl.annotationFileHeaderList.ROW}}"
                         ng-model="$ctrl.annotation.header"
                         ng-true-value="{{$ctrl.annotationFileHeaderList.COLUMN}}">
                first column
            </md-checkbox>
            <md-checkbox aria-label="first row header"
                         class="md-primary" id="fileHeader2"
                         ng-false-value="{{$ctrl.annotationFileHeaderList.COLUMN}}"
                         ng-model="$ctrl.annotation.header"
                         ng-true-value="{{$ctrl.annotationFileHeaderList.ROW}}">
                first row
            </md-checkbox>
        </md-input-container>
    </div>
    <div class="row" ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.CSV && $ctrl.annotation.config">
        <ngb-pathways-color-scheme-preference
                scheme="$ctrl.colorScheme"></ngb-pathways-color-scheme-preference>
    </div>
    <md-divider class="add-annotation-divider"></md-divider>
    <div class="row" style="margin-top: 10px">
        <md-input-container class="add-annotation-dlb-input">
            <md-checkbox aria-label="manual colors config" class="md-primary"
                         ng-change="$ctrl.onAnnotationTypeChange()"
                         ng-false-value="null"
                         ng-model="$ctrl.annotation.type"
                         ng-true-value="{{$ctrl.annotationTypeList.MANUAL}}">
                Manual colors config
            </md-checkbox>
        </md-input-container>
    </div>
    <div class="row" ng-if="$ctrl.annotation.type === $ctrl.annotationTypeList.MANUAL">
        <md-input-container class="add-annotation-dlb-input">
        <textarea id="manualConfig" name="manualConfig" ng-model="$ctrl.annotation.config"
                  ng-required="$ctrl.annotation.type === $ctrl.annotationTypeList.MANUAL"
                  rows="2"></textarea>
        </md-input-container>
    </div>
</div>
