<div layout="column">
    <div flex
         role="columnheader"
         ng-class="{'sortable': sortable, 'filtered': col.colDef.filterApplied()}"
         ui-grid-one-bind-aria-labelledby-grid="col.uid + '-header-text ' + col.uid + '-sortdir-text'"
         aria-sort="{{col.sort.direction == asc ? 'ascending' : ( col.sort.direction == desc ?
            'descending' : (!col.sort.direction ? 'none' : 'other'))}}">
        <div flex>
            <md-button tabindex="0"
                       col-index="renderIndex"
                       class="ui-grid-cell-contents ui-grid-header-cell-primary-focus">
                <div class="ui-grid-header-cell-label-container">
                    <span class="ui-grid-header-cell-label"
                          ui-grid-one-bind-id-grid="col.uid + '-header-text'">
                        {{ col.displayName }}
                    </span>
                </div>
                <span class="sort-icon"
                      ui-grid-one-bind-id-grid="col.uid +'-sortdir-text'"
                      ui-grid-visible="col.sort.direction"
                      aria-label="{{getSortDirectionAriaLabel()}}">
                    <ng-md-icon icon="arrow_downward"
                                size="12"
                                ng-if="col.sort.direction == desc"
                                title="{{isSortPriorityVisible() ? i18n.headerCell.priority + ' ' + ( col.sort.priority + 1 )  : null}}">
                    </ng-md-icon>
                    <ng-md-icon icon="arrow_upwards"
                                size="12"
                                ng-if="col.sort.direction == asc"
                                title="{{isSortPriorityVisible() ? i18n.headerCell.priority + ' ' + ( col.sort.priority + 1 )  : null}}">
                    </ng-md-icon>
                </span>
            </md-button>
        </div>
    </div>
    <ngb-structure-table-filter column="col"
                                ng-if="col.enableFiltering">
    </ngb-structure-table-filter>
</div>
