<md-content class="md-padding">
    <h2>Enter project name and add reference</h2>

    <form name="projectForm">
        <md-input-container>
            <label for="projectName">Project Name</label>
            <input id="projectName" name="projectName" required
                   ng-model="ctrl.projectName"
                   ng-change="ctrl.changeProjectName(ctrl.projectName)">

            <div ng-messages="projectForm.projectName.$error">
                <div ng-message="required">Enter project name</div>
            </div>
        </md-input-container>

        <div ng-repeat="reference in ctrl.getReferences()">
            <md-checkbox aria-label="{{reference.name}}"
                         ng-click="ctrl.toggleReference(reference)"
                         ng-checked="ctrl.existsReference(reference)"
                         ng-disabled="ctrl.isEdit()">
                <div class="hint">
                    {{reference.name}}
                </div>
            </md-checkbox>
        </div>
    </form>

</md-content>

