.un-group-row-item {
  margin-top: 8px;
}

.shared-link-area {
  min-width: 600px;
  width: 600px;
  height: 180px;
  margin-top: 8px;
  padding: 8px;
}

.checkbox-state {

  span {
    font-size: 12px;
  }
}