md-dialog {
  min-width: 800px;
  min-height: 800px;
  height: 800px;
  background-color: #ffffff;
  overflow-y: hidden;
}

#cnv {
  min-width: 800px;
  height: 736px;
}

canvas {
  width: 100%;
  height:100%;
}