.whole-genome-md-dialog {
  min-height: 400px;
  height: 80vh;
  background-color: #ffffff;
  overflow-y: hidden;
}

.whole-genome-view-container {
  width:100%;
  height: calc(80vh - 64px);
}

.chromosome-hit-tooltip {
  z-index: 100000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
}

canvas {
  width: 100%;
  height:100%;
}
