.whole-genome-md-dialog {
  min-height: 400px;
  height: 80vh;
  background-color: #ffffff;
  overflow-y: hidden;
}

.whole-genome-view-container {
  width:100%;
  height: calc(80vh - 64px);
}

canvas {
  width: 100%;
  height:100%;
}
