<md-menu-bar ng-if="!$ctrl.isClicked" style="padding: 0">
    <md-menu style="visibility: hidden;width:0;height:0">
        <md-button
            id="hiddenMenuButton"
            ng-click="$mdOpenMenu($event)"
            aria-label="Open Info Menu"
        >
        </md-button>
        <md-menu-content width="4" class="ngb-track-events">
            <md-menu-item ng-repeat="entry in $ctrl.menuData"
                          md-position-mode="cascade"
                          class="ngb-track-event-menu-item">
                <md-menu ng-if="entry.submenu">
                    <md-button aria-label="entry.title"
                               ng-click="$mdOpenMenu($event)"
                               ng-disabled="entry.disabled"
                               class="ngb-track-event-button">
                        {{entry.title}}
                    </md-button>
                    <md-menu-content class="ngb-track-events">
                        <md-menu-item ng-repeat="submenuitem in entry.submenu"
                                      class="ngb-track-event-menu-item">
                            <md-button ng-click="$ctrl.clickItem($event,submenuitem)"
                                       ng-disabled="submenuitem.disabled">
                                {{submenuitem.title}}
                            </md-button>
                            <span ng-if="submenuitem.warning"
                                  class="ngb-track-event-warning">
                                <ng-md-icon icon="warning"
                                            class="ngb-track-event-warning-icon"
                                            size="15"></ng-md-icon>
                                {{submenuitem.warning}}
                            </span>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button ng-if="!entry.clipboard && !entry.submenu"
                           ng-click="$ctrl.clickItem($event,entry)"
                           class="ngb-track-event-button"
                           ng-disabled="entry.disabled">
                    {{entry.title}}
                </md-button>
                <md-button class="copy-to-clipboard-button ngb-track-event-button"
                           ng-disabled="entry.isLoading || entry.disabled"
                           ng-if="entry.clipboard"
                           data-clipboard-text="{{entry.clipboard}}"
                           ng-click="$ctrl.closeItem()">
                    {{entry.title}}
                    <md-progress-linear ng-show="entry.isLoading" md-mode="indeterminate"></md-progress-linear>
                </md-button>
                <span ng-if="entry.warning"
                      class="ngb-track-event-warning">
                    <ng-md-icon icon="warning"
                                class="ngb-track-event-warning-icon"
                                size="15"></ng-md-icon>
                    {{entry.warning}}
                </span>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
