<div class="loading-indicator"
     ng-if="$ctrl.loadingData">
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-class="{'hidden': !$ctrl.failedResult || $ctrl.loadingData}">
    <ngb-panel-error-list message-list="$ctrl.errorMessageList"></ngb-panel-error-list>
</div>
<div class="ui-grid-container">
    <div ui-grid="$ctrl.gridOptions"
            disable-wheel-handler
            ui-grid-resize-columns
            ui-grid-move-columns
            ui-grid-auto-resize
            ui-grid-selection
            ui-grid-save-state
            ui-grid-pinning
            class="drugs-table">
    </div>
</div>
<div class="empty-container"
     ng-if="$ctrl.emptyResults">
    <md-content class="no-records-warning"
                flex>
        <span>No records found.</span>
    </md-content>
</div>
<ngb-table-pagination ng-if="$ctrl.totalPages > 1"
                      total-pages="$ctrl.totalPages"
                      current-page="$ctrl.currentPage"
                      on-change-page="$ctrl.getDataOnPage(page)">
</ngb-table-pagination>
