@import "../ngbKnownDrugsPanel.variables.scss";

ngb-drugs-table {
    .ui-grid {
        border: none;
        height: auto;
        min-height: 250px;

        .ui-grid-viewport {
            height: 100% !important;
        }

        .ui-grid-cell-contents {
            white-space: nowrap;
        }

        .ui-grid-column-menu-button {
            width: 12px;

            .ui-grid-icon-angle-down {
                width: 10px;
            }

            [class^="ui-grid-icon"]:before,
            [class*=" ui-grid-icon"]:before {
                width: 0.7em;
                margin-right: 0.3em;
                margin-left: 0;
            }
        }
    }

    .ui-grid-container .ui-grid-render-container {
        min-height: 200px;
    }

    .ui-grid-header-cell.ui-grid-clearfix,
    .ui-grid-header-cell.ui-grid-clearfix.movingColumn {
        height: 100%;

        .layout-column {
            height: 100%;

            div.flex {
                height: 100%;
            }
        }
    }

    .ui-grid-container .ui-grid-cell-contents.md-button {
        min-height: unset;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(50, 1fr);
    }

    .ui-grid-header-cell-label-container {
        display: flex;
        justify-content: center;
        min-width: 0;
        grid-column: 1 / 49;
        grid-row: 1;
    }

    .ui-grid-header-cell-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sort-icon {
        grid-column: 50 / 50;
        grid-row: 1;

        ng-md-icon {
            margin-right: 3px;
        }
    }

    .with-pagination .ui-grid-row:last-child .ui-grid-cell {
        border-bottom-width: 1px !important;
    }

    .link-cell {
        font-size: 12px;
        align-self: center;
        height: auto;
        white-space: nowrap;
        padding: 5px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        text-decoration: none;
        overflow: hidden;
        color: rgb(102, 153, 255);
        cursor: pointer;

        a {
            color: inherit;
            text-decoration: none;
        }

        &.disease {
            width: 100%;
        }
    }

    ngb-panel-error-list {
        .layout-padding,
        .layout-padding > * {
            padding: 0 !important;
        }

        md-list-item,
        md-list-item .md-list-item-inner {
            min-height: 24px;
            height: 24px;
            font-size: 14px;
        }
    }

    .empty-container {
        font-size: 12pt;
        width: 100%;
        text-align: center;
        z-index: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 200px;

        .no-records-warning {
            color: $known-drugs-warning-color;
        }
    }

    .target-cell {
        font-size: 12px;
        padding: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        align-self: center;
        height: auto;
        white-space: nowrap;
    }
}
