<div
        flex
        layout="row"
        layout-wrap="100"
        class="ngb-track-container"
        ng-class="{'collapsed': !ctrl.showTracksHeaders}"
        ng-show="ctrl.trackIsVisible"
>
    <div
            flex="100"
            class="ngb-track-header"
            layout="row"
            layout-align="start center"
            ng-mousedown="ctrl.onHeaderMouseDown($event)"
            ng-class="{'collapsed': !ctrl.showTracksHeaders }"
    >
        <input
                ng-if="ctrl.selectable && ctrl.track.format !== 'REFERENCE'"
                type="checkbox"
                ng-model="ctrl.trackIsSelected"
                dnd-nodrag
        />
        <div class="ngb-track-header-type">{{ctrl.track.format}}</div>
        <input
                ngb-autofocus
                emit-focus="ctrl.showTrackNameInput"
                spellcheck="false"
                dnd-nodrag
                class="ngb-track-header-file-input"
                ng-model-options="{ getterSetter: true }"
                ng-model="ctrl.getterSetterPrettyName"
                ng-value="ctrl.getterSetterPrettyName()"
                ng-show="ctrl.showTrackNameInput"
                ng-Blur="ctrl.toggleTrackNameInput()"
                ng-keydown="ctrl.handleNameInputKeydown($event)"
        />
        <div
                class="ngb-track-header-file-name"
                ng-hide="ctrl.showTrackNameInput"
                ng-click="ctrl.toggleTrackNameInput()"
                ng-style="ctrl.trackHeaderStyle"
        >
            {{ctrl.getterSetterPrettyName()}}
            <md-tooltip md-direction="top">
                {{ctrl.getterSetterPrettyName()}}
            </md-tooltip>
        </div>
        <div
                class="ngb-track-header-file-hint"
                ng-show="ctrl.showFileNameHint"
        >
            {{ctrl.trackNameTruncated}}
            <md-tooltip md-direction="top">
                {{ctrl.fileName}}
            </md-tooltip>
        </div>
        <ngb-track-settings
                dnd-nodrag
                ng-if="ctrl.trackInstance !== undefined && ctrl.trackInstance.getSettings"
                settings="ctrl.trackInstance.getSettings()"></ngb-track-settings>
        <ngb-track-actions
                dnd-nodrag
                ng-if="ctrl.trackInstance !== undefined && ctrl.trackInstance.actions"
                actions="ctrl.trackInstance.actions"></ngb-track-actions>

        <div ng-show="ctrl.trackDataIsLoading">
            <md-progress-circular md-mode="indeterminate" md-diameter="12"></md-progress-circular>
        </div>
        <div title="Hide Track" class="buttons-menu-track hide-track" dnd-nodrag>
            <md-button md-no-ink
                       ng-show="ctrl.showHideTrackButton"
                       class="md-icon-button track-button close"
                       ng-click="ctrl.hideTrack($event)"
                       ng-if="!ctrl.silentInteractions"
                       aria-label="Hide Track">
                <ng-md-icon class="button-icon" icon="clear" size="16"></ng-md-icon>
            </md-button>
        </div>
    </div>

    <div class="ngb-track-header-floating md-raised md-button"
         ng-class="{'collapsed': ctrl.showTracksHeaders, 'reference': ctrl.isReference}"
         ng-mouseleave="ctrl.onMinifiedHeaderMouseLeave()"
         ng-mouseover="ctrl.onMinifiedHeaderMouseOver()"
         layout="row">
        <ngb-track-settings
                dnd-nodrag
                ng-if="ctrl.minifiedMenuIsOpened && ctrl.trackInstance !== undefined && ctrl.trackInstance.getSettings"
                settings="ctrl.trackInstance.getSettings()"
                track-controller="ctrl"
                on-menu-opened="::ctrl.onMenuOpened"
                on-menu-closed="::ctrl.onMenuClosed"
                on-handle="::ctrl.onHandleAction"></ngb-track-settings>
        <ngb-track-actions
                dnd-nodrag
                ng-if="ctrl.minifiedMenuIsOpened && ctrl.trackInstance !== undefined && ctrl.trackInstance.actions"
                actions="ctrl.trackInstance.actions"
                track-controller="ctrl"
                on-handle="::ctrl.onHandleAction"></ngb-track-actions>
        <div class="buttons-menu-track"
             dnd-nodrag
             ng-show="ctrl.isMinifiedMenuButtonVisible">
            <md-button md-no-ink
                       class="md-icon-button track-button mini"
                       aria-label="Menu"
                       ng-click="ctrl.openOrCloseMinifiedMenu()">
                <ng-md-icon class="button-icon" icon="menu" size="16"></ng-md-icon>
            </md-button>
        </div>
        <div ng-show="ctrl.trackDataIsLoading" class="track-loader-minified">
            <md-progress-circular md-mode="indeterminate" md-diameter="12"></md-progress-circular>
        </div>
        <div class="track-title">{{ctrl.getTrackFileName(ctrl.track)}}</div>
        <div class="buttons-menu-track" dnd-nodrag>
            <md-button md-no-ink
                       ng-show="ctrl.showHideTrackButton"
                       class="md-icon-button track-button close mini"
                       ng-click="ctrl.hideTrack($event)"
                       ng-if="!ctrl.silentInteractions"
                       aria-label="Hide Track">
                <ng-md-icon class="button-icon" icon="clear" size="16"></ng-md-icon>
            </md-button>
        </div>
    </div>

    <div
            dnd-nodrag
            class="ngb-track-renderer js-ngb-render-container-target"
            flex="100"></div>

    <div
            dnd-nodrag
            flex="100"
            layout-margin
            ng-hide="ctrl.isLoaded"
            ng-style="{height: ctrl.possibleTrackHeight + 'px'}"
            layout="row"
            layout-align="center center">
        <div>
            <ngb-progress-circular ngb-mode="indeterminate" flex></ngb-progress-circular>
        </div>
    </div>

    <div
            ng-if="ctrl.isResizable"
            dnd-nodrag
            class="ngb-resize-panel"
            flex="100"></div>
</div>
