.user-role-selector {
  .role-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .role-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
  }
  md-content._md {
    max-height: 240px;
  }
}

.permissions-subject-title {
  font-size: small;
}

.permissions-table {
  font-size: small;
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 10px;

  th {
    background-color: white;
    color: #333;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
  }

  td.allow, td.deny {
    width: 100px;
    text-align: center;
  }
}
