<li ng-repeat="action in viewActions[viewName] track by $index" ng-style="action.liStyle" ng-if="action.isVisible === undefined || action.isVisible(projectContext, appearanceContext)" ng-class="action.name">
    <ngb-variants-table-download ng-if="action === actions.variantsTableDownloadAction && action.isVisible(projectContext, appearanceContext)"></ngb-variants-table-download>
    <ngb-variants-table-column ng-if="action === actions.variantsTableColumn && action.isVisible(projectContext, appearanceContext)"></ngb-variants-table-column>
    <ngb-variants-table-paginate ng-if="action === actions.variantsTablePagination"></ngb-variants-table-paginate>
    <ngb-genes-table-download ng-if="action === actions.genesTableDownloadAction && action.isVisible(projectContext, appearanceContext)"></ngb-genes-table-download>
    <ngb-genes-table-column ng-if="action === actions.genesTableColumn && action.isVisible(projectContext, appearanceContext)"></ngb-genes-table-column>
    <ngb-variants-loading-indicator ng-if="action === actions.variantsLoadingIndicator"></ngb-variants-loading-indicator>
    <ngb-bookmarks-table-paginate ng-if="action === actions.bookmarksTablePagination"></ngb-bookmarks-table-paginate>
    <ngb-close-all-tracks ng-if="action === actions.closeAllTracks && tracksAreSelected() && action.isVisible(projectContext, appearanceContext)"></ngb-close-all-tracks>
    <ngb-project-info-sections ng-if="action === actions.projectInfoSections && tracksAreSelected() && (action.isVisible === undefined || action.isVisible(projectContext, appearanceContext))"></ngb-project-info-sections>
    <ngb-genome-annotations ng-if="action === actions.genomeAnnotations && tracksAreSelected() && (action.isVisible === undefined || action.isVisible(projectContext, appearanceContext))"></ngb-genome-annotations>
    <ngb-view-action ng-if="action.isDefault && (action.isVisible === undefined || action.isVisible(projectContext, appearanceContext))" event="action.event" label="action.label" icon="action.icon"></ngb-view-action>
    <ngb-tracks-selection ng-if="action === actions.tracksSelection && tracksAreSelected() && (action.isVisible === undefined || action.isVisible(projectContext, appearanceContext))"></ngb-tracks-selection>
</li>
