language: java
sudo: required
os:
  - linux
dist: trusty
install: 
    - sudo pip install mkdocs
    - sudo pip install mkdocs-material
script: 
    - [[ $TRAVIS_BRANCH == "develop" ]] && CLIENT_PATH="-PclientPath=/ngb-dev"
    - ./gradlew buildJar buildWar buildCli buildDoc -PbuildNumber=${TRAVIS_JOB_NUMBER} ${CLIENT_PATH} && ./e2e/integration_tests.sh
    - ./gradlew jacocoTestReport
after_success:
  - bash <(curl -s https://codecov.io/bash)
deploy:
  - provider: script
    skip_cleanup: true
    script: DEMO_PATH=${DEMO_PATH}/dev && ./publish.sh
    on:
      branch: develop
  - provider: script
    skip_cleanup: true
    script: ./publish.sh
    on:
      branch: master
