language: java
os:
  - linux
dist: trusty
sudo: required
install: 
    - sudo pip install mkdocs
    - sudo pip install mkdocs-material
script: 
    - ./gradlew buildDoc buildJar buildWar buildCli buildDocker -PbuildNumber=${TRAVIS_JOB_NUMBER} ${CLIENT_PATH} && ./e2e/integration_tests.sh
    - ./gradlew jacocoTestReport
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PSWD && 
    docker tag ngb:latest $DOCKER_USERNAME/ngb:dev &&
    docker push $DOCKER_USERNAME/ngb:dev
deploy:
  - provider: script
    skip_cleanup: true
    script: DEMO_PATH=${DEMO_PATH}/dev && ./publish.sh
    on:
      branch: develop
  - provider: script
    skip_cleanup: true
    script: ./publish.sh
    on:
      branch: master
