language: java
sudo: required
os:
  - linux
dist: trusty
install: 
    - pip install mkdocs
    - pip install mkdocs-material
script: ./gradlew buildCli buildDoc -PnoTest -PbuildNumber=${TRAVIS_JOB_NUMBER}
deploy:
  - provider: script
    script: DEMO_PATH=${DEMO_PATH}/dev && ./publish.sh
    on:
      branch: f_auto_publish
