<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UITests" verbose="1" parallel="classes" thread-count="1">

    <test name="BamTrackTests">
        <classes>
            <class name="com.epam.ngb.autotests.BamTrackTests"/>
        </classes>
    </test>

    <test name="GeneTrackTests">
        <classes>
            <class name="com.epam.ngb.autotests.GeneTrackTests"/>
        </classes>
    </test>

    <test name="ReferenceTrackTests">
        <classes>
            <class name="com.epam.ngb.autotests.ReferenceTrackTests"/>
        </classes>
    </test>

    <test name="VcfTrackTests">
        <classes>
            <class name="com.epam.ngb.autotests.VcfTrackTests"/>
        </classes>
    </test>

    <test name="DatasetsTests">
        <classes>
            <class name="com.epam.ngb.autotests.DatasetsTests"/>
        </classes>
    </test>

    <test name="VariantsTests">
        <classes>
            <class name="com.epam.ngb.autotests.VcfHighlightTests"/>
        </classes>
    </test>
</suite>