<div flex>
    <ngb-target-genes-filter-list ng-if="$ctrl.isList"
                                  multiple-selection="$ctrl.isMultiselect"
                                  list="$ctrl.list"
                                  column="$ctrl.column">
    </ngb-target-genes-filter-list>
    <ngb-target-genes-filter-range ng-if="$ctrl.isRange"
                                   column="$ctrl.column">
    </ngb-target-genes-filter-range>
    <ngb-target-genes-filter-input ng-if="$ctrl.isString"
                                   column="$ctrl.column">
    </ngb-target-genes-filter-input>
</div>