<div layout="column" class="blast-search-alignment-row">
    <div layout="row" class="blast-search-alignment-params">
        <div layout="row">
            <span class="alignment-field-name">Range {{$ctrl.index}}:</span>
            <span class="alignment-field-value">{{$ctrl.alignment.sequenceStart}} to {{$ctrl.alignment.sequenceEnd}}</span>
        </div>
        <div flex="10"></div>
        <div layout="row">
            <a class="blast-search-result-link blast-search-alignment-link"
               ng-class="{'disabled': !$ctrl.navigationState}"
               ng-click="$ctrl.navigateToTracks()">
                View at track<span ng-if="$ctrl.navigationState.referenceList.length">:</span>
            </a>
            <md-select aria-label="referenceList"
                       class="blast-search-alignment-reference-list"
                       md-container-class="blast-search-alignment-reference-container"
                       ng-if="$ctrl.navigationState.referenceList.length > 1"
                       ng-model="$ctrl.navigationState.referenceId">
                <md-option class="blast-search-alignment-reference-option"
                           ng-repeat="reference in $ctrl.navigationState.referenceList"
                           ng-value="reference.id">{{ reference.name }}</md-option>
            </md-select>
        </div>
        <div flex></div>
    </div>
    <div layout="row" class="blast-search-alignment-params">
        <div layout="row">
            <span class="alignment-field-name">Score:</span>
            <span class="alignment-field-value">{{$ctrl.alignment.bitScore}} bits ({{$ctrl.alignment.score}})</span>
        </div>
        <div layout="row">
            <span class="alignment-field-name">Expect:</span>
            <span class="alignment-field-value">{{$ctrl.alignment.evalue}}</span>
        </div>
        <div layout="row">
            <span class="alignment-field-name">Identities:</span>
            <span class="alignment-field-value">{{$ctrl.alignment.numIdentity}}/{{$ctrl.alignment.length}}
                ({{$ctrl.alignment.numIdentity / $ctrl.alignment.length | percentage:0}})</span>
        </div>
        <div layout="row">
            <span class="alignment-field-name">Gaps:</span>
            <span class="alignment-field-value">{{$ctrl.alignment.gaps}}/{{$ctrl.alignment.length}}
                ({{$ctrl.alignment.gaps / $ctrl.alignment.length | percentage:0}})</span>
        </div>
        <div layout="row">
            <span class="alignment-field-name">Strand:</span>
            <span class="alignment-field-value">+/{{$ctrl.alignment.sequenceStrandView}}</span>
        </div>
    </div>
    <div class="blast-search-alignment-query-container" layout="column">
        <div layout="row" ng-repeat="alignment in $ctrl.partedAlignment">
            <div layout="column" class="alignment_query_title">
                <span></span>
                <span class="alignment-field-name">Query</span>
                <span></span>
                <span class="alignment-field-name">Subject seq</span>
                <span></span>
            </div>
            <div layout="row" flex>
                <div class="right alignment_start_pos" layout="column">
                    <span>{{alignment.queryStart}}</span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span>{{alignment.sequenceStart}}</span>
                </div>
                <div class="mono alignment_sequence" layout="column">
                    <span></span>
                    <span>{{alignment.querySequence}}</span>
                    <span>{{alignment.diff}}</span>
                    <span>{{alignment.sequence}}</span>
                    <span></span>
                </div>
                <div class="left alignment_end_pos" layout="column">
                    <span>{{alignment.queryEnd}}</span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span>{{alignment.sequenceEnd}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
