.motifs-results-title {
    align-self: center;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.motifs-back-to-params-button {
    min-width: 44px;
}

.ui-grid-container.motifs-results-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .motifs-table-loading-indicator-container {
        height: 6px;
    }

    .motifs-table-container {
        flex: 1;
        overflow: auto;
        display: block;

        .motifs-results-table.ui-grid {
            height: calc(100% - 5px) !important;
        }

        .ui-grid-header-cell-label {
            text-transform: capitalize;
        }
    }
}

.motifs-empty-results-container {
    font-size: 12pt;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.motifs-results-no-records-warning {
    color: #999;
}
