<div ng-if="$ctrl.isProgressShown">
    <div class="progress" layout-align="center center">
        <span>Loading history...</span>
    </div>
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-if="!$ctrl.isProgressShown">
    <form name="blastSearchForm" ng-submit="$ctrl.onSearch()" class="md-inline-form">
        <div class="tools">
            <div ng-repeat="tool in $ctrl.ngbBlastSearchFormConstants.BLAST_TOOLS" class="form_radio_btn">
                <input id="radio-{{$index}}" type="radio" name="tool" ng-value="tool"
                       ng-model="$ctrl.searchRequest.tool" required=""
                       ng-change="$ctrl.setDefaultAlgorithms()">
                <label for="radio-{{$index}}">{{tool}}</label>
            </div>
            <div class="blast-form-alert" ng-show="blastSearchForm.tool.$invalid">
                <div ng-message="required">Choose the tool for search</div>
            </div>
        </div>
        <div>
            <md-input-container class="blast-search-input">
                <label for="sequence">Query sequence</label>
                <textarea id="sequence" ng-model="$ctrl.searchRequest.sequence" required=""
                          class="blast-sequence-area"></textarea>
            </md-input-container>
        </div>
        <md-input-container class="blast-search-input">
            <label for="task">Task title</label>
            <input type="text" id="task" name="task" ng-model="$ctrl.searchRequest.title">
        </md-input-container>
        <md-input-container class="blast-search-input">
            <label for="db">Database</label>
            <md-select
                    id="db"
                    name="db"
                    ng-model="$ctrl.searchRequest.db"
                    required
            >
                <md-option ng-repeat="db in $ctrl.dbList" ng-value="db.path">{{db.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="blast-search-input">
            <label for="org">Organism</label>
            <md-select
                    id="org"
                    ng-model="$ctrl.searchRequest.organisms"
                    multiple=""
                    required
            >
                <md-option ng-repeat="species in $ctrl.organismList" value="{{species.taxid}}">
                    {{species.scientificname}}
                </md-option>
            </md-select>
        </md-input-container>
        <div ng-if="$ctrl.algorithmList.length" class="blast-algorithm">
            <md-input-container class="blast-search-input">
                <label>Algorithm</label>
                <md-select ng-model="$ctrl.searchRequest.algorithm">
                    <md-option ng-repeat="alg in $ctrl.algorithmList" ng-value="alg">{{alg}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div>
            <md-button class="md-accent md-raised search-button" type="submit" ng-disabled="blastSearchForm.$invalid">
                Search
            </md-button>
        </div>
    </form>
</div>
