ngb-variants-loading-indicator {
  align-self: center;
  height: 22px;
  .indicator {
    margin-right: 10px;
    margin-top: 4px;
    md-progress-circular {
      svg path { stroke: white; }
    }
  }
}
