ngb-variants-loading-indicator {
  align-self: center;
  height: 22px;
  .indicator {
    margin-top: 4px;
    .indicator-shown {
      margin-right: 10px;
    }
    md-progress-circular {
      svg path { stroke: white; }
    }
  }
}
