ngb-feature-info-main-actions {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.general-information-button {
  margin: 0;
  font-size: 14px;
  color: #6699ff;
  float: right;
}
  
.cancel-button {
  color: #494949;
}
