<div layout="row" class="u-height__full">
    <div layout="column" flex>
        <md-content flex>
            <div ng-if="$ctrl.isProgressShown">
                <div class="progress" layout-align="center center">
                    <span>Loading BLAST Search results...</span>
                </div>
                <md-progress-linear md-mode="query"></md-progress-linear>
            </div>
            <div ng-if="!$ctrl.isProgressShown" class="content-container">
                <div ng-hide="$ctrl.errorMessageList.length">
                    <div ng-if="$ctrl.readSequence"
                        layout="column"
                    >
                        <h5>BLAST result for query sequence:</h5>
                        <textarea
                            flex
                            class="blast-sequence-area"
                            name="sequence"
                            ng-model="$ctrl._sequence"
                            ng-change="$ctrl.sequence"
                        >
                        </textarea>
                    </div>
                    <div class="blast-btn-container">
                        <md-button
                            class="md-accent md-raised"
                            ng-click="$ctrl.handleOpenGenomeView($event)"
                            ng-disabled="!$ctrl._sequence"
                        >
                            Browse genome view
                        </md-button>
                        <md-button
                            class="md-accent md-raised"
                            ng-click="$ctrl.handleSearchGenome($ctrl.sequence)"
                            ng-disabled="!$ctrl._sequence"
                        >
                            Search
                        </md-button>
                    </div>
                </div>
                <div ng-if="$ctrl.errorMessageList.length"
                    class="md-padding"
                >
                    <ngb-panel-error-list message-list="$ctrl.errorMessageList">
                    </ngb-panel-error-list>
                </div>
                <div ng-if="$ctrl.blastSearchEmptyResult"
                    class="blast-search-load-error-container"
                >
                    <small>{{$ctrl.blastSearchEmptyResult}}</small>
                </div>
                <div ng-show="!$ctrl.blastSearchEmptyResult && !$ctrl.errorMessageList.length"
                    class="ui-grid-container"
                >
                    <div
                        ui-grid="$ctrl.gridOptions"
                        ui-grid-save-state
                        ui-grid-selection
                        ui-grid-resize-columns
                        ui-grid-auto-resize
                        ui-grid-move-columns
                        ui-grid-pinning
                        ui-grid-infinite-scroll>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
  </div>
