<div layout="row" class="golden-layout-content-0" layout-fill>

    <div ng-if="!$ctrl.isProgressShown" class="ui-grid-container" ng-hide="$ctrl.errorMessageList.length">
        <div ui-grid="$ctrl.gridOptions"
             ui-grid-selection
             ui-grid-resize-columns
             ui-grid-auto-resize
             ui-grid-move-columns
             ui-grid-grouping
             ui-grid-pinning
        ></div>
    </div>

    <div ng-if="$ctrl.errorMessageList.length" class="md-padding">
        <ngb-panel-error-list message-list="$ctrl.errorMessageList"></ngb-panel-error-list>
    </div>
</div>



