.variants-load-error-container {
  background-color: #ffe1b2;
  width: 100%;
  padding: 5px;
  text-align: center;
}

ngb-variants-table .ui-grid-row {
  .highlighted-row .ui-grid-cell {
    background-color: inherit !important;
  }

  &:hover :not(.highlighted-row) .ui-grid-cell {
    background-color: rgba(66, 133, 244, 0.1);
  }
}

.variants-empty-result-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.25;
  font-size: 3em;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.select-vcf-warning {
  color: #999;
}
