@import "../../ngbTargetPanel.variables.scss";

$genomics-select-height: $general-control-height;
$genomics-font-color: $general-font-color;
$genomics-font-size: $general-font-size;

$genomics-table-border: $general-border;

$genomics-alignment-border: $general-border;
$genomics-alignment-border-radius: 5px;
$genomics-alignment-field-font-size: $tab-font-size;

$genomics-warning-color: $general-warning-color;