<div class="loading-indicator"
     ng-if="$ctrl.loadingData">
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-class="{'hidden': !$ctrl.failedResult || $ctrl.loadingData}">
    <ngb-panel-error-list message-list="$ctrl.errorMessageList"></ngb-panel-error-list>
</div>
<div class="genomics-block">
    <md-button type="button"
               class="md-raised md-accent genomics-button align"
               ng-disabled="!$ctrl.targetModel.protein || !$ctrl.queryModel.protein"
               aria-label="Align comparison"
               ng-click="$ctrl.alignComparison()">
        Align
    </md-button>
    <md-button type="button"
               class="md-raised genomics-button track"
               ng-disabled="$ctrl.isTrackButtonDisabled"
               aria-label="View on track"
               ng-click="$ctrl.viewOnTrack()">
        View on track
    </md-button>
</div>
<div class="genomics-block">
    <label>Target:</label>
    <md-input-container class="gene-select">
        <md-select ng-model="$ctrl.targetModel.gene"
                   placeholder="Select gene"
                   aria-label="Target gene"
                   ng-change="$ctrl.onChangeGene('target', $ctrl.targetModel.gene)"
                   md-container-class="genomics-select-container">
            <md-option ng-repeat="item in $ctrl.targetGeneOptions"
                       ng-disabled="$ctrl.isProteinOptionDisabled(item.geneId)"
                       ng-value="item.geneId">
                {{item.chip}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="protein-select"
                        ng-if="$ctrl.targetModel.gene">
        <md-select ng-model="$ctrl.targetModel.protein"
                   placeholder="Select protein"
                   aria-label="Target protein"
                   md-container-class="genomics-select-container">
            <md-option ng-repeat="item in $ctrl.targetProteinOptions"
                       ng-value="item">
                {{item}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div class="genomics-block">
    <label>Query:</label>
    <md-input-container class="gene-select">
        <md-select ng-model="$ctrl.queryModel.gene"
                   placeholder="Select gene"
                   aria-label="Query gene"
                   ng-change="$ctrl.onChangeGene('query', $ctrl.queryModel.gene)"
                   md-container-class="genomics-select-container">
            <md-option ng-repeat="item in $ctrl.queryGeneOptions"
                       ng-disabled="$ctrl.isProteinOptionDisabled(item.geneId)"
                       ng-value="item.geneId">
                {{item.chip}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="protein-select"
                        ng-if="$ctrl.queryModel.gene">
        <md-select ng-model="$ctrl.queryModel.protein"
                   placeholder="Select protein"
                   aria-label="Query protein"
                   md-container-class="genomics-select-container">
            <md-option ng-repeat="item in $ctrl.queryProteinOptions"
                       ng-value="item">
                {{item}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<ngb-genomics-alignment></ngb-genomics-alignment>
