ngb-project-summary {
  h2, h5 {
    margin-bottom: 0;
  }

  .created-date > span{
    display: inline-block;
    width: 70px;
  }

  .frame {
    margin-right: 0px;
    margin-bottom: 8px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  table td {
    padding: 0;
    border-bottom: none;
  }

  .project-summary-layout {
    height:100%;
    flex: 1 1 auto;
    .project-summary-layout-inner {
      height: inherit;
      display:flex;
      flex-direction: column;
      div {
        flex: 0 1 auto;
      }
    }
  }

  md-list-item {
    overflow: hidden;
  }

  .file-hint {
    font-weight: normal;
    font-size: 12px;
    color: #595959;
    background-color: #f0f0f0;
    padding: 1px 5px;
    border-radius: 5px;
    margin-left: 5px;
  }
}
.structure-card {
  padding: 2px 4px 2px 4px;
  margin: 2px 4px;
  font-size: x-small;
  display: inline-block;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  font-weight: normal;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dataset-title {
  padding: 4px 2px;
  background:rgb(248, 247, 247);
}

.summary-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 24px;
  line-height: 12px;
  height: unset;
  padding: 2px 0;
  font-size: 12px;
  md-checkbox.heatmap-selector {
    margin: 0;
    width: auto;
    .md-label {
      line-height: 24px;
      display: inline;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 150px;
    }
  }
}
