<!doctype html>
<html ng-app="NGB" lang="en">
<head>
    <meta charset="UTF-8">
    <title>NGB</title>
<%= `<base href="${webpackConfig.output.publicPath}"/>` %>
<%= (htmlWebpackPlugin.files.css || []).map(css => `<link rel="stylesheet" href="${css}"/>`).join('') %>
</head>
<body ng-cloak >
    <ui-view layout-fill ></ui-view>
</body>
</html>