ngb-track-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 30px;
}

md-menu-item {
  width: 100%;
}

md-menu-content {
  max-height: 100vh;
  padding-bottom: 0px;
}

md-menu-content > * { /*hack for displaying the divider*/
  display: flex;
  flex-shrink: 0;
}

button {
  background-color: Transparent;
  border: none;
  outline:none;
}

a:hover {
  cursor:pointer;
}

.info-hotkey{
  font-size: 9px;
}

.hidden-menu-button {
  width: 100%;
  text-align: left;
  font-weight: normal;
  cursor: pointer;
}

.hidden-menu-button label {
  text-transform: initial;
}

.track-hidden-settings-button {
  width: 20px;
  min-width: 20px!important;
  padding: 0px!important;
  margin: 0 2px!important;
  min-height: 20px!important;
  height: 20px!important;
  line-height: initial;
}

.download-link {
  color: inherit;
  text-decoration: none;
}
