ngb-golden-layout {
  display: block;
  width: 100%;
  height: 100%;
  .golden-layout-content {
    margin: 0 8px;
    width: auto;
    height: 100%;
  }
  .golden-layout-content-0 {
    margin: 0;
    width: auto;
    height: 100%;
  }
  .layout-fill, [layout-fill] {
    width:auto;
    display: block;
  }
}
