@import "./ngbTargetsForm.variables";
@import "../../../../shared/components/ngbTags/ngbTags";

.add-target-form {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .loading-indicator {
        padding: 0;
        height: 6px;
    }

    .md-button {
        margin: 0 5px;
    }

    .hidden {
        display: none;
    }

    ngb-panel-error-list {
        padding: 0;

        .layout-padding, .layout-padding > * {
            padding: 0;
        }

        .ngb-panel-error-list md-content.md-warn {
            border-top: 0;
        }

        md-list-item, md-list-item .md-list-item-inner {
            min-height: 18px;
            height: 19px;
            overflow: hidden;
            font-size: $tag-font-size;
        }
    }
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 5px;
    padding: 0 calc($form-horizontal-offset - 4px);
    box-sizing: border-box;
    width: 100%;
    line-height: 32px;

    .md-warn {
        color: rgba(0,0,0,0.87);
        background-color: rgb(251, 84, 84);
    }

    .md-warn:hover {
        background-color: rgb(251, 128, 128);
    }
}

.back-target-button {
  min-height: $main-action-button-height;
  height: $main-action-button-height;
  line-height: $main-action-button-height;
  min-width: 40px;
  width: 40px;
  margin: 5px;

  ng-md-icon {
    fill: rgba(255,255,255,0.87);
  }
}

.target-button {
    min-height: $main-action-button-height;
    height: $main-action-button-height;
    line-height: $main-action-button-height;
    min-width: 60px;
    margin: 5px;
}

.name-input-placeholder,
.name-input {
    margin: 5px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-input {
    font-weight: bold;
}

.name-input-placeholder {
    font-style: italic;
    color: $form-warning-color;
}

.table-container {
    width: 100%;
    overflow: auto;

    table.ngb-targets-form-table {
        width: 100%;
        input {
            width: 100%;
        }
        th {
            width: 20%;
            padding: $table-header-cell-padding;
            background: $section-header-background;
            line-height: $table-header-cell-height;
            height: $table-header-cell-height;
            font-size: $table-header-cell-font-size;
            color: $table-header-cell-color;
            font-weight: $table-header-cell-font-weight;
        }
        tr td.full-width {
            padding: $table-cell-full-width-padding;
            width: unset;
        }
        tr td {
            width: 20%;
            padding: $table-cell-padding;
        }

        tr th:nth-child(1),
        tr td:nth-child(1) {
            width: 25%;
        }

        tr th:nth-child(3),
        tr td:nth-child(3) {
            width: 15%;
        }

        tr th:nth-child(5),
        tr td:nth-child(5) {
            width: 15%;
        }

        tr th.button-column,
        tr td.button-column {
            width: max($table-control-height, 30px);
        }

        tr th.button-column {
            width: 15px;
            padding: 4px;
        }
    }

    .remove-btn {
        min-height: $table-control-height;
        min-width: $table-control-height;
        width: $table-control-height;
        height: $table-control-height;
        line-height: $table-control-height;
        padding: 0;
        margin: 0;
    }
}

.priority-select-container {
    md-select.ngb-targets-form-table-select {
        margin: 0;
        border-radius: $table-control-border-radius;
        border: $table-control-border;
        background: $table-control-background;
        height: $table-control-height;
        color: $table-control-font-color;
        box-sizing: border-box;
        &:hover {
            background: $table-control-hover-background;
        }
    }

    .md-select-value {
        padding: 0 5px;
        border-bottom-width: 0;
        min-height: calc($table-control-height - 2px);
        color: $table-control-font-color;
        font-size: $table-control-font-size;
    }

    md-select-menu {
        md-select-menu:not(.md-overflow) md-content {
            padding: 0;
        }
    }

    md-option {
        padding: 0 10px;
        height: $table-control-height;
        color: $table-control-font-color;
    }

    .md-select-value .md-select-icon {
        width: calc(($table-control-height - 2px) / 2.0);
        margin: 0 2px;
    }

    md-select.ngb-targets-form-table-select.md-default-theme:not([disabled]):focus .md-select-value,
    md-select.ngb-targets-form-table-select:not([disabled]):focus .md-select-value {
        border-radius: $table-control-border-radius;
        border-bottom: none;
    }
}

input.ngb-targets-form-table-input {
    flex: 1;
    margin: 2px 0;
    border-radius: $table-control-border-radius;
    border: none;
    background: $table-control-background;
    height: $table-control-height;
    color: $table-control-font-color;
    padding: $table-control-padding;
    font-size: $table-control-font-size;
    box-sizing: border-box;
    border-bottom: 1px solid darken($table-control-background, 20%);

    &.error {
        border-color: red;
    }

    &:hover:not(:focus) {
        background: $table-control-hover-background;
    }
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

.priority-select {
    md-select-menu:not(.md-overflow) md-content {
        padding: 0;
    }

    md-select-menu md-content {
        min-width: calc($table-control-height * 3.0);
    }

    md-option {
        padding: $table-control-padding;
        height: $table-control-height;
        color: $table-control-font-color;
    }
}

.delete-target-dialog {
    width: 400px;
    min-width: 400px;

    md-dialog-content {
        min-width: 400px;
        width: 400px;
    }

    h2 {
        margin: 15px;
    }
}

ngb-tags.ngb-target-diseases,
ngb-tags.ngb-target-products {
    margin-top: 5px;
    font-size: $tag-font-size;
    @include ngb-tags($tag-size, $tag-background, $tag-color, none, $tag-border-radius, $form-horizontal-offset);

    .ngb-tags-title {
        font-weight: $table-header-cell-font-weight;
        font-size: $table-header-cell-font-size;
        color: $table-header-cell-color;
        min-width: $main-section-title-width;
    }
}

.ngb-targets-form-section {
    margin: 2px 2px 8px;

    .ngb-targets-form-section-header {
        padding: 7px $form-horizontal-offset;
        color: $section-header-color;
        background: $section-header-background;
        font-size: $section-header-font-size;
    }
}

.target-name-row {
    display: flex;
    align-items: center;

    .target-name-title {
        padding: 7px $form-horizontal-offset;
        font-weight: $table-header-cell-font-weight;
        font-size: $table-header-cell-font-size;
        color: $table-header-cell-color;
        min-width: $main-section-title-width;
    }
}

.no-genes-info {
    color: $form-warning-color;
}

.add-gene-link {
    margin: 5px 0;
    cursor: not-allowed;
    font-style: normal;

    &:not(.disabled) {
        color: rgb(51, 103, 214);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
