<form class="add-target-form" name="target">
    <div class="loading-indicator"
         ng-if="$ctrl.loading || $ctrl.launchLoading">
        <md-progress-linear md-mode="query"></md-progress-linear>
    </div>
    <div ng-class="{'hidden': !$ctrl.failed || $ctrl.loading}">
        <ngb-panel-error-list message-list="$ctrl.errorMessageList"></ngb-panel-error-list>
    </div>
    <div class="form-header">
        <md-button type="button"
                   class="md-raised md-accent back-target-button"
                   aria-label="Back to table"
                   ng-click="$ctrl.backToTable()">
            <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
        </md-button>
        <input class="ngb-targets-form-table-input"
               spellcheck="false"
               ng-auto-focus
               ng-class="{'error': !$ctrl.targetModel.name}"
               required
               placeholder="Target name"
               ng-model="$ctrl.targetModel.name"/>
        <md-button type="button"
                   class="md-primary md-raised md-accent target-button"
                   aria-label="Identify target"
                   ng-click="$ctrl.identifyTarget()"
                   ng-disabled="$ctrl.isIdentifyDisabled()">
            IDENTIFY
        </md-button>
        <md-button type="button"
                   class="md-primary md-raised md-accent target-button"
                   aria-label="Save target"
                   ng-click="$ctrl.saveTarget()"
                   ng-disabled="$ctrl.isSaveDisabled()">
            {{$ctrl.isEditMode ? 'SAVE' : 'CREATE'}}
        </md-button>
        <md-button type="button"
                   class="md-raised md-warn target-button"
                   ng-class="{'hidden': !$ctrl.isEditMode}"
                   aria-label="Remove target"
                   ng-click="$ctrl.removeTarget()"
                   ng-disabled="$ctrl.loading">
            REMOVE
        </md-button>
    </div>
    <div class="ngb-targets-form-section">
        <div>
            <label id="targetType" class="radio-title">Type:</label>
            <md-radio-group ng-model="$ctrl.targetModel.type"
                            aria-labelledby="targetType">
                <md-radio-button value="DEFAULT"
                                 class="radio-button">
                    Default
                </md-radio-button>
                <md-radio-button value="PARASITE"
                                 class="radio-button">
                    Parasite
                </md-radio-button>
            </md-radio-group>
        </div>
        <ngb-tags class="ngb-target-diseases"
                  tag-title="'Diseases:'"
                  tags="$ctrl.targetModel.diseases"
                  add-label="'Add disease'"
                  editable="true">
        </ngb-tags>
        <ngb-tags class="ngb-target-products"
                  tag-title="'Products:'"
                  tags="$ctrl.targetModel.products"
                  add-label="'Add product'"
                  editable="true">
        </ngb-tags>
    </div>
    <div class="ngb-targets-form-section">
        <ngb-target-genes-table></ngb-target-genes-table>
        <div ng-if="!$ctrl.targetModel.genes || $ctrl.targetModel.genes.length === 0">
            <div class="full-width no-genes-info"
                 style="padding-top: 8px; padding-bottom: 8px; text-align: center;">
                <span>At least one gene or transcript shall be specified.</span>
                <br />
                <span class="add-gene-link"
                      ng-class="{'disabled': $ctrl.isAddGeneDisabled}"
                      ng-click="$ctrl.addGene()"
                      ng-disabled="$ctrl.isAddGeneDisabled">
                    Add gene
                </span>
            </div>
        </div>
        <div ng-if="$ctrl.targetModel.genes && $ctrl.targetModel.genes.length > 0">
            <div class="full-width"
                 style="padding-top: 8px; padding-bottom: 8px; text-align: center">
                <span class="add-gene-link"
                      ng-class="{'disabled': $ctrl.isAddGeneDisabled}"
                      ng-click="$ctrl.addGene()"
                      ng-disabled="$ctrl.isAddGeneDisabled">
                    Add gene
                </span>
            </div>
        </div>
        <div ng-if="$ctrl.targetModel.type ===  $ctrl.targetType.PARASITE">
            <div class="full-width"
                 ng-if="!$ctrl.geneFile.name"
                 style="padding-top: 8px; text-align: center">
                <label class="upload-link"
                       for="target-genes-file-id">
                    Upload genes
                </label>
                <input accept=".csv"
                       class="ng-hide"
                       file-model
                       id="target-genes-file-id"
                       ng-change="$ctrl.uploadGenes()"
                       ng-model="$ctrl.geneFile"
                       required
                       type="file">
            </div>
            <div class="full-width"
                 ng-if="$ctrl.geneFile.name">
                <span class="file-name">{{$ctrl.geneFile.name}}</span>
                <div>
                    <span class="import-link"
                          ng-click="$ctrl.importGenes()">
                        Upload
                    </span>
                    <span class="cancel-link"
                          ng-click="$ctrl.cancelImport()">
                        Cancel
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
