@import "../../ngbTargetPanel.variables.scss";

$main-action-button-height: 25px;

$common-font-size: $general-font-size;
$form-horizontal-offset: 5px;

$common-accent-font-color: $general-font-color;
$common-font-color: #444444;

$main-section-title-width: 60px;

$section-header-color: $common-accent-font-color;
$section-header-background: #f3f3f3;
$section-header-font-size: $common-font-size;

$table-control-height: $general-control-height;
$table-control-border: none;
$table-control-border-radius: 0;
$table-control-font-size: $common-font-size;
$table-control-font-color: $common-font-color;
$table-control-background: #fafafa;
$table-control-hover-background: #f0f0f0;
$table-control-padding: 0 calc($form-horizontal-offset - 1px);
$table-border: $general-border;

$tag-border-radius: 5px;
$tag-font-size: $table-control-font-size;
$tag-color: $common-font-color;
$tag-background: #eeeeee;
$tag-size: calc($table-control-height - 2px);

$table-header-cell-color: $common-accent-font-color;
$table-header-cell-font-weight: bold;
$table-header-cell-font-size: $common-font-size;
$table-cell-full-width-padding: 3px $form-horizontal-offset;

$form-warning-color: $general-warning-color;
