<md-dialog aria-label="feature" class="delete-target-dialog">
    <md-dialog-content>
        <div class="row">
            <h2>Delete this target?</h2>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="delete()" class="md-primary" style="margin-right:20px;">
            Delete
        </md-button>
        <md-button ng-click="cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
