ngb-diseases-bubbles,
ngb-diseases-graph {
  width: 100%;
  min-height: min(75vh, 500px);
  display: block;
  overflow: hidden;
  position: relative;
  .ngb-diseases-chart-controls {
    padding: 0 10px;
    display: flex;
    align-items: center;
    md-slider {
      flex: 0 1 200px;
    }
    .info {
      font-size: smaller;
    }
  }
  .ngb-diseases-chart-svg-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    svg .node-title,
    svg .node-image {
      cursor: pointer;
    }

    svg .node-title,
    svg .node-link,
    svg .node-image {
      transition: fill-opacity 250ms, stroke-opacity 250ms;
    }
  }
  .ngb-disease-tooltip {
    position: absolute;
    padding: 10px;
    background: white;
    border: 1px solid #cccccc;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
    display: none;
    max-width: 300px;
    &.visible {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .ngb-disease-title,
    .ngb-disease-identifier,
    .ngb-disease-score,
    .ngb-disease-link {
      text-align: center;
      margin: 2px 0;
    }

    .ngb-disease-score,
    .ngb-disease-link,
    .ngb-disease-identifier {
      font-size: small;
    }

    .ngb-disease-link > a {
      text-decoration: none;
      color: rgb(102, 153, 255);
      cursor: pointer;
    }
  }

  .ngb-diseases-chart-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
