<md-dialog aria-label="feature" class="confirm-launch-identification-dlg">
    <md-dialog-content>
        <div class="row">
            <h4>
                <p>Previous identification result will be lost.</p>
                <p>Launch this target identification?</p>
            </h4>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="launch()" class="md-primary" style="margin-right:20px;">
            Launch
        </md-button>
        <md-button ng-click="cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>