.browser-welcome {
  font-family: 'Oswald Regular';
  height: 96%;
  margin: 2%;
  h1, h2, h3, h4, span, p {
    color: #999999;
    strong {
      color: #666666;
    }
  }

  p {
    font-size: small;
  }
}

.browser-welcome-container {

}