<input class="ui-grid-filter-input ngb-filter-input"
       type="text"
       ng-model="$ctrl.displayText"
       ng-change="$ctrl.inputChanged()"
       ng-mousedown="$ctrl.displayList()"
       ng-blur="$ctrl.hideListDelayed()"
       ng-key-bind="{enter: '$ctrl.apply()'}"
       style="margin-bottom: 1px">
<div class="ngb-filter-list-container"
     md-whiteframe="4"
     ng-show="$ctrl.listIsDisplayed"
     ng-click="$ctrl.displayList()"
     ng-mousedown="$ctrl.preventListFromClosing()"
     ng-mouseup="$ctrl.stopPreventListFromClosing()"
     prevent-parent-scroll>
    <div ng-repeat="item in $ctrl.listElements.preLoadedList"
         class="ngb-filter-list-item" ng-if="!$ctrl.listElements.isLoading">
        <md-checkbox ng-if="!item.placeholder && !item.divider" aria-label="{{item}} checkbox"
                     ng-click="$ctrl.didClickOnItem(item)"
                     ng-checked="$ctrl.itemIsSelected(item)">{{item}}</md-checkbox>
        <span class="ngb-filter-list-item-placeholder" ng-if="item.placeholder">{{item.message}}</span>
        <md-divider ng-if="item.divider"></md-divider>
    </div>
    <div class="ngb-filter-list-loading"
         ng-if="$ctrl.listElements.isLoading"
         layout="row"
         layout-sm="column"
         layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
    </div>
</div>
