.property-row {
  border-bottom: 1px solid #cccccc;
}

.property {
  padding: 7px;
}

.property-value {

}

.property-name {
  border-right: 1px solid #cccccc;
}

.feature-dialog {
  width: 50%;
}

.sequence-area {
  max-height: 100px;
  min-height: 100px;
  border: 0px solid transparent;
}

.feature-header {
  margin: 0px;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
}