<div layout="column">
    <ngb-feature-info-main properties="$ctrl.properties"
                           reference-id="$ctrl.referenceId"
                           chromosome-id="$ctrl.chromosomeId"
                           start-index="$ctrl.startIndex"
                           end-index="$ctrl.endIndex"
                           read="$ctrl.read"
                           name="$ctrl.name" flex ng-if="!$ctrl.shouldDisplayGeneInfo"></ngb-feature-info-main>
    <md-tabs md-dynamic-height ng-if="$ctrl.shouldDisplayGeneInfo">
        <md-tab id="gff">
            <md-tab-label>{{$ctrl.panelTitle}}</md-tab-label>
            <md-tab-body>
                <ngb-feature-info-main properties="$ctrl.properties"
                                      reference-id="$ctrl.referenceId"
                                      chromosome-id="$ctrl.chromosomeId"
                                      start-index="$ctrl.startIndex"
                                      end-index="$ctrl.endIndex"
                                      read="$ctrl.read"
                                      name="$ctrl.name" flex></ngb-feature-info-main>
            </md-tab-body>
        </md-tab>
        <md-tab id="ncbi" md-on-select="$ctrl.selectTab('ncbi')">
            <md-tab-label>NCBI</md-tab-label>
            <md-tab-body>
                <ngb-feature-info flex feature-id="$ctrl.geneId" db="ncbi"></ngb-feature-info>
            </md-tab-body>
        </md-tab>
        <md-tab id="ensembl" md-on-select="$ctrl.selectTab('ensembl')">
            <md-tab-label>Ensembl</md-tab-label>
            <md-tab-body>
                <ngb-feature-info flex feature-id="$ctrl.geneId" db="ensembl"></ngb-feature-info>
            </md-tab-body>
        </md-tab>
        <md-tab id="uniprot" md-on-select="$ctrl.selectTab('uniprot')">
            <md-tab-label>Uniprot</md-tab-label>
            <md-tab-body>
                <ngb-feature-info flex feature-id="$ctrl.geneId" db="uniprot"></ngb-feature-info>
            </md-tab-body>
        </md-tab>
    </md-tabs>

</div>