ngb-diseases-tab {
    display: flex;
    flex-direction: row;

    .diseases-menu {
        display: flex;
        width: 90px;

        .md-nav-bar {
            height: auto;
            border-bottom: none;
            border-right: 1px solid #cacaca;
        }

        ._md-nav-bar-list {
            flex-direction: column;
        }

        .md-nav-item:first-of-type {
            margin-left: 0;
        }

        .md-button._md-nav-button {
            line-height: 20px;
            margin: 0;
            padding: 4px 8px;
            border-bottom: 1px solid #cacaca;
            border-radius: 0;
            min-height: 20px;
            font-size: 12px;
        }

        .md-button.md-active {
            border-right: 2px solid rgb(102,153,255);
        }

        md-nav-ink-bar {
            display: none;
        }
    }

    .diseases-content {
        width: 100%;
    }
}