.target-permissions-dlg {
    height: 80%;

    form {
        flex: 1;
    }

    .clear-button {
        fill: #fff;
    }

    .action-container {
        display: flex;
        align-items: center;
    }

    .apply-button {
        fill: rgb(51,103,214);
    }

    md-dialog-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    md-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .target-permissions-grid-container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .ui-grid-container.target-permissions-grid-container {
        .ui-grid {
            flex: 1;
            display: flex;
            flex-direction: column;

            .ui-grid-contents-wrapper {
                flex: 1;
                display: flex;
                flex-direction: column;

                .ui-grid-render-container {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    .ui-grid-viewport {
                        flex: 1;
                    }
                }
            }

            .ui-grid-filter-container {
                display: none!important;
            }

            .grid-action-button {
                margin: 0 !important;
                height: 100% !important;
                width: 100% !important;
                min-height: unset !important;
                line-height: 100% !important;
                border-radius: 0;
            }
        }
    }

    .target-permissions-table {
        font-size: small;
        width: 100%;
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin-top: 10px;

        th {
            background-color: white;
            color: #333;
            border-bottom: 1px solid #ccc;
            font-weight: normal;
        }

        td.allow,
        td.deny {
            width: 100px;
            text-align: center;
        }
    }

    .target-permissions-subject-title {
        font-size: small;
    }
}

.target-owner-selector,
.target-user-role-selector {
    .owner-header-searchbox,
    .role-header-searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .owner-select-header,
    .role-select-header {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }

    md-content._md {
        max-height: 240px;
    }

    .username-container {
        display: flex;
        flex-direction: column;
    }

    .user-attributes {
        font-size: smaller;
    }
}

.target-add-user-dlg {
    max-height: 75vh;

    .target-add-user-cancel-button {
        margin-right: 20px;
    }
}
