<md-menu class="tracks-selection-container" md-offset="35 10" md-position-mode="target-right target">
    <md-button aria-label="Project info"
               class="md-icon-button tracks-selection-button"
               ng-click="$ctrl.onButtonClick($mdOpenMenu, $event)"
    >
        <ng-md-icon icon="playlist_add_check"
                    ng-click="$ctrl.openMenu($mdOpenMenu, $event)" size="20"></ng-md-icon>
        <span class="browser-hamburger-menu-icon-text">Tracks Selection</span>
    </md-button>
    <md-menu-content class="tracks-selection-content" md-whiteframe="4" ng-class="{'submenu-layout-correction': !$ctrl.projectContext.isBrowserNarrow}"
                     width="4">
        <md-checkbox aria-label="select all"
                     ng-model="$ctrl.allSelected"
        >
            Select All
        </md-checkbox>
        <md-divider></md-divider>
        <md-checkbox aria-label="o.track.name"
                     ng-if="o.track.format !== 'REFERENCE'"
                     ng-model="o.selected"
                     ng-change="$ctrl.setTrackIsSelected(o.track)"
                     ng-repeat="o in $ctrl.tracks track by $ctrl.trackHash(o.track)"
        >
            <span ng-if="o.track.format"
                  class="track-badge"
                  ng-class="{selected: o.selected}"
            >
                {{o.track.format.toUpperCase()}}
            </span>
            <span ng-if="$ctrl.getCustomName(o.track)"
                  class="custom-name"
                  title="{{$ctrl.getCustomName(o.track)}}"
            >
                {{$ctrl.getCustomName(o.track)}}
            </span>
            <span class="original-name"
                  ng-class="{'file-hint': $ctrl.getCustomName(o.track)}"
                  ng-if="!$ctrl.getCustomName(o.track) || $ctrl.showTrackOriginalName"
                  title="{{o.track.name}}"
            >
                {{o.track.name}}
            </span>
        </md-checkbox>
    </md-menu-content>
</md-menu>
