@import "../../ngbTargetsTab.variables.scss";

md-dialog.saved-dialog {
    max-width: 50%;
    max-height: 80%;

    md-toolbar {
        background-color: rgb(102,153,255);
        height: 50px;
        max-height: 50px;
        min-height: 50px;
    }

    md-dialog-content {
        margin-bottom: 20px;
        padding: 0 10px;
        overflow: auto;
    }

    .md-button {
        &.md-icon-button.delete {
            fill: rgb(183,28,28);
        }

        &:not([disabled]):hover {
            background-color: rgba(158, 158, 158, 0.2);
            border-radius: $md-chip-border-radius;
        }

        &.md-icon-button {
            fill: rgb(102, 153, 255);
            min-height: $table-control-height;
            min-width: $table-control-height;
            width: $table-control-height;
            height: $table-control-height;
            line-height: $table-control-height;
            padding: 0;
            margin: 0;
        }
    }

    .table-container {
        width: 100%;
    
        table.saved-identifications-table {
            width: 100%;

            th {
                padding: $table-header-cell-padding;
                background: $section-header-background;
                line-height: $table-header-cell-height;
                height: $table-header-cell-height;
                font-size: $table-header-cell-font-size;
                color: $table-header-cell-color;
                text-transform: capitalize;
            }
            tr td {
                padding: $table-cell-padding;
                vertical-align: bottom;
            }
    
            tr th:nth-child(1),
            tr td:nth-child(1) {
                width: 25%;
            }
    
            tr th:nth-child(2),
            tr th:nth-child(3),
            tr td:nth-child(2),
            tr td:nth-child(3) {
                width: 30%;
            }

            tr th.button-column,
            tr td.button-column {
                width: max($table-control-height, 30px);
            }
        }
    }

    input.saved-identifications-table-input {
        width: 100%;
        flex: 1;
        margin: 2px 0 0 0;
        border-radius: $table-control-border-radius;
        border: none;
        background: transparent;
        min-height: $table-control-height;
        color: $table-control-font-color;
        padding: $table-control-padding;
        font-size: $table-control-font-size;
        box-sizing: border-box;
        border-bottom: 1px solid darken($table-control-background, 20%);
    
        &.error {
            border-color: red;
        }
    
        &:hover:not(:focus) {
            background: $table-control-background;
            border-bottom: 1px solid #aaaaaa;
        }
        &:hover,
        &:active,
        &:focus {
            outline: none;
        }
    }

    md-chips {
        .md-chips.md-removable md-chip {
            padding: 0 $md-chip-remove-width 0 calc($md-chip-remove-width / 2.0);
        }

        .md-chips md-chip,
        .md-chips .md-chip-input-container {
            margin: 2px 3px;
        }

        md-chip {
            display: flex;
            align-items: center;
            height: $md-chip-size;
            line-height: $md-chip-size;
            border-radius: $md-chip-border-radius;
            padding: 0 $md-chip-border-radius;
            font-size: $md-chip-font-size;

            .md-chip-content {
                display: flex;
                align-items: center;
                height: $md-chip-size;
                line-height: $md-chip-size;
                padding: 0;
                margin: 0;
            }

            .md-chip-remove-container {
                width: $md-chip-remove-width;
                height: $md-chip-size;
                line-height: $md-chip-size;
                right: 2px;

                ng-md-icon {
                    width: $md-chip-remove-width;
                    height: $md-chip-size;
                    text-align: center;
                    cursor: pointer;

                    svg {
                        width: calc($md-chip-remove-width / 2.0);
                        height: calc($md-chip-remove-width / 2.0);
                        fill: $md-chip-color;
                    }

                    &:hover svg {
                        fill: darken($md-chip-color, 50%);
                    }
                }
            }
        }

        .md-chips .md-chip-input-container {
            line-height: $md-chip-size;
            height: $md-chip-size;

            md-autocomplete,
            md-autocomplete-wrap,
            input {
                line-height: $md-chip-size;
                height: $md-chip-size;
                font-size: $md-chip-font-size;
            }
        }
    }

    md-chips-wrap {
        border-bottom: 1px solid #cccccc;
        border-radius: 0;
        min-height: calc($md-chip-size + 2px);
        height: auto;
        padding: 0;

        &:hover {
            background: $table-control-background;
            border-bottom: 1px solid #aaaaaa;
        }
    }

    md-chips.md-default-theme .md-chips.md-focused,
    md-chips .md-chips.md-focused,
    md-chips.md-default-theme .md-chips,
    md-chips .md-chips {
        box-shadow: none;
    }
}

.saved-md-autocomplete.md-autocomplete-suggestions li {
    font-size: $md-chip-font-size;
    padding: 0 5px;
    line-height: $md-chip-size;
    height: $md-chip-size;
}

.saved-md-autocomplete.md-autocomplete-suggestions li .span-padding {
    padding: 0 20px;
}
