ngb-blast-search-panel-paginate {
  font-size: 14px;
  align-self: center;
  height: auto;
  .blast-pagination {
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
  }

  .blast-pagination-item {
    float: left;
    min-width: 10px;
    min-height: 24px;
    height: 24px;
    padding: 0;
    margin: 0 2px;
    line-height: 24px;
    color: rgb(51, 103, 214);
    ng-md-icon {
      fill: black;
      min-height: 24px;
      height: 24px;
    }
    &.active {
      color: black;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
