<md-content flex class="identification-content">
    <div class="identification-header">
        <div class="header-content">
            <h3>{{$ctrl.targetName}}</h3>
            <p>
                <span class="species-label">Interest</span>:
                <span class="species-list">{{$ctrl.interest}}</span>
            </p>
            <p>
                <span class="species-label">Translational</span>:
                <span class="species-list">{{$ctrl.translational}}</span>
            </p>
        </div>
        <md-button type="button"
                   class="md-raised md-accent store-report-button"
                   aria-label="Store report"
                   ng-click="$ctrl.storeReport()">
            Store report
        </md-button>
    </div>
    <div class="pivot-container"
        layout-padding
        ng-cloak>
        <md-whiteframe>
            <h5>DESCRIPTION</h5>
            <div class="whiteframe-content">
                <span class="description-span">
                    {{$ctrl.shortDescription}}
                </span>
            </div>
        </md-whiteframe>
        <md-whiteframe>
            <h5>KNOWN DRUGS</h5>
            <div class="whiteframe-content">
                <span>Diseases: <b>{{$ctrl.diseasesCount}}</b></span>
                <span>Drugs: <b>{{$ctrl.knownDrugsCount}}</b></span>
            </div>
        </md-whiteframe>
        <md-whiteframe>
            <h5>SEQUENCES</h5>
            <div class="whiteframe-content">
                <span>DNA: <b>1</b></span>
                <span>RNA: <b>0</b></span>
                <span>Proteins: <b>3</b></span>
            </div>
        </md-whiteframe>
        <md-whiteframe>
            <h5>COMPARATIVE GENOMICS</h5>
            <div class="whiteframe-content">
                <span>Paralogs: <b>2</b></span>
                <span>Orthologs: <b>26</b></span>
            </div>
        </md-whiteframe>
        <md-whiteframe>
            <h5>STRUCTURE</h5>
            <div class="whiteframe-content">
                <span>3D models: <b>112</b></span>
            </div>
        </md-whiteframe>
        <md-whiteframe>
            <h5>BIBLIOGRAPHY</h5>
            <div class="whiteframe-content">
                <span>Publications: <b>8083</b></span>
            </div>
        </md-whiteframe>
    </div>
    <div class="collapsible-container">
        <collapsible>
            <collapsible-panel is-open="$ctrl.isOpen.description"
                               ng-class="{'open-panel': $ctrl.isOpen.description}">
                <collapsible-panel-title>
                    DESCRIPTION
                </collapsible-panel-title>
                <collapsible-panel-content>
                    <div class="description-content"
                         layout="column"
                         layout-align="stretch middle"
                         flex="100">
                        <div ng-repeat="item in $ctrl.descriptions track by $index">
                            <h5>{{item.title}}</h5>
                            <div class="description-value">{{item.value}}</div>
                        </div>
                    </div>
                </collapsible-panel-content>
            </collapsible-panel>
            <collapsible-panel is-open="$ctrl.isOpen.drugs"
                               ng-class="{'open-panel': $ctrl.isOpen.drugs}">
                <collapsible-panel-title>
                    KNOWN DRUGS
                </collapsible-panel-title>
                <collapsible-panel-content>
                    <div layout="column"  layout-align="stretch middle" flex="100">
                        <ngb-known-drugs-panel ng-if="$ctrl.isOpen.drugs">
                        </ngb-known-drugs-panel>
                    </div>
                </collapsible-panel-content>
            </collapsible-panel>
            <collapsible-panel is-open="$ctrl.isOpen.sequences"
                               ng-class="{'open-panel': $ctrl.isOpen.sequences}">
                <collapsible-panel-title>
                    SEQUENCES
                </collapsible-panel-title>
                <collapsible-panel-content>
                    <div layout="column"  layout-align="stretch middle" flex="100">
                    </div>
                </collapsible-panel-content>
            </collapsible-panel>
            <collapsible-panel is-open="$ctrl.isOpen.genomics"
                               ng-class="{'open-panel': $ctrl.isOpen.genomics}">
                <collapsible-panel-title>
                    COMPARATIVE GENOMICS
                </collapsible-panel-title>
                <collapsible-panel-content>
                    <div layout="column"  layout-align="stretch middle" flex="100">
                    </div>
                </collapsible-panel-content>
            </collapsible-panel>
            <collapsible-panel is-open="$ctrl.isOpen.structure"
                               ng-class="{'open-panel': $ctrl.isOpen.structure}">
                <collapsible-panel-title>
                    STRUCTURE
                </collapsible-panel-title>
                <collapsible-panel-content>
                    <div layout="column"  layout-align="stretch middle" flex="100">
                    </div>
                </collapsible-panel-content>
            </collapsible-panel>
            <collapsible-panel is-open="$ctrl.isOpen.bibliography"
                               ng-class="{'open-panel': $ctrl.isOpen.bibliography}">
                <collapsible-panel-title>
                    BIBLIOGRAPHY
                </collapsible-panel-title>
                <collapsible-panel-content>
                    <div layout="column"  layout-align="stretch middle" flex="100">
                    </div>
                </collapsible-panel-content>
            </collapsible-panel>
        </collapsible>
    </div>
</md-content>