ngb-identifications-tab.tab {
    overflow: auto;
    height: calc(100% - 40px);

    .identification-content {
        margin: 10px;
        padding: 10px;
        border: 1px solid #5c5c5c;
        border-radius: 10px;
    }

    .identification-header {
        display: flex;
        justify-content: flex-start;

        .header-content {
            margin-left: 70px;
            font-size: 14px;
        }

        h3 {
            margin: 5px 0 10px 0;
        }

        .species-label {
            text-decoration: underline;
        }

        .species-list {
            font-style: italic;
        }

        p {
            margin: 5px 0;
        }

        .store-report-button {
            min-height: 25px;
            height: 25px;
            line-height: 25px;
            min-width: 120px;
            width: 120px;
            margin: 5px;
            position: absolute;
            right: 10px;
        }
    }

    .pivot-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 32px;

        md-whiteframe {
            margin: 10px;
            min-height: 80px;
            height: auto;
            width: 220px;
            box-shadow: none;
            border: 1px solid #cacaca;
            border-radius: 10px;
        }

        .whiteframe-content {
            display: flex;
            justify-content: flex-end;
            height: 50%;
            align-items: center;

            span {
                font-size: 14px;
                margin: 0 10px;
            }

            .description-span {
                margin-top: 10px;

                .element-wrapper {
                    font-size: 0;
                }

                span, a {
                    font-size: 11px;
                    margin: 0;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: rgb(102, 153, 255);
                    cursor: pointer;
                }
            }
        }
    }

    .collapsible-container {
        collapsible-panel .md-button_block {
            margin: 12px 0 0 0;
            border: 1px solid #cacaca;
            border-radius: 10px;
        }

        collapsible-panel.open-panel .md-button_block {
            border-bottom: none;
            border-radius: 10px 10px 0 0;
        }

        collapsible-panel .animate-show.u-column-padding {
            border: 1px solid #cacaca;
            border-radius: 0 0 10px 10px;
            border-top: 0;
        }

        collapsible-panel .u-column-padding {
            padding: 0 8px 8px 8px;
        }

        .description-content {
            padding: 8px;
        }

        .description-value {
            font-size: 12px;

            .element-wrapper {
                font-size: 0;
            }

            span {
                font-size: 12px;
            }

            a {
                font-size: 12px;
                display: inline-block;
                text-decoration: none;
                color: rgb(102, 153, 255);
                cursor: pointer;
            }
        }
    }
}
