ngb-identification-chat {
  ngb-chat {
    max-height: min(25vw, 300px);
  }

  ngb-floating-panel {
    width: max(300px, 33vw);

    ngb-floating-panel-title {
      display: flex;
      align-items: baseline;
      line-height: 1;

      ngb-large-language-model {
        font-size: smaller;
        margin-left: 10px;
      }
    }

    .ngb-floating-panel-content {
      padding: 0;
      background: fade-out(#ffffff, 0.15);
      backdrop-filter: blur(5px);

      ngb-chat {
        padding: 0 5px 5px 5px;
        box-sizing: border-box;
        max-height: 66vh;
        min-height: min(200px, 25vw);

        .ngb-chat-message {
          background: #f0f0f0;
        }
      }
    }
  }
}
