ngb-variant-type-diagram {
  display: block;
  height: 100%;
  position: relative;
}
.ngb-variant-type-diagram {
  padding: 0;
  background-color: #ffffff;
  margin: 0;
  .ngbTypeDiagram-holder {
    nvd3 {
      g {
        rect:hover {
          cursor: pointer;
        }
      }
    }
  }
}