<md-menu md-position-mode="target-right target" >
    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <md-menu-content class="ngb-bookmarks-table-columns-configuration" width="4">
        <md-menu-item>
            <div class="for-md-tooltip-work restore_view_button"
                 ng-click="$ctrl.onBookmarksRestoreViewClick()">
                Restore view
            </div>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
            <div class="for-md-tooltip-work">
                <md-checkbox class="text__sm" flex layout="row"
                             ng-change="$ctrl.onDisplayBookmarksFilterChange()"
                             ng-model="$ctrl.displayBookmarksFilter">
                    Show filters
                </md-checkbox>
            </div>
        </md-menu-item>
    </md-menu-content>
</md-menu>
