<div class="edit-note-container">
    <div layout="column">
        <div class="row">
            <md-input-container class="edit-note-input-container">
                <label for="note_title">Note title</label>
                <input class="input-container"
                       id="note_title"
                       ng-model="$ctrl.note.title"
                       placeholder="Enter note title"
                       required
                >
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container class="edit-note-input-container">
                <textarea id="note_desc" ng-model="$ctrl.note.description"></textarea>
            </md-input-container>
        </div>
        <div class="row" ng-show="$ctrl.error">
            <div class="edit-note-error">{{$ctrl.error}}</div>
        </div>
    </div>
    <div class="edit-note-buttons-container" layout="row">
        <md-button class="md-warn" ng-click="!$ctrl.isLoadingSave && !$ctrl.isLoadingRemove && $ctrl.deleteNote()"
                   ng-disabled="$ctrl.isLoadingSave && $ctrl.isLoadingRemove"
                   ng-if="$ctrl.note.id">
            <span ng-hide="$ctrl.isLoadingRemove">Remove</span>
            <md-progress-circular
                    md-diameter="16"
                    md-mode="indeterminate"
                    ng-show="$ctrl.isLoadingRemove">
            </md-progress-circular>
        </md-button>
        <md-button class="md-primary" ng-click="!$ctrl.isLoadingSave && !$ctrl.isLoadingRemove && $ctrl.saveNote()"
                   ng-disabled="$ctrl.isLoadingSave && $ctrl.isLoadingRemove">
            <span ng-hide="$ctrl.isLoadingSave">Save</span>
            <md-progress-circular
                    md-diameter="16"
                    md-mode="indeterminate"
                    ng-show="$ctrl.isLoadingSave">
            </md-progress-circular>
        </md-button>
        <md-button ng-click="$ctrl.ngbProjectInfoService.cancelNote()" style="margin-right:20px;">
            Cancel
        </md-button>
    </div>
</div>
