$bookmark-shadow-color: rgba(0, 0, 0, .26);
$bookmark-input-background-color: rgb(250, 250, 250);
$bookmark-input-text-color: rgb(33, 33, 33);
$bookmark-input-container-margin: 0;

ngb-bookmark {
  display: block;
  height: 36px;
  .opened-bookmark-animation {
    transition: transform 1s;
  }

  .open-bookmark {
    transform: translateX(-200px);
  }

  .md-button {
    position: absolute;

    &:hover {
      opacity: 1;
    }
    &.success-save {
      ng-md-icon {
        fill: #008000
      }
    }
    &.error-save {
      ng-md-icon {
        fill: #ff0000
      }
    }
  }

  .input-container {
    display: inline-block;
    margin: $bookmark-input-container-margin;
    box-shadow: 0 2px 5px 0 $bookmark-shadow-color;
    padding: 0 0 0 10px;
    position: relative;
    height: 36px;
    right: -36px;
    width: 200px;
    border: 0;
    color: $bookmark-input-text-color;
    font-style: italic;
    visibility: hidden;
    background-color: $bookmark-input-background-color;
    transition: transform 1s;

    &.open-bookmark {
      visibility: visible;
    }
    &:focus {
      outline: none;
    }

    .md-input {
      height: 100%;
    }

    .md-errors-spacer {
      min-height: 0;
      height: 0;
    }
  }
}
