<div layout="row" layout-wrap>

    <div flex="100" layout="column">


        <div flex layout="row" layout-align="space-between center">
            <md-checkbox class="md-primary" ng-model="$ctrl.layoutState" aria-label="layout state">
                Layout state
            </md-checkbox>
            <div class="checkbox-state">
                <span>panelsHeadersVisible = {{$ctrl.showState($ctrl.panelsHeadersVisibleValue)}}</span>
                <md-checkbox ng-model="$ctrl.panelsHeadersVisibleValue" aria-label="panels headers visible">
                </md-checkbox>
            </div>
        </div>
        <div flex layout="row" layout-align="space-between center">
            <md-checkbox class="md-primary" ng-model="$ctrl.mainToolbarVisible" aria-label="main toolbar visible">
                Main toolbar visible
            </md-checkbox>
            <div class="checkbox-state">
                <span>mainToolbarVisible = {{$ctrl.showState($ctrl.mainToolbarVisibleValue)}}</span>
                <md-checkbox ng-model="$ctrl.mainToolbarVisibleValue" aria-label="main toolvar visible value">
                </md-checkbox>
            </div>
        </div>
        <div flex layout="row" layout-align="space-between center">
            <md-checkbox class="md-primary" ng-model="$ctrl.screenShotVisible" aria-label="screenshot visible">
                Screenshot button visible
            </md-checkbox>
            <div class="checkbox-state">
                <span>screenshotVisible = {{$ctrl.showState($ctrl.screenShotVisibleValue)}}</span>
                <md-checkbox ng-model="$ctrl.screenShotVisibleValue" aria-label="screenshot visible value">
                </md-checkbox>
            </div>
        </div>
        <md-divider ></md-divider>
        <div flex class="un-group-row-item">
            <md-checkbox class="md-primary" ng-model="$ctrl.rewriteLayout" aria-label="rewrite layout">
                Rewrite layout
            </md-checkbox>
        </div>
        <md-divider ></md-divider>
        <md-input-container class="md-block">
            <label for="alias">URL Alias</label>
            <input id="alias"
                   name="alias"
                   aria-label="URL Alias"
                   ng-model="$ctrl.alias">
        </md-input-container>
    </div>
</div>