<div class="strain-lineage-node-container">
    <div class="strain-lineage-node-title" ng-if="$ctrl.nodeData.title">{{$ctrl.nodeData.title}}</div>
    <div class="strain-lineage-node-link" ng-if="$ctrl.nodeData.link">
        <a href="">
            <span ng-if="$ctrl.nodeData.title">(</span>
            <span>{{$ctrl.nodeData.link}}</span>
            <span ng-if="$ctrl.nodeData.title">)</span>
        </a>
    </div>
    <div class="strain-lineage-node-desc" ng-if="$ctrl.nodeData.desc">{{$ctrl.nodeData.desc}}</div>
</div>
