<div class="strain-lineage-node-container"
     ng-class="{'selected': $ctrl.selected}"
     ng-mousedown="$ctrl.onMouseDown($event)"
     ng-mousemove="$ctrl.onMouseMove($event)"
     ng-mouseup="$ctrl.onMouseUp($event)">
    <div class="strain-lineage-node-title"
         ng-if="!$ctrl.nodeData.referenceId">
        {{$ctrl.nodeData.title | crop}}
    </div>
    <div class="strain-lineage-node-title strain-lineage-node-link"
         ng-if="$ctrl.nodeData.referenceId"
         ng-mouseup="$ctrl.navigateToReference($event, $ctrl.nodeData.referenceId)">
        {{$ctrl.nodeData.title | crop}}
    </div>
    <div class="strain-lineage-node-desc"
         ng-if="$ctrl.nodeData.creationDate">
        {{$ctrl.nodeData.creationDate | date}}
    </div>
</div>
