<div class="strain-lineage-node-container"
     ng-mousedown="$ctrl.onMouseDown()"
     ng-mousemove="$ctrl.onMouseMove()"
     ng-mouseup="$ctrl.onMouseUp($event)">
    <div class="strain-lineage-node-title" ng-if="!$ctrl.nodeData.referenceId">{{$ctrl.nodeData.title}}</div>
    <div class="strain-lineage-node-link" ng-if="$ctrl.nodeData.referenceId" ng-mouseup="$ctrl.navigateToReference($event, $ctrl.nodeData.referenceId)">
        {{$ctrl.nodeData.title}}
    </div>
    <div class="strain-lineage-node-desc" ng-if="$ctrl.nodeData.creationDate">{{$ctrl.nodeData.creationDate}}</div>
    <div class="strain-lineage-node-desc" ng-if="$ctrl.nodeData.desc">{{$ctrl.nodeData.desc}}</div>
</div>
