<div
        class="ui-grid-header"
        role="rowgroup"> <!-- theader -->
  <div
          class="ui-grid-top-panel">
    <div
            class="ui-grid-header-viewport">
      <div
              class="ui-grid-header-canvas">
        <div
                class="ui-grid-header-group"
                ng-class="[
          group.cssClass,
          {
            named: group.name,
            unnamed: !group.name
          }
        ]"
                ng-repeat="group in colContainer.renderedColumnGroups track by $index">
          <div
                  class="ui-grid-header-group-name ui-grid-cell-contents"
                  ng-if="group.name">
            {{group.name}}
          </div>
          <div
                  class="ui-grid-header-cell-wrapper">
            <div
                    class="ui-grid-header-cell-row"
                    role="row">
              <div
                      class="ui-grid-header-cell ui-grid-clearfix"
                      col="col"
                      ng-class="{
                'first-in-group': col.isFirstInGroup,
                'last-in-group': col.isLastInGroup
              }"
                      ng-repeat="col in group.columns track by col.uid"
                      ui-grid-header-cell>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
