ngb-coverage-filter-list {
    .ui-grid-filter-input.ngb-filter-input {
        margin-bottom: 1px;
        width: 95%;
        margin-left: 1%;
    }
}
  
.ngb-filter-list-container {
    background-color: #ffffff;
    position: fixed;
    width: 200px;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 10;

    .ngb-filter-list-item {
        min-height: 20px;
        padding: 3px;

        .ngb-filter-list-item-placeholder {
            font-style: italic;
        }
    }

    .ngb-filter-list-loading {
        padding: 10px;
    }
}
  