<div layout="column">
    <div ng-show="$ctrl.isHistoryLoading">
        <div class="progress" layout-align="center center">
            <span>Loading history...</span>
        </div>
        <md-progress-linear md-mode="query"></md-progress-linear>
    </div>
    <div ng-if="$ctrl.errorHistory.length" class="md-padding">
        <ngb-panel-error-list message-list="$ctrl.errorHistory"></ngb-panel-error-list>
    </div>
    <div ng-if="$ctrl.data && !$ctrl.errorHistory.length && !$ctrl.isHistoryLoading">
        <div flex="100"
             ng-repeat="change in $ctrl.data"
             layout="row"
             layout-wrap
             class="change-row"
            >
                <div flex="100" class="change-info">
                    {{$ctrl.changeInfo(change)}}
                </div>
                <div flex="20" class="change change-name">
                    {{change.field}}
                </div>
                <div flex="15" class="change change-value change-value-old">
                    {{change.oldValue ? change.oldValue : 'NA'}}
                </div>
                <div flex="15" class="change change-value change-value-new">
                    {{change.newValue ? change.newValue : 'NA'}}
                </div>
            </div>
    </div>
</div>