.change-row {
    border: 0;
    margin: 20px;
}

.change {
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.change-name {
    font: 700 13px Arial;
    color: #999;
    line-height: 3;
}

.change-value {
    margin-left: 10px;
    text-align: center;
    line-height: 3;
    font-size: 13px;
}

.change-value-old {
    text-decoration: line-through;
    background-color: #ffb3b3;
}
.change-value-new {
    background-color:#85e085;
}