.ngb-track-notification {
  position: absolute;
  right: 50px;
  top: 30px;
  z-index: 2;
  overflow: visible;
  display: none;
  font-size: small;

  &.visible {
    display: block;
  }

  .ngb-track-notification-content {
    padding: 15px 10px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 2px #aaa;
    position: relative;

    .track-notification-text {
      margin: 0 20px 5px 0;
    }

    .track-notification-close-button {
      fill: rgb(119, 119, 119);
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;

      &:hover {
        fill: rgb(50, 50, 50);
      }
    }

    .track-notification-dialog-checkbox-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .track-notification-dialog-checkbox {
        margin: 0;
      }
    }
  }
}
