ngb-bookmark {
  display: block;
  height: 36px;

  .md-button {
    float: right;
    vertical-align: top;

    &:hover {
      opacity: 1;
    }
  }
}

.save-dlb-error {
  color: rgb(213,0,0);
}

.save-bookmark-dlg-content {
  min-width:600px;
  max-width: 800px;
  margin: 10px 30px;
  padding: 10px;
  .save-bookmark-dlg-select-container {
    width: 100%;
  }
}
