<md-toolbar class="md-header-toolbar" ng-if="$ctrl.toolbarVisibility">
    <div layout="row" layout-wrap>
        <div class="ngb-header" flex>
            <h3 hide show-gt-sm class="md-title page-title" ui-sref="default" ui-sref-opts="{ inherit: false }">GENOME BROWSER</h3>
            <h3 hide-gt-sm class="md-title page-title" ui-sref="default" ui-sref-opts="{ inherit: false }">GB</h3>
            <ngb-project-title></ngb-project-title>
            <ngb-version></ngb-version>
            <ngb-main-settings></ngb-main-settings>
            <ngb-tool-windows></ngb-tool-windows>
            <ngb-share-link></ngb-share-link>
        </div>
    </div>
</md-toolbar>
