@import "./ngbStructurePanel.variables.scss";

ngb-structure-panel {
    padding: 5px 0 0;
    position: relative;

    ngb-structure-table .ui-grid {
        border-top: $structure-table-border;
    }

    .loading-indicator {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .structure-table-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;

        .action-container {
            margin-left: auto;
            display: flex;
        }

        .export-link  {
            color: rgb(102, 153, 255);
            cursor: pointer;
            min-height: 28px;
            line-height: 28px;
            font-size: $structure-font-size;
            min-width: 40px;
            padding: 0 8px;
            margin: 0;
        }

        .structure-source-select {
            margin-left: 8px;
            display: inline-flex;
            align-items: center;

            md-input-container,
            label {
                margin: 0;
                padding: 0;
                line-height: $structure-nav-height;
                height: $structure-nav-height;
                color: $structure-font-color;
                font-size: $structure-font-size;
            }

            label {
                margin-right: 5px;
            }

            md-input-container md-select {
                &:not([disabled]):focus .md-select-value {
                    border-bottom: none;
                }

                md-select-value {
                    border: none;
                    min-height: $structure-nav-height;
                    padding: 0;
                    font-size: $structure-font-size;
                    display: flex;
                    align-items: center;

                    .md-select-icon {
                        margin: 0 4px 0 0;
                        width: 20px;
                    }

                    > span,
                    > span > div {
                        line-height: $structure-nav-height;
                        height: $structure-nav-height;
                        transform: none !important;
                    }
                }
            }
        }
    }

    ngb-panel-error-list {
        .layout-padding,
        .layout-padding > * {
            padding: 0 !important;
        }

        md-list-item,
        md-list-item .md-list-item-inner {
            min-height: 24px;
            height: 24px;
            font-size: 14px;
        }
    }
}

.structure-source-select-container {
    md-select-menu:not(.md-overflow) md-content {
        padding: 0;
    }

    md-option {
        padding: 0 8px;
        height: calc($structure-nav-height + 2px);

        &[selected],
        &:not([disabled]):focus {
            color: $structure-font-color;
        }
    }

    md-select-menu,
    md-select-menu md-content {
        min-height: calc($structure-nav-height + 2px);
    }
}