@import "../../ngbTargetPanel.variables.scss";

$structure-nav-height: $general-control-height;
$structure-font-size: $general-font-size;
$structure-font-color: #444444;
$structure-table-border: $general-border;

$structure-warning-color: $general-warning-color;