.hotkey-error {
  color: red;
  line-height: normal;
  margin-left: 6px;
}

.hotkey-warning {
  color: #f39c12;
  line-height: normal;
  margin-left: 6px;
}

.hotkey-btn {
  padding: 0 4px 0 4px;
  font-size: 12px;
  line-height: normal;
  min-height: 30px;
}
