.filters-not-displayed {
  .gene-column-filtered {
    background-color: #dcffe7;
  }
}

.genes-loading {
  position: absolute;
  top: 0;
  z-index: 1;
}

.select-reference-warning,
.no-records-warning {
  color: #999;
}

.genes-load-error-container {
  background-color: #ffe1b2;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.genes-reloading-container {
  background-color: lightgray;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.genes-empty-result-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.25;
  font-size: 3em;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.icon-info-loading {
  padding: 4px 8px;
  height: 32px;
}

ngb-genes-table .ui-grid-container .ui-grid-row:hover > [ui-grid-row] .ui-grid-cell {
  background-color: rgba(66, 133, 244, 0.1);
}
