<div class="md-padding"
     ng-if="!$ctrl.isInitialized && !$ctrl.isProgressShown">
    <md-content flex
                class="select-reference-warning">
        <span>Select a dataset to browse genes</span>
    </md-content>
</div>
<div class="md-padding"
     ng-if="$ctrl.isEmptyResults">
    <md-content flex
                class="no-records-warning">
        <span>No records found.</span>
    </md-content>
</div>
<div class="ui-grid-container"
     ng-hide="$ctrl.errorMessageList.length"
     ng-if="!$ctrl.isEmptyResults && $ctrl.isInitialized && !$ctrl.isProgressShown">
    <div class="genes-load-error-container" ng-if="$ctrl.geneLoadError">
        <small>{{$ctrl.geneLoadError}}</small>
    </div>
    <div class="genes-reloading-container" ng-if="$ctrl.reloading">
        <small>Reloading...</small>
    </div>
    <div ng-class="{'filters-not-displayed': !$ctrl.ngbGenesTableService.displayGenesFilter}"
         ui-grid="$ctrl.gridOptions"
         ui-grid-auto-resize
         ui-grid-infinite-scroll
         ui-grid-move-columns
         ui-grid-pinning
         ui-grid-resize-columns
         ui-grid-save-state
         ui-grid-selection
    ></div>
</div>

<div class="md-padding" ng-if="$ctrl.errorMessageList.length">
    <ngb-panel-error-list message-list="$ctrl.errorMessageList"></ngb-panel-error-list>
</div>
