<div class="blast-search-flex-column">
    <form class="md-inline-form pathways-search-container"
          name="pathwaysSearchForm"
          ng-if="$ctrl.currentPathwaysState !== $ctrl.pathwaysStates.INTERNAL_PATHWAYS_RESULT"
          ng-submit="$ctrl.searchPathway()">
        <md-input-container class="pathways-search-input" flex>
            <label class="pathways-search-input-label" for="searchKeyword">Search keyword</label>
            <input id="searchKeyword" name="search_keyword" ng-model="$ctrl.searchRequest" type="text">
        </md-input-container>
        <md-button aria-label="search"
                   class="md-accent md-raised search-button pathways-search-button"
                   ng-click="$ctrl.searchPathway()"
                   ng-disabled="!$ctrl.searchRequest"
                   type="submit"
        >
            Search
        </md-button>
    </form>
    <md-content class="md-padding _md blast-search-result blast-search-flex-column">
        <div class="u-height__full pathways-no-feature" layout="row" layout-align="center center"
             ng-if="!$ctrl.currentPathwaysState">
            Type keyword to start search.
        </div>

        <ngb-internal-pathways-table change-state="$ctrl.changeState(state)"
                                     class="blast-search-flex-column"
                                     flex
                                     ng-if="$ctrl.currentPathwaysState === $ctrl.pathwaysStates.INTERNAL_PATHWAYS"></ngb-internal-pathways-table>
        <ngb-internal-pathways-result change-state="$ctrl.changeState(state)"
                                      class="blast-search-flex-column"
                                      flex
                                      ng-if="$ctrl.currentPathwaysState === $ctrl.pathwaysStates.INTERNAL_PATHWAYS_RESULT"></ngb-internal-pathways-result>
    </md-content>
    <md-nav-bar class="blast-search-nav-bar" md-selected-nav-item="$ctrl.tabSelected"
                ng-if="$ctrl.currentPathwaysState === $ctrl.pathwaysStates.INTERNAL_PATHWAYS">
        <ngb-pathways-panel-paginate change-page="$ctrl.service.changePage(page)"
                                     current-page="$ctrl.service.currentPage"
                                     flex
                                     total-pages="$ctrl.service.totalPages"
        ></ngb-pathways-panel-paginate>
    </md-nav-bar>
</div>
