.pathways-link {
  color: rgb(51, 103, 214);
  font-weight: bold;
  cursor: pointer;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.pathways-search-result {
  padding: 5px 2px;

  .pathways-search-result-title {
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
  }
}

.pathways-no-feature {
  font-weight: bold;
}

.pathways-search-container {
  width: 100%;
  display: flex;
  margin-top: 10px;

  .pathways-search-input {
    font-size: 14px;
    margin: 5px 0 10px 6px;

    .pathways-search-input-label {
      padding-bottom: 2px;
    }
  }
  .pathways-search-button {
    margin: 6px 2px 6px 10px;
    line-height: 32px;
    min-height: 32px;
    height: 32px;
  }
}

.pathways-search-input .md-errors-spacer {
  min-height: 0;
}

.add-annotation-dlb-content {
  min-width:600px;
  max-width: 800px;
  margin: 10px 30px;
  .md-errors-spacer {
    min-height: 0;
  }
  .add-annotation-divider {
    border-top: 2px solid rgba(0,0,0,0.12);
  }
}
