<div ng-if="!$ctrl.isDataLoaded">
    <div class="progress" layout-align="center center">
        <span>Loading sessions...</span>
    </div>
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div layout="row" class="golden-layout-content-0" layout-fill>
    <div class="variants-load-error-container" ng-if="$ctrl.resultTableError">
        <small>{{$ctrl.resultTableError}}</small>
    </div>
    <div class="ui-grid-container" ng-if="$ctrl.isDataLoaded && !$ctrl.resultTableError">
        <div ui-grid="$ctrl.gridOptions"
             ui-grid-selection
             ui-grid-pagination
             ui-grid-resize-columns
             ui-grid-auto-resize
             ui-grid-move-columns
             ng-class="{'filters-not-displayed': !$ctrl.ngbBookmarksTableService.displayBookmarksFilter}"
        ></div>
        <div class="bookmarks-empty-result-container"
             ng-if="$ctrl.isNothingFound">
            <md-content class="no-records-warning"
                        flex>
                <span>Sessions not found.</span>
            </md-content>
        </div>
    </div>
</div>
