<div ng-if="!$ctrl.isDataLoaded">
    <div class="progress" layout-align="center center">
        <span>Loading sessions...</span>
    </div>
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div layout="row" class="golden-layout-content-0" layout-fill>
    <div ng-if="$ctrl.isNothingFound" flex class="project-not-selected-warning">
        <span ng-if="$ctrl.searchPattern && $ctrl.searchPattern.length">Sessions not found for <strong>{{$ctrl.searchPattern}}</strong></span>
        <span ng-if="!$ctrl.searchPattern || !$ctrl.searchPattern.length">Sessions not found</span>
    </div>
    <div class="ui-grid-container" ng-if="$ctrl.isDataLoaded && !$ctrl.isNothingFound">
        <div ui-grid="$ctrl.gridOptions"
             ui-grid-selection
             ui-grid-resize-columns
             ui-grid-auto-resize
             ui-grid-move-columns
        ></div>
    </div>
</div>