ngb-bookmarks-table {
  display: block;
  width: 100%;
  height: 100%;

  .bookmark-delete-button {
    min-width: 0;
    fill: rgb(51, 103, 214);
    margin: 0 5px 0 0;
    padding: 0 2px;
  }

}

.project-not-selected-warning {
  padding-top: 20px;
  text-align: center;
  span {
    font-size: small;
    color: #999999;
    strong {
      color: #666666;
    }
  }
}

.filters-not-displayed {
  .bookmark-column-filtered {
    background-color: #dcffe7;
  }
}
