ngb-project-info-panel {
  .description-container {
    width: 100%;
    height: 100%;
  }
  .project-note-container {
    width: 100%;
    padding: 20px;
  }
  .project-note-edit-button {
    float: left;
  }
}

.selected-files-summary {
  margin-top: 20px;
}

.description-frame {
  width: 100%;
  height: 100%;
}
