ngb-project-info-panel {
  .description-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .project-note-header {
    border-bottom: 1px #000 solid;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .project-note-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .project-note-edit-button {
    float: right;
  }
}

.selected-files-summary {
  margin-top: 20px;
}

.description-frame {
  width: 100%;
  height: 100%;
}
