ngb-project-info-panel {
  .description-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .project-note-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .project-note-edit-button {
    float: right;
  }

  .ngb-heatmap {
    margin: 5px 16px 5px 14px;
    display: flex;
    min-height: 80vh;
  }
}

.selected-files-summary {
  margin-top: 20px;
}

.description-frame {
  width: 100%;
  height: 100%;
}
