ngb-project-info-panel {
  .description-container {
    width: 100%;
    height: 100%;
  }
  .project-note-container {
    width: 100%;
    height: 100%;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
  }
  .markdown {
    overflow: auto;
    margin-right: -20px;
  }
  .project-note-edit-button {
    position: absolute;
    right: 20px;
    top:20px;
  }

  .ngb-heatmap {
    margin: 5px 16px 5px 14px;
    display: flex;
    min-height: 80vh;
  }
}

.selected-files-summary {
  margin-top: 20px;
}

.description-frame {
  width: 100%;
  height: 100%;
}
