ngb-bibliography-pagination {
    font-size: 14px;
    align-self: center;
    height: auto;
    margin-right: 10px;
    float: right;

    .pagination {
        margin-right: 5px;
    }

    .pagination-item {
        float: left;
        min-width: 10px;
        min-height: 24px;
        height: 24px;
        padding: 0;
        margin: 0 2px;
        line-height: 24px;
        color: rgb(102, 153, 255);
        
        ng-md-icon {
            fill: rgb(102, 153, 255);
            min-height: 24px;
            height: 24px;
        }

        &.active {
            color: rgb(102, 153, 255);
            text-decoration: underline;
            font-weight: bold;
        }
    }
}