ngb-bibliography-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .pagination-item {
        float: left;
        min-width: 10px;
        min-height: 24px;
        height: 24px;
        padding: 0;
        margin: 0 2px;
        line-height: 24px;
        color: rgb(102, 153, 255);

        ng-md-icon {
            fill: rgb(102, 153, 255);
            min-height: 24px;
            height: 24px;
        }

        &.active {
            color: rgb(102, 153, 255);
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
