<div class="pagination-info">
    <span ng-if="$ctrl.totalPages > 0">
        Page {{$ctrl.currentPage}} of {{$ctrl.totalPages}}
    </span><span>
         ({{$ctrl.totalPublications}} publication{{$ctrl.totalPublications === 1 ? '' : 's'}})
    </span>
</div>
<div ng-if="$ctrl.totalPages > 1">
    <md-button class="pagination-item"
                md-no-ink
                ng-repeat="page in $ctrl.pages track by $index"
                ng-class="{active:page.value === $ctrl.currentPage}"
                ng-click="$ctrl.setPage(page.value)"
                aria-label="Page {{page.value}}">
        <ng-md-icon ng-if="page.isFirst" icon="keyboard_arrow_left" size="24"></ng-md-icon>
        <span ng-if="!page.isFirst && !page.isLast">{{page.value}}</span>
        <ng-md-icon ng-if="page.isLast" icon="keyboard_arrow_right" size="24"></ng-md-icon>
    </md-button>
</div>
