<md-menu>
    <md-button aria-label="Info Product" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-src="../../../../assets/icons/infoProduct.svg" aria-label="share"></md-icon>
    </md-button>
    <md-menu-content width="4" class="ngb-tool-menu" md-whiteframe="4">
        <ngb-version></ngb-version>
        <div class="page-title-header" flex layout>
            <div class="page-title-logo">
                <md-icon md-svg-src="../../../../assets/icons/infoProduct.svg" aria-label="share"></md-icon>
            </div>
            <h3 show-gt-sm class="md-title page-title">
                NEW GENOME BROWSER</h3>
        </div>
        <div flex class="report-issues" layout="row">
            <span>Report issues: </span>
            <a href="https://github.com/epam/NGB/issues" target="_blank">https://github.com/epam/NGB/issues</a>
        </div>
    </md-menu-content>
</md-menu>
