.create-project-btn {
  background-color: #106CC8 !important;
}

.edit-project-button {
  float: right;
}

.md-small {
  min-width: 24px !important;
  min-height: 24px !important;
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  margin: 0 0 0 5px !important;

}