<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" shutdownHook="disable">
    <Properties>
        <Property name="LOG_PATTERN">%-5p [%d{dd/MM/yyyy HH:mm:ss}][%c{1}] %m%n</Property>
        <Property name="DETAILED_PATTERN">%-5p [%d{dd/MM/yyyy HH:mm:ss}][%t][%c] %m%n</Property>
        <Property name="LOG_DIR">./logs</Property>
        <Property name="MAX_FILE_SIZE">100MB</Property>
        <Property name="MAX_HISTORY">30</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </Console>

        <!-- Optional File Appender for Debug Logs -->
        <RollingFile name="DebugFile"
                     fileName="${LOG_DIR}/application-debug.log"
                     filePattern="${LOG_DIR}/application-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${DETAILED_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${MAX_HISTORY}"/>
        </RollingFile>

        <!-- Optional File Appender for Error Logs -->
        <RollingFile name="ErrorFile"
                     fileName="${LOG_DIR}/application-error.log"
                     filePattern="${LOG_DIR}/application-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${DETAILED_PATTERN}" charset="UTF-8"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${MAX_HISTORY}"/>
        </RollingFile>

        <!-- Async Appenders for Better Performance -->
        <Async name="AsyncDebug" bufferSize="1000">
            <AppenderRef ref="DebugFile"/>
        </Async>

        <Async name="AsyncError" bufferSize="500">
            <AppenderRef ref="ErrorFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <!-- Framework and Third-party Loggers -->
        <Logger name="org.springframework.aop.framework.CglibAopProxy" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncError"/>
        </Logger>

        <Logger name="com.epam.catgenome" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncDebug"/>
            <AppenderRef ref="AsyncError"/>
        </Logger>

        <Logger name="org.apache.commons.beanutils" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncError"/>
        </Logger>

        <Logger name="com.mchange" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncError"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncDebug"/>
            <AppenderRef ref="AsyncError"/>
        </Root>
    </Loggers>
</Configuration>
