<md-dialog aria-label="Edit/Create group or role" style="max-height: 75vh;">
    <form name="roleForm">
        <md-toolbar style="height: 48px; min-height: 48px; max-height: 48px">
            <div class="md-toolbar-tools">
                <h2 ng-if="ctrl.dialogTitle">{{ctrl.dialogTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()" aria-label="Close">
                    <ng-md-icon style="fill: #fff;" icon="clear"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content class="md-padding">
                <div class="column">
                    <div layout="row">
                        <md-input-container class="flex">
                            <input name="groupName"
                                   type="text"
                                   required
                                   ng-disabled="!ctrl.isNewGroup"
                                   placeholder="Name"
                                   ng-model="ctrl.groupName" />
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-checkbox name="userDefault"
                                     aria-label="User default"
                                     ng-model="ctrl.userDefault">
                            User default
                        </md-checkbox>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Select user to add</label>
                            <md-select ng-model="ctrl.selectedUsers"
                                       name="add_user"
                                       md-on-close="ctrl.clearSearchTerm()"
                                       md-container-class="role-user-selector"
                                       multiple>
                                <md-select-header class="user-select-header">
                                    <input ng-model="ctrl.searchTerm"
                                           ng-keydown="$event.stopPropagation()"
                                           type="search"
                                           placeholder="Search for a user..."
                                           class="md-text user-header-searchbox" />
                                </md-select-header>
                                <md-optgroup label="Users">
                                    <md-option
                                            ng-repeat="user in ctrl.availableUsers | filter:ctrl.searchTerm"
                                            ng-value="user">
                                        {{user.name}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-button ng-click="ctrl.addUsersToGrid()">Add</md-button>
                    </div>
                    <div layout="row" style="max-height: 50vh;">
                        <div ng-if="ctrl.formGridOptions.data.length" class="ui-grid-container flex">
                            <!-- todo: error ? -->
                            <div ui-grid="ctrl.formGridOptions"
                                 ui-grid-save-state
                                 ui-grid-selection
                                 ui-grid-resize-columns
                                 ui-grid-auto-resize
                                 ui-grid-move-columns
                                 ui-grid-pinning
                                 ui-grid-infinite-scroll
                            ></div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn" ng-if="ctrl.deletable" ng-click="ctrl.delete()">
                Delete
            </md-button>
            <span flex></span>
            <md-button class="md-primary" ng-disabled="!ctrl.isValid" ng-click="ctrl.save()">
                {{ctrl.isNewGroup ? 'Create' : 'Save'}}
            </md-button>
            <md-button ng-click="ctrl.cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
