<span class="list-cell"
      ng-if="row.entity">
    <md-tooltip class="target-genes-table-tooltip"
                ng-if="grid.appScope.$ctrl.isParasite && row.entity[col.field]"
                md-direction="top">
        {{row.entity[col.field]}}
    </md-tooltip>
    <ngb-target-genes-list value="row.entity[col.field]"
                           field="col.field"
                           row="row.entity"
                           select-gene="grid.appScope.$ctrl.onSelectGene"
                           change-text="grid.appScope.$ctrl.onChangeGeneName">
    </ngb-target-genes-list>
</span>