<span class="select-cell"
      ng-if="row.entity">
    <md-tooltip class="target-genes-table-tooltip"
                ng-if="grid.appScope.$ctrl.isParasite && row.entity[col.field]"
                md-direction="top">
        {{row.entity[col.field]}}
    </md-tooltip>
    <md-select ng-model="row.entity[col.field]"
               class="ngb-targets-form-table-select"
               aria-label="Select {{col.field}}"
               md-container-class="select-cell-container"
               ng-disabled="!grid.appScope.$ctrl.changeAllowed">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="option in grid.appScope.$ctrl.optionsList[col.field]"
                   ng-value="option.value">
            {{option.name}}
        </md-option>
    </md-select>
</span>