<span class="select-cell"
      ng-if="row.entity">
    <md-tooltip class="target-genes-table-tooltip"
                ng-if="grid.appScope.$ctrl.isParasite && row.entity[col.field]"
                md-direction="top">
        {{row.entity[col.field]}}
    </md-tooltip>
    <md-select ng-model="row.entity[col.field]"
               class="ngb-targets-form-table-select"
               aria-label="Select priority"
               md-container-class="priority-select">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="priority in grid.appScope.$ctrl.priorityList"
                   ng-value="priority.value">
            {{priority.name}}
        </md-option>
    </md-select>
</span>