.z-index-more {
  z-index: 9999;
}

.for-md-tooltip-work {
  pointer-events: auto
}

.md-icon-button {
  md-icon.icon-info {
    margin-top: 3px;
    height: 14px;
    min-height: 14px;
    width: 24px;
    min-width: 24px;
  }
}

.expandable-panel {
  border: 1px dashed dimgray;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  .expandable-panel-title {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .expandable-panel-title span:before {
    content: '\25B2';
    transform:rotate(90deg);
    display: inline-block;
  }
  .expandable-panel-title span.toggled:before {
    transform:rotate(180deg);
  }
  .expandable-panel-content {
    margin-top: 10px;
  }
}
