<div layout="column">
    <collapsible>
        <collapsible-panel is-open="true" disabled="$ctrl.editMode">
            <collapsible-panel-title>
                General information
            </collapsible-panel-title>
            <collapsible-panel-content>
                <md-button
                    class="general-information-buttons edit-button"
                    ng-if="$ctrl.uuid && !$ctrl.editMode"
                    ng-click="$ctrl.onClickEditBtn()">
                    Edit
                </md-button>
                <md-button
                    class="general-information-buttons save-button"
                    ng-if="$ctrl.editMode"
                    ng-click="$ctrl.onClickSaveBtn()"
                    ng-disabled="$ctrl.disableSave || $ctrl.saveInProgress">
                    Save
                </md-button>
                <md-button
                    class="general-information-buttons cancel-button"
                    ng-if="$ctrl.editMode"
                    ng-click="$ctrl.onClickCancelBtn()">
                    Cancel
                </md-button>
                <div ng-if="$ctrl.saveInProgress">
                    <div class="progress save-info" layout-align="center center" style="height: 20px;">
                        <span style="line-height: 0px;">Saving...</span>
                    </div>
                    <md-progress-linear md-mode="query"></md-progress-linear>
                </div>
                <div ng-if="$ctrl.saveError" class="md-padding">
                    <ngb-panel-error-list message-list="$ctrl.saveError"></ngb-panel-error-list>
                </div>
                <ngb-info-rows properties="$ctrl.properties" editmode="$ctrl.editMode"></ngb-info-rows>
                <div ng-hide="$ctrl.isReadLoadingis" >
                    <div ng-if="$ctrl.sequenceWithQualities">
                        <div class="title-unit">Sequence</div>
                        <span class="sequence-with-qualities" ng-repeat="sequence in $ctrl.sequenceWithQualities">
                        <div>
                            {{sequence.nucleotide}}
                        </div>
                        <div>
                            {{sequence.qualitie}}
                        </div>
                    </span>
                    </div>
                    <div class="tags-unit" ng-if="$ctrl.tags">
                        <div class="title-unit">Tags</div>
                        <ngb-info-rows properties="$ctrl.tags"></ngb-info-rows>
                    </div>
                </div>
                <md-progress-linear ng-show="$ctrl.isReadLoadingis" md-mode="indeterminate"></md-progress-linear>
            </collapsible-panel-content>
        </collapsible-panel>
    </collapsible>

    <collapsible ng-show="$ctrl.read === undefined">
        <collapsible-panel is-open="true">
            <collapsible-panel-title>
                Sequence
            </collapsible-panel-title>
            <collapsible-panel-content>
                <div flex="100" layout="row" layout-wrap class="property-row">
                    <div flex="100" class="property property-value">
                        <div layout="row" ng-hide="$ctrl.isSequenceLoading || $ctrl.error" layout-align="stretch middle">
                            <textarea class="sequence-area" flex wrap="hard">{{$ctrl.sequence}}</textarea>
                        </div>
                        <div layout="row" ng-show="$ctrl.error">
                            <span class="sequence-loading-error">{{$ctrl.error}}</span>
                        </div>
                        <md-progress-linear ng-show="$ctrl.isSequenceLoading" md-mode="determinate"
                                            value="{{$ctrl.sequenceProgress}}"
                                            flex="100"></md-progress-linear>
                    </div>
                </div>
            </collapsible-panel-content>
        </collapsible-panel>
    </collapsible>
</div>
