.feature-dialog {
  width: 50%;
}

.sequence-area {
  max-height: 100px;
  min-height: 100px;
  border: 0px solid transparent;
}

.feature-header {
  margin: 0px;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
}
ngb-feature-info-main{
  collapsible-panel-title{
    font: 400 18px Arial;
    text-transform: none;
  }
}

.title-unit {
  padding: 7px;
  font: 700 13px Arial;
  color: #666;
  text-transform: none;
}

.sequence-with-qualities {
  font: 13px Arial;
  color: #666;
  padding: 7px;
  float:left;
}

.tags-unit {
  clear:left;
}

.sequence-loading-error {
  color: red;
}

.general-information-buttons {
  position: absolute;
  top: 65px;
  margin: 0px;
  font-size: 14px;
  color: #6699ff;
}

.edit-button {
  right: 10px;
}

.cancel-button {
  right: 10px;
  color: #494949;
}

.with-tab {
  top: 0px;
  right: 0px;
}

.save-button {
  right: 90px;
}
