@import "./ngbTargetPanel.variables";

.target-panel {
  display: flex;
  flex-direction: column;
  overflow: auto;

  md-content.target-panel-content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .tab {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }

  .md-button.with-circular {
    display: flex;
  }

  md-progress-circular {
    margin: 0 10px;
  }

  ngb-panel-error-list {
    padding: 0;

    .layout-padding, .layout-padding > * {
        padding: 0;
    }

    .ngb-panel-error-list md-content.md-warn {
        border-top: 0;
    }

    md-list-item, md-list-item .md-list-item-inner {
        min-height: 18px;
        height: 19px;
        overflow: hidden;
        font-size: $general-font-size;
        float: right;
        padding: 0 50px;
    }
  }
}

.target-nav-bar .md-nav-bar {
  height: 36px;
  line-height: 36px;
  .md-nav-item {
    height: 36px;
    line-height: 36px;
    margin: 0;
    .md-button {
      padding: 0 10px;
      margin: 0;
      min-width: 0;
      font-weight: normal;
      color: rgb(51, 51, 51);
    }
  }
}

.ngb-target-panel-extra-button {
  min-height: 25px;
  height: 25px;
  line-height: 25px;
  min-width: unset;
  width: unset;
  margin: 0 10px;
  padding: 0 15px;
}

.button-container {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 6px;
  display: flex;
}

.saving-identification-dialog {

  md-dialog-content {
    width: 100%;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
  }

  .save-identification-name-input {
    width: 80%;
    margin: 2px 0;
    border-radius: 0;
    border: none;
    background: #fafafa;
    height: 40px;
    color: #444444;
    padding: 0 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #c7c7c7;
  }
}
