<div class="u-height__full">
    <md-nav-bar class="target-nav-bar"
                md-selected-nav-item="$ctrl.tabSelected">
        <md-nav-item name="TARGETS"
                     md-nav-click="$ctrl.changeState($ctrl.targetState.TARGETS)">
            TARGETS
        </md-nav-item>
        <md-nav-item name="IDENTIFICATIONS"
                     md-nav-click="$ctrl.changeState($ctrl.targetState.IDENTIFICATIONS)"
                     ng-if="$ctrl.identificationTabIsShown">
            IDENTIFICATIONS
        </md-nav-item>
    </md-nav-bar>
    <md-content class="_md target-flex-column">
        <ngb-targets-tab change-state="$ctrl.changeState(state)"
                         class="tab"
                         ng-if="$ctrl.tabSelected === $ctrl.targetState.TARGETS">
        </ngb-targets-tab>
        <ngb-identifications-tab change-state="$ctrl.changeState(state)"
                                 class="tab"
                                 ng-if="$ctrl.tabSelected === $ctrl.targetState.IDENTIFICATIONS">
        </ngb-identifications-tab>
    </md-content>
</div>
