$general-font-size: 13px;
$general-font-color: #333333;
$general-control-height: 28px;
$general-border: 1px solid #dddddd;

$general-warning-color: #999;

$tab-font-size: 12px;

$button-container-right: 15px;
$button-container-top: 6px;
$option-height: 25px;
$download-selector-color: rgba(255,255,255,0.87);
$download-selector-bg-color: rgb(102,153,255);
