<md-dialog aria-label="User management" style="min-width: 90%; min-height: 90%">
    <md-toolbar style="height: 48px; min-height: 48px; max-height: 48px">
        <div class="md-toolbar-tools">
            <h2>User management</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.close()" aria-label="Close">
                <ng-md-icon style="fill: #fff;" icon="clear"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <div flex="100" ng-show="ctrl.isUsersLoading">
            <div class="progress" layout-align="center center">
                <span>Loading information...</span>
            </div>
            <md-progress-linear md-mode="query"></md-progress-linear>
        </div>

        <md-tabs ng-hide="ctrl.isUsersLoading" md-dynamic-height md-border-bottom md-stretch-tabs="always">
            <md-tab label="Users">
                <md-content>
                    <div class="md-toolbar-panel user-management-tab-toolbar" layout="row">
                        <md-input-container flex class="grid-search-box">
                            <input ng-model="ctrl.usersSearchTerm"
                                   type="search"
                                   autocomplete="off"
                                   ng-change="ctrl.usersSearchChanged()"
                                   placeholder="Search for a user..."
                                   class="md-text">
                        </md-input-container>
                        <md-button class="" ng-click="ctrl.openCreateUserDlg($event)">
                            Create user
                        </md-button>
                    </div>
                    <div ng-if="ctrl.usersGridOptions.data.length" class="ui-grid-container">
                        <!-- todo: error ? -->
                        <div ui-grid="ctrl.usersGridOptions"
                             ui-grid-save-state
                             ui-grid-selection
                             ui-grid-resize-columns
                             ui-grid-auto-resize
                             ui-grid-move-columns
                             ui-grid-pinning
                             ui-grid-infinite-scroll
                        ></div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Groups">
                <md-content>
                    <div class="md-toolbar-panel user-management-tab-toolbar" layout="row">
                        <md-input-container flex class="grid-search-box">
                            <input ng-model="ctrl.groupsSearchTerm"
                                   type="search"
                                   autocomplete="off"
                                   ng-change="ctrl.groupsSearchChanged()"
                                   placeholder="Search for a group..."
                                   class="md-text">
                        </md-input-container>
                        <md-button class="md-primary" ng-click="ctrl.openCreateGroupDlg($event)">
                            Create group
                        </md-button>
                    </div>
                    <div ng-if="ctrl.groupsGridOptions.data.length" class="ui-grid-container">
                        <!-- todo: error ? -->
                        <div ui-grid="ctrl.groupsGridOptions"
                             ui-grid-save-state
                             ui-grid-selection
                             ui-grid-resize-columns
                             ui-grid-auto-resize
                             ui-grid-move-columns
                             ui-grid-pinning
                             ui-grid-infinite-scroll
                        ></div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Roles">
                <md-content>
                    <div class="md-toolbar-panel user-management-tab-toolbar" layout="row">
                        <md-input-container class="grid-search-box" style="width: 90%">
                            <input ng-model="ctrl.rolesSearchTerm"
                                   type="search"
                                   autocomplete="off"
                                   ng-change="ctrl.rolesSearchChanged()"
                                   placeholder="Search for a role..."
                                   class="md-text">
                        </md-input-container>
                    </div>
                    <div ng-if="ctrl.rolesGridOptions.data.length" class="ui-grid-container">
                        <!-- todo: error ? -->
                        <div ui-grid="ctrl.rolesGridOptions"
                             ui-grid-save-state
                             ui-grid-selection
                             ui-grid-resize-columns
                             ui-grid-auto-resize
                             ui-grid-move-columns
                             ui-grid-pinning
                             ui-grid-infinite-scroll
                        ></div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</md-dialog>
