.flex-tabs {
  md-tab-content > div {
    height: 100%;
    display: flex;
  }
}

.form-ui-grid-container {
  .ui-grid-viewport {
    height: 100% !important;
  }
}
// uiGrid height fix
.user-management-ui-grid-container {
  .ui-grid {
    .ui-grid-filter-container {
      display: none!important;
    }
    .grid-action-button {
      margin: 0 !important;
      height: 100% !important;
      width: 100% !important;
      min-height: unset !important;
      line-height: 100% !important;
      border-radius: 0;
    }
  }
}

.user-management-tab-toolbar {
  padding: 2px 5px 0 5px;
  .grid-search-box {
    .md-errors-spacer {
      display: none;
    }
  }
}

.group-role-tag.domain-group {
  color: #777;
}

.multiline-tooltip .md-content {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 400px;
  max-width: 400px;
  overflow-y: auto;
  padding: 5px;
}

.group-role-tag {
  color: #000;
  font-size: x-small;
  font-weight: bold;
  line-height: initial;
  margin: 2px;
  padding: 1px 3px;
  text-transform: uppercase;
}

.group-role-tag.bordered {
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.simple-popover {
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  max-width: 400px;
  overflow-y: auto;
  padding: 5px;
  border-radius: 5px;
  background: #fafafa;
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.md-popover:focus {
  outline: none;
}
