
// uiGrid height fix
.ui-grid {
  height: auto;
  .ui-grid-filter-container {
    display: none!important;
  }
  .ui-grid-viewport {
    height: 100% !important;
  }
  .grid-action-button {
    margin: 0 !important;
    height: 100% !important;
    width: 100% !important;
    min-height: unset !important;
    line-height: 100% !important;
    border-radius: 0;
  }
}

.user-management-tab-toolbar {
  padding: 2px 5px 0 5px;
  .grid-search-box {
    .md-errors-spacer {
      display: none;
    }
  }
}

.group-role-tag.ad-group {
  color: #777;
}

.multiline-tooltip .md-content {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 400px;
  max-width: 400px;
  overflow-y: auto;
  padding: 5px;
}

.group-role-tag {
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #000;
  font-size: x-small;
  font-weight: bold;
  line-height: initial;
  margin: 2px;
  padding: 1px 3px;
  text-transform: uppercase;
}
