<md-content class="md-padding">

    <collapsible>

        <collapsible-panel is-open="false" close-expand-other="true" disable-others="true">
            <collapsible-panel-title>Register new Track</collapsible-panel-title>
            <collapsible-panel-content>
                <ngb-register-track collapsible-controller-object="this.$parent.$ctrl"></ngb-register-track>
            </collapsible-panel-content>
        </collapsible-panel>

        <collapsible-panel ng-repeat="(trackType, trackList) in ctrl.getAllTracks()" is-open="true"
                ng-show="trackList.length>0">
            <collapsible-panel-title>{{trackType}}</collapsible-panel-title>
            <collapsible-panel-content>
                <div ng-repeat="track in trackList">
                    <md-checkbox aria-label="{{track.name}}"
                                 ng-click="ctrl.toggleTrack(track)"
                                 ng-checked="ctrl.existsTrack(track)">
                        <div class="hint">
                            {{track.name}}
                        </div>
                    </md-checkbox>
                </div>
            </collapsible-panel-content>
        </collapsible-panel>

    </collapsible>

</md-content>
