$ngb-color-blue: #4285F4;

.blast-search-result {
  padding: 0 2px;
  flex: 1 1 auto;
  overflow: hidden auto;
  height: 0;
  min-height: 0;
  .blast-search-result-title {
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
  }
  .field {
    line-height: 20px;
    font-size: 14px;

    .field-name {
      font-weight: bold;
      display: inline-block;
      width: 100px;
    }
    &.additional {
      .field-name {
        width: 120px;
      }
    }
    .field-value {
      display: inline-block;
      max-width: 300px;
      text-overflow: ellipsis;
      margin-left: 5px;
    }
    .field-max-width {
      max-width: 100%;
    }
    .blast-search-result-query-button {
      cursor: pointer;
      svg {
        fill: $ngb-color-blue;
      }
      &:hover {
        svg {
          fill: darken($ngb-color-blue, 20%)
        }
      }
    }
  }
  .area-value {
    display: inline-block;
  }
  .blast-search-result-link {
    color: rgb(51, 103, 214);
    cursor: pointer;
  }
  .blast-search-result-back {
    min-width: 0;
    min-height: 16px;
    width: 40px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .expandable-panel-title {
    span {
      margin-left: 15px;
    }
    .expandable-panel-icon {
      fill: #666;
    }
  }
  .blast-search-result-info {
    display: flex;
    justify-content: flex-end;
  }
  .blast-search-result-info button {
    fill: currentColor;
    line-height: 16px;
    min-width: 0;
    min-height: 16px;
    margin: 0;
    text-transform: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .blast-search-result-table-row {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
    height:0;
    min-height: 0;
  }
  .blast-search-result-params {
    display: flex;
    flex-direction: row;
  }
}
.sequence-dlb-content {
  min-width:600px;
  max-width: 800px;
  max-height:80vh;
  margin: 10px 30px;
  .sequence-dlb-content-title {
    font-weight: bold;
    line-height: 28px;
    font-size: 14px;
  }
  .sequence-dlb-content-value {
    margin-top: 10px;
    word-break: break-all;
  }
}
