<div layout="column"
     class="genomics-alignment">
    <div layout="row"
         class="genomics-alignment-params"
         ng-if="$ctrl.partedAlignment && $ctrl.partedAlignment.length">
        <div layout="row">
            <span class="alignment-field-name">Identities:</span>
            <span class="alignment-field-value">{{$ctrl.alignment.numIdentity}}/{{$ctrl.alignment.length}}
                ({{$ctrl.alignment.numIdentity / $ctrl.alignment.length | percentage:0}})</span>
        </div>
        <div layout="row">
            <span class="alignment-field-name">Gaps:</span>
            <span class="alignment-field-value">{{$ctrl.alignment.gaps}}/{{$ctrl.alignment.length}}
                ({{$ctrl.alignment.gaps / $ctrl.alignment.length | percentage:0}})</span>
        </div>
    </div>
    <div layout="column"
         class="genomics-alignment-query-container"
         ng-if="$ctrl.partedAlignment && $ctrl.partedAlignment.length">
        <div layout="row"
             ng-repeat="alignment in $ctrl.partedAlignment">
            <div layout="column"
                 class="genomics_alignment_query_title">
                <span></span>
                <span class="alignment-field-name">
                    <md-tooltip>{{alignment.targetTooltip}}</md-tooltip>
                    {{alignment.targetName}} / {{alignment.targetStart}}-{{alignment.targetEnd}}
                </span>
                <span></span>
                <span class="alignment-field-name">
                    <md-tooltip>{{alignment.queryTooltip}}</md-tooltip>
                    {{alignment.queryName}} / {{alignment.queryStart}}-{{alignment.queryEnd}}
                </span>
                <span></span>
            </div>
            <div layout="column"
                    class="mono genomics_alignment_sequence">
                <span></span>
                <span><span ng-repeat="base in alignment.targetSequence.split('') track by $index"
                            ng-class="$ctrl.getColor($index, base, alignment)"
                    >{{base}}</span></span>
                <span>{{alignment.diff}}</span>
                <span><span ng-repeat="base in alignment.querySequence.split('') track by $index"
                            ng-class="$ctrl.getColor($index, base, alignment)"
                    >{{base}}</span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div layout="row"
         class="empty-container"
         ng-if="!$ctrl.partedAlignment || !$ctrl.partedAlignment.length">
        <md-content class="no-records-warning"
                    flex>
            <span>{{$ctrl.warningMessage}}</span>
        </md-content>
    </div>
</div>
