.motifs-dialog-content {
  margin: 20px;
  margin-bottom: 0px;
  padding: 0px 20px;
}
  
.motifs-dialog-label {
  padding-left: 2px;
  font-weight: 600;
  margin-bottom: 5px;
}
  
.motifs-dialog-input {
  max-width: 200px;
  margin-bottom: 0px;
}
  
.motifs-dialog-checkbox {

  .md-checkbox .md-container {
    top: 40%;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
  
.motifs-dialog-checkbox-warning {
  font-style: italic;
}
  