<div class="u-height__full">
    <div ng-if="$ctrl.isSearchInProgress">
        <div class="progress" layout-align="center center">
            <span>Loading results...</span>
        </div>
        <md-progress-linear md-mode="query"></md-progress-linear>
    </div>
    <div class="md-padding" ng-if="$ctrl.isSearchFailure">
        <ngb-panel-error-list message-list="['Error']"></ngb-panel-error-list>
    </div>
    <ngb-motifs-table ng-hide="$ctrl.isSearchInProgress && $ctrl.isShowParamsTable"></ngb-motifs-table>
</div>

