<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%d{dd/MM/yyyy HH:mm:ss}][%c{1}] %m{nolookups}%n" />
        </layout>
    </appender>

    <appender name="debug-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value="${catalina.base}/logs/catgenome-debug.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%d{dd/MM/yyyy HH:mm:ss}][%t][%c] %m{nolookups}%n" />
        </layout>
    </appender>

    <appender name="requests-debug-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value="${catalina.base}/logs/requests.log"/>
        <param name="MaxBackupIndex" value="30"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value='{"debug_level":"%p","debug_timestamp":"%d{dd/MM/yyyy HH:mm:ss}","debug_thread":"%t","debug_file":"%F", "debug_line":"%L","debug_message":"%m{nolookups}"}%n'/>
        </layout>
    </appender>

    <appender name="error-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR"/>
        <param name="File" value="${catalina.base}/logs/catgenome-error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%d{dd/MM/yyyy HH:mm:ss}][%t][%c] %m{nolookups}%n" />
        </layout>
    </appender>

    <logger name="com.epam.catgenome.app.CustomRequestLoggingFilter" additivity="false">
        <appender-ref ref="requests-debug-appender"/>
    </logger>

    <category name="org.springframework.aop.framework.CglibAopProxy">
        <priority value="ERROR"/>
    </category>
    <category name="org.apache.http.wire">
        <priority value="ERROR"/>
    </category>
    <category name="org.apache.http">
        <priority value="ERROR"/>
    </category>
    <category name="com.amazonaws">
        <priority value="ERROR"/>
    </category>
    <category name="com.epam.gene.catgenome">
        <priority value="DEBUG"/>
    </category>
    <category name="org.apache.commons.beanutils">
        <priority value="WARN"/>
    </category>
    <category name="com.mchange">
        <priority value="ERROR"/>
    </category>
    <category name="org.springframework.jndi">
        <priority value="ERROR"/>
    </category>


    <root>
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="debug-appender"/>
        <appender-ref ref="error-appender"/>
    </root>
</log4j:configuration>
