.property {
  padding: 7px;
}

.property-row,
.property-name
{
  border: 0;
  word-wrap: break-word;
}

.property-name {
  font: 700 13px Arial;
  color: #999;
}

.property-value {
  font: 13px Arial;
  color: #666;
}

#summary .property-row {
  border: 0;
  & + a{
    color: #679edb;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
#summary .property-name
{
  min-width: 130px;
  text-align: right;
  border: 0;
}

.unremovable {
  margin-left: 15px;
}

.editable {
  height: 15px;
  border: none;
  border-bottom: 1px solid #666;
  padding-bottom: 6px;
}

.md-button {
  line-height: 0px;
}

.remove-btn-container {
  height: 15px;
  padding-bottom: 11px;
  padding-top: 3px;
}

.remove-btn {
  min-width: 15px;
  min-height: 15px;
  margin: auto;
  padding: 0px;
}

.add-button {
  font-size: 14px;
  color: #679edb;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}

.property-name.editable {
  width: 100px;
  margin-left: 7px;
  padding-left: 0px;
}

.ng-invalid.ng-touched {
  border-color: #F00;
}

.isEmpty {
  color: #F00;
}
