ngb-info-rows {
  .property {
    padding: 5px 7px;
  }

  .property-row,
  .property-name {
    border: 0;
    word-wrap: break-word;
  }

  .property-name {
    font: 700 13px Arial;
    color: #999;
  }

  .property-value {
    font: 13px Arial;
    color: #666;
  }

  #summary .property-row {
    border: 0;

    & + a {
      color: #679edb;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #summary .property-name {
    min-width: 130px;
    text-align: right;
    border: 0;
  }

  .editable {
    height: 15px;
    border: none;
    border-bottom: 1px solid #666;
    padding-bottom: 6px;
  }

  .md-button {
    line-height: 0;
  }

  .property-value-select {
    height: 28px;
    padding-left: 3px;
  }

  .remove-btn-container {
    padding-top: 4px;
  }

  .remove-btn {
    min-width: 15px;
    min-height: 15px;
    margin: auto;
    padding: 0;
    ng-md-icon {
      cursor: pointer;
    }
  }

  .add-button {
    font-size: 14px;
    color: #679edb;
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }

  .property-name.editable {
    margin-left: 0;
    margin-right: 5px;
  }

  .property-attribute-name {
    word-break: break-all;
    line-height: 1.5;
  }

  .property-attribute {
    margin-right: 5px;
    font-size: x-small;
    padding: 2px;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 2px;
    font-weight: normal;
  }

  .isEmpty {
    border-color: #F00;
  }

  .isDouble {
    border-color: #F00;
    color: #F00;
  }

  .property-error-message {
    color: #F00;
    margin-right: 5px;
    font-size: 10px;
    padding-left: 5px;
  }
}
