<div>
    <div ng-if="!$ctrl.editable">
        <div flex="100"
             ng-repeat="property in $ctrl.properties"
             ng-if="::property[1]"
             layout="row"
             layout-wrap
             class="property-row"
        >
            <div flex="30" class="property property-name">{{property[0]}}</div>
            <div flex="70" class="property property-value">{{property[1]}}</div>
        </div>
    </div>
    <form ng-if="$ctrl.editable" name="attributes" class="general-information-form">
        <div flex="100"
             ng-repeat="property in $ctrl.properties"
             ng-if="::property[1]"
             layout="row"
             layout-wrap
             class="property-row"
        >
            <div flex="30"
                 ng-if="!$ctrl.isRemovable(property)"
                 layout="row"
                 layout-wrap
            >
                <div flex="27"
                     class="property property-name unremovable">
                    {{property[0]}}
                </div>
            </div>
            <div flex="30"
                 ng-if="$ctrl.isRemovable(property)"
                 layout="row"
                 layout-wrap
            >
                <div flex="3" class="remove-btn-container">
                    <md-button
                        class="remove-btn"
                        ng-click="$ctrl.onClickRemoveProperty(property)"
                        aria-label="Remove"
                        title="Remove attribute">
                        <ng-md-icon icon="remove_circle_outline" size="15" style="fill: #679edb !important;"></ng-md-icon>
                    </md-button>
                </div>
                <div flex="27"
                     class="property property-name">
                    {{property[0]}}
                </div>
            </div>
            <div flex="70">
                <div ng-if="!$ctrl.isEditable(property)" class="property property-value">
                    {{property[1]}}</div>
                <input type="string"
                       ng-if="$ctrl.isEditable(property)"
                       ng-required="true"
                       ng-model="property[1]"
                       class="property property-value editable" />
            </div>
        </div>
    </form>
    <md-button
        class="add-button"
        ng-if="$ctrl.editable"
        ng-click="$ctrl.onClickAddBtn()">
        Add
    </md-button>
</div>
