<div>
    <div ng-if="!$ctrl.editmode">
        <div flex="100"
             ng-repeat="property in $ctrl.properties"
             ng-if="!$ctrl.valueIsEmpty(property[1]) && !property[3]"
             layout="row"
             layout-wrap
             class="property-row"
        >
            <div flex="45" class="property property-name default">
                <span class="property-attribute"
                      ng-if="property[2]">
                    ATTR
                </span>
                <span class="property-attribute-name">
                    {{property[0]}}
                </span>
            </div>
            <div flex="30"
                 class="property property-value">
                {{property[1]}}
                </div>
        </div>
    </div>
    <form ng-if="$ctrl.editmode" name="attributes" class="general-information-form">
        <div flex="100"
             ng-repeat="attribute in $ctrl.attributes"
             ng-if="!attribute.deleted"
             layout="row"
             layout-wrap
             class="property-row"
        >
            <div flex="45"
                 ng-if="!attribute.attribute"
                 layout="row"
                 layout-wrap
            >
                <div flex
                     class="property property-name">
                    <span class="property-attribute"
                          ng-if="attribute.attribute">
                        ATTR
                    </span>
                    <span class="property-attribute-name">
                        {{attribute.name}}
                    </span>
                </div>
            </div>
            <div flex="45"
                 ng-if="attribute.attribute"
                 layout="row"
                 layout-wrap
            >
                <div ng-if="attribute.default"
                     class="property property-name">
                    <span class="property-attribute"
                          ng-if="attribute.attribute">
                        ATTR
                    </span>
                    <span class="property-attribute-name">
                        {{attribute.name}}
                    </span>
                </div>
                <div ng-if="!attribute.default"
                     style="flex: 1"
                     class="property">
                    <input type="string"
                           required
                           class="property property-name editable"
                           ng-model="attribute.name"
                           ng-class="{
                               'isEmpty': !attribute.name && attribute.value,
                               'isDouble': $ctrl.isDuplicate(attribute)
                           }"
                           ng-model-options="{updateOn: 'blur'}" />
                    <div class="property-error-message"
                         ng-if="!attribute.name && attribute.value"
                    >
                        Name is required
                    </div>
                    <div class="property-error-message"
                         ng-if="$ctrl.isDuplicate(attribute)"
                    >
                        Duplicate attribute
                    </div>
                </div>
            </div>
            <div flex="30">
                <div ng-if="!$ctrl.isEditable(attribute)"
                     class="property property-value">
                    {{attribute.value}}
                </div>
                <div class="property" ng-if="$ctrl.isEditable(attribute)"
                     style="flex: 1">
                    <div ng-if="attribute.isInput">
                        <input class="property property-value editable"
                               ng-class="{'isEmpty': attribute.name && !attribute.value}"
                               ng-model="attribute.value"
                               ng-model-options="{updateOn: 'blur'}"
                               required
                               type="string" />
                        <div class="property-error-message"
                             ng-if="!attribute.value && attribute.name"
                        >
                            Value is required
                        </div>
                    </div>
                    <div ng-if="attribute.isList">
                        <select class="property property-value editable property-value-select" ng-model="attribute.value">
                            <option ng-repeat="opt in attribute.listOptions" value="{{opt.value}}">{{opt.label}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div flex="5"
                 ng-if="attribute.attribute"
                 class="remove-btn-container">
                <md-button
                    class="remove-btn"
                    ng-click="$ctrl.onClickRemoveAttribute(attribute)"
                    aria-label="Remove"
                    title="Remove attribute">
                    <ng-md-icon
                        icon="clear"
                        size="15"
                        style="fill: #999 !important;">
                    </ng-md-icon>
                </md-button>
            </div>
        </div>
    </form>
    <md-button
        class="add-button"
        ng-if="$ctrl.editmode"
        ng-click="$ctrl.onClickAddBtn()"
        ng-disabled="$ctrl.disableAddButton">
        Add
    </md-button>
</div>
