.property {
  padding: 7px;
}

.property-row,
.property-name
{
  border: 0;
  word-wrap: break-word;
}

.property-name {
  font: 700 13px Arial;
  color: #999;
}

.property-value {
  font: 13px Arial;
  color: #666;
}

#summary .property-row {
  border: 0;
  & + a{
    color: #679edb;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
#summary .property-name
{
  min-width: 130px;
  text-align: right;
  border: 0;
}

.unremovable {
  margin-left: 11px;
}

.editable {
  height: 15px;
  border: none;
  border-bottom: 1px solid #666;
  padding-bottom: 6px;
}

.remove-btn {
  border: 1px #679edb solid;
  border-radius: 15px;
  min-width: 11px;
  max-width: 11px;
  min-height: 11px;
  max-height: 11px;
  margin: 9px 0px;
  padding: 0px;
}

.add-button {
  font-size: 14px;
  color: #679edb;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}