ngb-diseases-table {
    .ui-grid {
        border: none;
        height: auto;

        .ui-grid-viewport {
            height: 100% !important;
            width: 100% !important;
        }

        .ui-grid-cell-contents {
            white-space: normal;
        }

        .ui-grid-column-menu-button {
            width: 12px;

            .ui-grid-icon-angle-down {
                width: 10px;
            }

            [class^="ui-grid-icon"]:before,
            [class*=" ui-grid-icon"]:before {
                width: 0.7em;
                margin-right: 0.3em;
                margin-left: 0;
            }
        }
    }

    .ui-grid-header-cell.ui-grid-clearfix,
    .ui-grid-header-cell.ui-grid-clearfix.movingColumn {
        height: 100%;

        .layout-column {
            height: 100%;

            div.flex {
                height: 100%;
            }
        }
    }

    .ui-grid-container .ui-grid-cell-contents.md-button {
        min-height: unset;
        height: 100%;
    }

    .link-cell {
        font-size: 12px;
        align-self: center;
        height: auto;
        white-space: normal;
        padding: 5px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        text-decoration: none;
        overflow: hidden;
        color: rgb(102, 153, 255);
        cursor: pointer;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .color-cell {
        width: 100%;
        font-size: 12px;
        align-self: center;
        height: 100%;
        white-space: normal;
        padding: 5px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        line-height: 20px;
    }

    ngb-panel-error-list {
        .layout-padding,
        .layout-padding > * {
            padding: 0 !important;
        }

        md-list-item,
        md-list-item .md-list-item-inner {
            min-height: 24px;
            height: 24px;
            font-size: 14px;
        }
    }

    .empty-container {
        font-size: 12pt;
        width: 100%;
        text-align: center;
        z-index: 1000;
        padding-top: 10px;
        padding-bottom: 10px;

        .no-records-warning {
            color: #999;
        }
    }
}

ngb-table-pagination {
    display: flex;
    justify-content: end;
}