<div class="motifs-pagination">
    <md-button
        class="motifs-pagination-item"
        md-no-ink
        ng-disabled="!$ctrl.isFirstPage"
        ng-click="$ctrl.getPreviousPage()"
        aria-label="Previous page"
    >
        <ng-md-icon icon="keyboard_arrow_left" size="24"></ng-md-icon>
    </md-button>
    <md-button
        class="motifs-pagination-item"
        md-no-ink
        ng-disabled="$ctrl.isLastPage"
        ng-click="$ctrl.getNextPage()"
        aria-label="Next page"
        >
        <ng-md-icon icon="keyboard_arrow_right" size="24"></ng-md-icon>
    </md-button>
</div>
