@import "../ngbTargetPanel.variables.scss";

$md-chip-size: 26px;
$md-chip-background: #eeeeee;
$md-chip-color: #444444;
$md-chip-font-size: $general-font-size;
$md-chip-border-radius: 3px;

$md-chip-option-size: calc($md-chip-size + 4px);

$md-label-font-size: $md-chip-font-size + 2px;

$md-chip-remove-width: $md-chip-size - 4px;

$targets-warning-color: $general-warning-color;