@import "../ngbPatentsPanel.variables.scss";

ngb-patents-chemicals-tab {
    .loading-indicator {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .loading-data-indicator {
        position: relative;
    }

    ngb-panel-error-list {
        .layout-padding,
        .layout-padding > * {
            padding: 0 !important;
        }

        md-list-item,
        md-list-item .md-list-item-inner {
            min-height: 24px;
            height: 24px;
            font-size: 14px;
        }
    }

    label {
        margin: 0;
        padding: 0;
        line-height: $patents-control-height;
        height: $patents-control-height;
        color: $patents-color;
        font-size: $patents-font-size;
    }

    .drug-select {
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;

        md-input-container {
            width: auto;
            min-width: 70%;
            margin: 0;
            padding: 0;
            line-height: $patents-control-height;
            height: $patents-control-height;
            color: $patents-color;
            font-size: $patents-font-size;
        }

        md-input-container md-select {
            &:not([disabled]):focus .md-select-value {
                border-bottom: none;
            }

            md-select-value {
                border: none;
                min-height: $patents-control-height;
                padding: 0;
                padding-left: 10px;
                font-size: $patents-font-size;
                display: flex;
                align-items: center;

                .md-select-icon {
                    margin: 0 4px 0 0;
                    width: 20px;
                }

                > span,
                > span > div {
                    line-height: $patents-control-height;
                    height: $patents-control-height;
                    transform: none!important;
                }
            }
        }

        .md-button {
            margin: 0 5px;
        }
    
        .patent-button {
            min-height: $patents-button-height;
            height: $patents-button-height;
            line-height: $patents-button-height;
            min-width: 40px;
            margin-left: 10px;
        }
    }

    .checkbox-container {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0 0 10px 10px;
        box-sizing: border-box;
        width: 100%;
        color: $patents-color;
        font-size: $patents-font-size;

        .checkbox-label {
            margin: 0;
            margin-right: 10px;
            padding: 0;
        }

        md-checkbox {
            margin-bottom: 0;
        }
    }

}

.drug-select-container {
    md-select-menu:not(.md-overflow) md-content {
        padding: 0;
    }

    md-option {
        padding: 0 8px;
        height: calc($patents-control-height + 2px);

        &[selected],
        &:not([disabled]):focus {
            color: $patents-color;
        }
    }

    md-select-menu,
    md-select-menu md-content {
        min-height: calc($patents-control-height + 2px);
    }
}