.heatmap-container-error {
  margin: 10px;
  color: #999;
}

.heatmap-panel-container {
  margin: 2px 10px;
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .heatmap-viewer {
    flex: 1;

    .heatmap-container {
      height: calc(100% - 5px);
      box-sizing: border-box;
      border: none;
    }
  }
}

.heatmaps-divider:last-child,
.heatmaps-divider:first-child,
.heatmaps-divider + .heatmaps-divider {
  display: none;
}
