<div ng-if="$ctrl.loading">
    <div class="progress" layout-align="center center">
        <span>Loading...</span>
    </div>
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-if="!$ctrl.loading && $ctrl.heatmaps.length === 0" class="heatmap-container-error">
    No heatmaps selected.<br />You can select heatmap file or dataset of reference with heatmap annotations
</div>
<div class="heatmap-panel-container" ng-if="!$ctrl.loading && $ctrl.heatmaps.length > 0">
    <md-input-container>
        <label for="heatmap">
            Source
        </label>
        <md-select id="heatmap"
                   aria-label="heatmap"
                   multiple="false"
                   ng-model="$ctrl.heatmapId">
            <md-option ng-if="$ctrl.previousHeatmap" ng-value="{{$ctrl.previousHeatmap.id}}">
                {{$ctrl.previousHeatmap.prettyName || $ctrl.previousHeatmap.name}}
            </md-option>
            <md-divider class="heatmaps-divider" />
            <md-option ng-repeat="heatmapItem in $ctrl.heatmapsFromTrack track by heatmapItem.id"
                       ng-value="{{heatmapItem.id}}">
                {{heatmapItem.prettyName || heatmapItem.name}}
            </md-option>
            <md-divider class="heatmaps-divider" />
            <md-option ng-repeat="heatmapItem in $ctrl.heatmapsFromAnnotations track by heatmapItem.id"
                       ng-value="{{heatmapItem.id}}">
                {{heatmapItem.prettyName || heatmapItem.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <ngb-heatmap class="heatmap-viewer"
                 heatmap-class="'heatmap-container'"
                 ng-if="$ctrl.heatmapId"
                 id="$ctrl.heatmapId"
                 check-resize="true"
                 project-id="$ctrl.heatmapProjectId"
                 reference-id="$ctrl.heatmapReferenceId"
                 on-heatmap-navigation="$ctrl.onHeatmapNavigationCallback"
                 on-heatmap-options-change="$ctrl.onHeatmapOptionsChangeCallback"
                 listen-update-events="true">
    </ngb-heatmap>
</div>
