<div ng-if="$ctrl.loading">
    <div class="progress" layout-align="center center">
        <span>Loading...</span>
    </div>
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-if="!$ctrl.loading && $ctrl.heatmaps.length === 0" class="heatmap-container-error">
    No heatmaps selected.<br />You can select heatmap file or dataset of reference with heatmap annotations
</div>
<div class="heatmap-panel-container" ng-if="!$ctrl.loading && $ctrl.heatmaps.length > 0">
    <md-input-container>
        <label for="heatmap">
            Source
        </label>
        <md-select id="heatmap"
                   aria-label="heatmap"
                   ng-model="$ctrl.heatmap">
            <md-option ng-repeat="heatmap in $ctrl.heatmaps track by heatmap.id" ng-value="heatmap">
                {{heatmap.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <ngb-heatmap class="heatmap-viewer"
                 heatmap-class="'heatmap-container'"
                 ng-if="$ctrl.heatmapId"
                 id="$ctrl.heatmapId"
                 check-resize="true"
                 project-id="$ctrl.heatmapProjectId"
                 on-heatmap-navigation="$ctrl.onHeatmapNavigationCallback">
    </ngb-heatmap>
</div>
