<div layout="row" class="u-height__full">
    <div layout="column" flex ng-if="ctrl.isProjectSelected">
        <div>
            <md-button ng-click="ctrl.setDefault()">
                SET TO DEFAULTS
            </md-button>
        </div>
        <md-divider></md-divider>

        <md-content flex class="md-content-vcf-filter">
            <form name='vcfFilterForm'>
                <collapsible ng-repeat="filterItem in ctrl.filterItems">
                    <collapsible-panel is-open="filterItem.isOpen">
                        <collapsible-panel-title>
                            {{filterItem.name}}
                        </collapsible-panel-title>
                        <collapsible-panel-content>
                            <div ng-switch="filterItem.id">
                                <active-vcf-files ng-switch-when="files"></active-vcf-files>
                                <gene ng-switch-when="genes"></gene>
                                <variants ng-switch-when="variants"></variants>
                                <quality ng-switch-when="quality"></quality>
                                <advanced-vcf-filter ng-switch-when="advanced"></advanced-vcf-filter>
                                <exons ng-switch-when="exons"></exons>
                            </div>
                        </collapsible-panel-content>
                    </collapsible-panel>
                </collapsible>
            </form>
        </md-content>
    </div>
</div>

