<div>
    <div class="loading-indicator"
         ng-if="$ctrl.loadingProteins">
        <md-progress-linear md-mode="query"></md-progress-linear>
    </div>
    <div ng-class="{'hidden': !$ctrl.failedResult || $ctrl.loadingData}">
        <ngb-panel-error-list message-list="$ctrl.errorMessageList"></ngb-panel-error-list>
    </div>
    <div class="sequence-protein-select">
        <label>Sequences:</label>
        <md-input-container>
            <md-select ng-model="$ctrl.selectedProtein"
                       aria-label="Select protein"
                       ng-disabled="$ctrl.loadingProteins || $ctrl.loadingData"
                       ng-change="$ctrl.onChangeProtein()"
                       md-container-class="sequences-protein-select-container">
                <md-option ng-repeat="protein in $ctrl.proteins"
                           ng-value="protein">
                    {{protein.id}} ({{protein.name}})
                </md-option>
            </md-select>
        </md-input-container>
        <md-button type="button"
                   aria-label="Search patents"
                   ng-click="$ctrl.onClickSearch()"
                   class="md-primary md-raised md-accent patent-button"
                   ng-disabled="$ctrl.searchDisabled">
            Search
        </md-button>
    </div>
    <div class="checkbox-container">
        <span class="checkbox-label">Search patents by:</span>
        <md-checkbox ng-repeat="option in $ctrl.searchByOptions track by option"
                     aria-label="{{$ctrl.searchByNames[option]}} checkbox"
                     ng-checked="$ctrl.searchBy === $ctrl.searchByOptions[option]"
                     ng-click="$ctrl.onChangeSearchBy(option)"
                     ng-disabled="$ctrl.loadingData">
            {{$ctrl.searchByNames[option]}}
        </md-checkbox>
    </div>
</div>
<div class="loading-sequence-indicator"
     ng-class="{'show': $ctrl.searchBy === $ctrl.searchByOptions.sequence && $ctrl.loadingSequence}">
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-if="$ctrl.searchBy === $ctrl.searchByOptions.sequence"
     class="textarea-container">
    <label>Query:</label>
    <md-input-container>
        <textarea ng-model="$ctrl.searchSequence"
                  aria-label="Search sequence"
                  ng-disabled="$ctrl.loadingData"
                  max-rows="10"
                  md-no-asterisk
                  required>
        </textarea>
    </md-input-container>
    <div ng-class="{'hidden': !$ctrl.failedSequence}">
        <ngb-panel-error-list message-list="$ctrl.errorSequence"></ngb-panel-error-list>
    </div>
</div>
<div class="loading-data-indicator"
     ng-if="$ctrl.loadingData">
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<ngb-patents-protein-table ng-if="$ctrl.tableResults"></ngb-patents-protein-table>