<div layout="column">
    <div ng-hide="$ctrl.isProjectSelected">
        Browser
    </div>
    <div flex layout="row" ng-show="$ctrl.isProjectSelected">
        <div class="chromosome-block">
            <md-input-container aria-label="chromosome selection" class="md-block" md-no-float
                                ng-if="$ctrl.isChromosomeEditingMode" title="">
                <input type="text"
                       aria-label="chromosome input"
                       ng-model="$ctrl.chromosomeText"
                       ng-keyup="$ctrl.chromosomeKeyUp($event)"
                       ng-mousedown="$event.stopImmediatePropagation();"
                       ng-click="$event.stopImmediatePropagation()"
                       ng-blur="$ctrl.discardEdit();"
                       ng-change="$ctrl.inputChanged('chromosome');"
                       onfocus="this.setSelectionRange(0, this.value.length)"
                       placeholder="Chromosome"
                       ng-auto-focus>
            </md-input-container>
            <a class="chromosome-link" ng-if="!$ctrl.isChromosomeEditingMode"
               ng-mousedown="$ctrl.startEdit('chromosome', $event)">{{$ctrl.chromosomeText ? ($ctrl.chromosomeText.toLowerCase().indexOf('chr') === 0 ? $ctrl.chromosomeText : ('Chr:' + $ctrl.chromosomeText)) : 'Chr:none'}}</a>
        </div>
        <div class="coordinates-block">
            <md-input-container aria-label="chromosome selection" class="md-block" md-no-float
                                ng-if="$ctrl.isCoordinatesEditingMode" title="">
                <input type="text"
                       aria-label="coordinates input"
                       ng-model="$ctrl.coordinatesText"
                       ng-keyup="$ctrl.coordinatesKeyUp($event)"
                       ng-mousedown="$event.stopImmediatePropagation();"
                       ng-click="$event.stopImmediatePropagation()"
                       ng-blur="$ctrl.discardEdit();"
                       ng-change="$ctrl.inputChanged('coordinates');"
                       onfocus="this.setSelectionRange(0, this.value.length)"
                       ng-auto-focus>
            </md-input-container>
            <a class="coordinates-link" ng-if="!$ctrl.isCoordinatesEditingMode"
               ng-mousedown="$ctrl.startEdit('coordinates', $event)">{{$ctrl.coordinatesText || 'Type coordinates'}}</a>
        </div>
    </div>
    <md-virtual-repeat-container flex
                                 layout="column"
                                 ng-if="$ctrl.isEditingMode && $ctrl.searchResult.getLength()"
                                 class="coordinates-menu"
                                 md-whiteframe="2"
                                 ng-mousedown="$ctrl.preventGoldenLayoutPanelDrag($event)"
                                 title="">
        <ngb-search-item
                md-virtual-repeat="item in $ctrl.searchResult"
                class="search-result-item"
                md-on-demand
                search-item="item"
                coordinates-controller="$ctrl"
                md-item-size="40"></ngb-search-item>
    </md-virtual-repeat-container>
</div>

