<div ng-if="$ctrl.loading">
    <div class="progress" layout-align="center center">
        <span>Loading...</span>
    </div>
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div class="internal-pathway-container" layout="column" ng-if="!$ctrl.loading">
    <div layout="row">
        <md-button
                aria-label="back"
                class="md-flat blast-search-result-back"
                ng-click="$ctrl.changeState({state: 'INTERNAL_PATHWAYS'})"
                type="button">
            <ng-md-icon class="icon_info_outline" icon="chevron_left" size="24"></ng-md-icon>
        </md-button>
        <span class="blast-search-result-title">{{$ctrl.selectedTree.name}}</span>
    </div>
    <div class="u-height__full tree-container" flex layout="column">
        <div class="pathway-search-panel">
            <div class="md-content">
                <div class="pathway-search-panel-body" layout="column">
                    <div class="pathway-search-panel-row">
                        <form layout="row" ng-submit="$ctrl.searchInTree()">
                            <md-input-container class="pathway-tree-search-input" flex>
                                <input id="pathwayTreeSearchKeyword" name="pathway_tree_search_keyword"
                                       ng-model="$ctrl.treeSearch" type="text">
                            </md-input-container>
                            <md-button aria-label="search node"
                                       class="md-raised pathway-tree-search-button"
                                       ng-click="$ctrl.searchInTree()">
                                <ng-md-icon icon="search"></ng-md-icon>
                            </md-button>
                        </form>
                    </div>
                    <div class="pathway-search-panel-row pathway-search-panel-add-annotation">
                        <span>Annotations:</span>
                        <span flex></span>
                        <md-button aria-label="add annotation"
                                   class="md-raised pathway-tree-search-button"
                                   ng-click="$ctrl.addAnnotation()">
                            <ng-md-icon icon="add"></ng-md-icon>
                        </md-button>
                    </div>
                    <div class="pathway-search-panel-row pathway-search-panel-annotation"
                         ng-repeat="annotation in $ctrl.annotationList track by $index"
                    >
                        <md-input-container class="pathway-search-panel-annotation-checkbox">
                            <md-checkbox aria-label="annotation {{$index}}" class="md-primary"
                                         ng-change="$ctrl.applyAnnotations()"
                                         ng-model="annotation.isActive">
                            </md-checkbox>
                        </md-input-container>
                        <div class="pathway-search-panel-annotation-edit pathway-search-panel-annotation-name" ng-if="annotation.type === $ctrl.annotationTypeList.MANUAL">
                            <a ng-click="$ctrl.editAnnotation(annotation.id)">{{annotation.name}}</a>
                            <md-tooltip>{{annotation.name}}</md-tooltip>
                        </div>
                        <div class="pathway-search-panel-annotation-name" ng-if="annotation.type !== $ctrl.annotationTypeList.MANUAL">
                            <span>{{annotation.name}}</span>
                            <md-tooltip>{{annotation.name}}</md-tooltip>
                        </div>
                        <div flex></div>
                        <div class="pathway-search-panel-annotation-delete" ng-click="$ctrl.deleteAnnotation(annotation.id)">
                            <ng-md-icon icon="delete_forever"></ng-md-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <md-content flex layout="column">
            <div class="md-padding ngb-pathway-cytoscape-container">
                <div class="internal-pathway-container-error" ng-if="$ctrl.treeError">
                    {{$ctrl.treeError}}
                </div>
                <ngb-cytoscape-pathway
                        elements="$ctrl.selectedTree"
                        elements-options="$ctrl.selectedTreeOptions"
                        ng-if="!$ctrl.treeError"
                        storage-name="{{$ctrl.ngbInternalPathwaysResultService.localStorageKey}}"
                        tag="ngb-internal-pathway-node"
                        search-params="$ctrl.treeSearchParams"
                ></ngb-cytoscape-pathway>
            </div>
        </md-content>
    </div>
</div>
