$ngb-color-blue: #4285F4;

.ngb-pathway-cytoscape-container {
  flex: 1;
  position: relative;
}

.internal-pathway-container-error {
  margin: 10px;
  color: #999;
}

.internal-pathway-container {
  margin: 2px 0;
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .internal-pathway-result-title {
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
  }
  .internal-pathway-result-title-icon {
    fill: $ngb-color-blue;
    align-self: center;
    line-height: 30px;
    cursor: pointer;
  }
}

.tree-list-divider {
  height: 2px;

  & div {
    width: 100%;

    md-divider {
      border-top-color: #000;
    }
  }
}

.tree-container {
  position: relative;

  .pathway-search-panel {
    width: 30%;
    max-width: 250px;
    min-width: 180px;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;

    .md-content {
      display: flex;
      flex-direction: column;
      height: auto;
      background: #FFFFFF;
      color: #333333;
      font-size: 13px;
      border-radius: 5px;
      border: 1px solid #aaa;
      padding: 10px;
      box-shadow: 2px 2px 8px 2px #aaa;

      .pathway-search-panel-body {
        padding-right: 16px;

        .pathway-search-panel-row {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          word-break: break-all;
          padding: 5px 0;
          form {
            width: 100%;
          }
        }
        .pathway-search-panel-add-annotation span {
          font-weight: bold;
        }
        .pathway-search-panel-annotation {
          .pathway-search-panel-annotation-checkbox {
            margin: 0;
            line-height: 32px;

            &:after {
              display: block;
              height: 0;
              width: 0;
            }

            md-checkbox {
              margin: 0;
            }
          }

          .pathway-search-panel-annotation-name {
            flex: 1;
            min-width: 70px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .pathway-search-panel-annotation-edit {
            color: $ngb-color-blue;
          }

          .pathway-search-panel-annotation-delete {
            line-height: 32px;
            margin-right: 6px;
            ng-md-icon {
              fill: $ngb-color-blue;
              cursor: pointer;
              align-self: center;
            }
          }
        }

        .pathway-tree-search-input {
          font-size: 14px;
          margin: 5px 0 10px 0;
        }

        .pathway-tree-search-input .md-errors-spacer {
          min-height: 0;
        }

        .pathway-tree-search-button {
          line-height: 32px;
          min-height: 32px;
          height: 32px;
          width: 32px;
          min-width: 32px;
        }
      }
    }
  }
}
