ngb-project-info-sections {
  position: relative;
  md-menu {
    display: flex;
    height: 100%;
    position: relative;
    transition: all 300ms ease;
    .md-button.project-info-button {
      border-radius: unset;
      text-transform: none;
      width: auto;
      padding-left: 7px;

      ng-md-icon {
        fill: #FFF;
        padding-top: 2px;
      }

      span {
        display: inline-block;
        max-width: 100px;
        height: 23px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.ngb-project-info-sections-divider {
  position: absolute;
  right: 0;
  top: -2px;
  bottom: -5px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.ngb-project-info-sections-menu {
  position: absolute;
  top: 20px;
  padding: 4px;
  md-checkbox {
    margin: 8px;
    .md-label {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  .ngb-project-info-sections-add-note {
    cursor: pointer;
    height: 38px;
    min-height: 32px;
    div {
      font-size: 14px;
      padding: 0 8px;
      cursor: pointer;
      text-decoration: underline;
      color: rgb(0, 0, 238);
    }
  }
}
