ngb-project-info-sections {
  .md-button.md-icon-button {
    border-radius: unset;
    text-transform: none;
    ng-md-icon {
      fill: #FFF;
      padding-top: 2px;
    }
  }
  position: relative;
}

.ngb-project-info-sections-divider {
  position: absolute;
  right: 0;
  top: -2px;
  bottom: -5px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.ngb-project-info-sections-menu {
  position: absolute;
  top: 20px;
  padding: 4px;
  md-checkbox {
    margin: 8px;
    .md-label {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  .ngb-project-info-sections-add-note {
    cursor: pointer;
    height: 38px;
    min-height: 32px;
    div {
      font-size: 14px;
      padding: 0 8px;
      cursor: pointer;
      text-decoration: underline;
      color: rgb(0, 0, 238);
    }
  }
}

.project-info-menu-content {
  display: block;
}

.project-info-menu-item {
  min-height: 24px;
  height: 24px;
  margin-left: 10px;
  line-height: 2;
  font-size: 12px;
  color: #999;
}

.project-info-menu-note {
  display: block;
}
