ngb-project-info-sections {
  .md-button.project-info-button {
    border-radius: unset;
    text-transform: none;
    ng-md-icon {
      fill: #FFF;
      padding-top: 2px;
    }
    span {
      display: inline-block;
      max-width: 200px;
      height: 23px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  position: relative;
}

.ngb-project-info-sections-divider {
  position: absolute;
  right: 0;
  top: -2px;
  bottom: -5px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.ngb-project-info-sections-menu {
  box-sizing: border-box;
  position: absolute;
  width:100%;
  top: 20px;
  left: 40px;
  max-height: 75vh;
  overflow-x: hidden;
  md-checkbox {
    margin: 8px;
    .md-label {
      margin-left: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .icon {
        margin-right: 4px;
        color: rgb(51,103,214)
      }
      span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .ngb-project-info-sections-add-note {
    cursor: pointer;
    height: 38px;
    min-height: 32px;
  }
}

.project-info-menu-content {
  display: block;
  width: 100%;
  button {
    width: inherit;
    text-align:left;
    text-transform: uppercase;
    color: rgb(51,103,214);
  }
}

.project-info-menu-item {
  width:100%;
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  min-height: 24px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(41, 41, 41);
  background-color: rgba(51,103,214,0.05);
}

.project-info-menu-checkbox {
  display: block;
}
