html, body {
  background: $ngb-main-bg;
  overflow: hidden;
}

.logo {
  cursor: pointer;
}

.padding-base {
  padding: $padding-base;
}

md-toolbar.md-projects-toolbar {
  box-shadow: $whiteframe-shadow-8dp;
}

.l-column__left {
  border-right: 1px solid $ngb-border-color;
}

.l-column__right {
  border-left: 1px solid $ngb-border-color;
}