@import "../../ngbTargetPanel.variables.scss";

$known-drugs-nav-height: $general-control-height;
$known-drugs-border: $general-border;
$known-drugs-color: #444444;
$known-drugs-font-size: $general-font-size;
$known-drugs-font-color: $general-font-color;

$known-drugs-warning-color: $general-warning-color;