<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-1.0.xsd
  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

<!-- This is default url to get a token from OAuth -->
    <http pattern="/oauth/token" create-session="stateless"
          authentication-manager-ref="clientAuthenticationManager"
          xmlns="http://www.springframework.org/schema/security">
        <intercept-url pattern="/oauth/token" method="POST" access="isFullyAuthenticated()" />
        <intercept-url pattern="/oauth/token" method="GET" access="isFullyAuthenticated()" />
        <intercept-url pattern="/oauth/token" method="PUT" access="isFullyAuthenticated()" />
        <intercept-url pattern="/oauth/token" method="DELETE" access="isFullyAuthenticated()" />
        <intercept-url pattern="/oauth/token" method="HEAD" access="isFullyAuthenticated()" />
        <intercept-url pattern="/oauth/token" method="PATCH" access="isFullyAuthenticated()" />
        <intercept-url pattern="/oauth/token" method="TRACE" access="isFullyAuthenticated()" />
        <intercept-url pattern="/oauth/token" method="OPTIONS" access="isAnonymous()"/>
        <!-- OPTIONS method should be free for CORS usage-->
        <!--<anonymous enabled="false" />-->
        <http-basic entry-point-ref="clientAuthenticationEntryPoint" />
        <!-- include this only if you need to authenticate clients via request
         parameters -->
        <custom-filter ref="clientCredentialsTokenEndpointFilter"
                       before="BASIC_AUTH_FILTER"/>
        <access-denied-handler ref="oauthAccessDeniedHandler" />
        <csrf disabled="true"/>
    </http>

    <!-- This is where we tells spring security what URL should be protected
     and what roles have access to them
     TODO: change url to block protected ones -->
    <http pattern="/restapi/secure/**" create-session="never"
          entry-point-ref="oauthAuthenticationEntryPoint"
          access-decision-manager-ref="accessDecisionManager"
          auto-config="true"
          xmlns="http://www.springframework.org/schema/security">
        <!--<anonymous enabled="false" />-->
        <intercept-url pattern="/restapi/secure/**/register/**" method="POST" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/restapi/secure/**/register/**" method="DELETE" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/restapi/secure/**/register/**" method="OPTIONS" access="isAnonymous()" />
        <intercept-url pattern="/restapi/secure/**" method="POST" access="isFullyAuthenticated()" />
        <intercept-url pattern="/restapi/secure/**" method="GET" access="isFullyAuthenticated()" />
        <intercept-url pattern="/restapi/secure/**" method="PUT" access="isFullyAuthenticated()" />
        <intercept-url pattern="/restapi/secure/**" method="DELETE" access="isFullyAuthenticated()" />
        <intercept-url pattern="/restapi/secure/**" method="HEAD" access="isFullyAuthenticated()" />
        <intercept-url pattern="/restapi/secure/**" method="PATCH" access="isFullyAuthenticated()" />
        <intercept-url pattern="/restapi/secure/**" method="TRACE" access="isFullyAuthenticated()" />
        <intercept-url pattern="/restapi/secure/**" method="OPTIONS" access="isAnonymous()"/>
        <!-- OPTIONS method should be free for CORS usage -->

        <custom-filter ref="resourceServerFilter" before="PRE_AUTH_FILTER" />
        <access-denied-handler ref="oauthAccessDeniedHandler" />
        <csrf disabled="true"/>
    </http>

    <bean id="oauthAuthenticationEntryPoint"
          class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint">
        <property name="realmName" value="test" />
    </bean>

    <bean id="clientAuthenticationEntryPoint"
          class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint">
        <property name="realmName" value="test/client" />
        <property name="typeName" value="Basic" />
    </bean>

    <bean id="oauthAccessDeniedHandler"
          class="org.springframework.security.oauth2.provider.error.OAuth2AccessDeniedHandler" />

    <bean id="clientCredentialsTokenEndpointFilter"
          class="org.springframework.security.oauth2.provider.client.ClientCredentialsTokenEndpointFilter">
        <property name="authenticationManager" ref="clientAuthenticationManager" />
        <!--<property name="filterProcessesUrl" value="/restapi/oauth/token" />-->
    </bean>

    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased"
          xmlns="http://www.springframework.org/schema/beans">
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.oauth2.provider.vote.ScopeVoter" />
                <bean class="org.springframework.security.access.vote.RoleVoter" />
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
                <bean class="org.springframework.security.web.access.expression.WebExpressionVoter" />
            </list>
        </constructor-arg>
    </bean>

    <authentication-manager id="clientAuthenticationManager"
                            xmlns="http://www.springframework.org/schema/security">
        <authentication-provider user-service-ref="clientDetailsUserService" />
    </authentication-manager>


    <!-- This is simple authentication manager, with a hardcoded user/password
     combination. We can replace this with a user defined service to get few users
     credentials from DB -->
    <authentication-manager alias="authenticationManager"
                            xmlns="http://www.springframework.org/schema/security">
        <authentication-provider user-service-ref="personService">
            <!--<user-service>
                <user name="test" password="12345" authorities="ROLE_APP" />
            </user-service>-->
        </authentication-provider>
    </authentication-manager>

    <bean id="clientDetailsUserService"
          class="org.springframework.security.oauth2.provider.client.ClientDetailsUserDetailsService">
        <constructor-arg ref="clientDetails" />
    </bean>

    <import resource="classpath:conf/catgenome/applicationContext-token-store.xml" />

    <!-- This is where we defined token based configurations, token validity
     and other things -->
    <bean id="tokenServices"
          class="org.springframework.security.oauth2.provider.token.DefaultTokenServices">
        <property name="tokenStore" ref="tokenStore" />
        <property name="supportRefreshToken" value="true" />
        <property name="accessTokenValiditySeconds" value="3600" />
        <property name="clientDetailsService" ref="clientDetails" />
    </bean>

    <bean id="userApprovalHandler"
          class="org.springframework.security.oauth2.provider.approval.TokenServicesUserApprovalHandler">
        <property name="tokenServices" ref="tokenServices" />
    </bean>

    <oauth:authorization-server
            client-details-service-ref="clientDetails"
            token-services-ref="tokenServices"
            user-approval-handler-ref="userApprovalHandler"
            token-endpoint-url="/oauth/token">
        <oauth:authorization-code />
        <oauth:implicit />
        <oauth:refresh-token />
        <oauth:client-credentials />
        <oauth:password />
    </oauth:authorization-server>

    <oauth:resource-server id="resourceServerFilter"
                           resource-id="test" token-services-ref="tokenServices" />

    <oauth:client-details-service id="clientDetails">
        <!-- client -->
        <oauth:client client-id="restapp"
                      authorized-grant-types="authorization_code,client_credentials"
                      authorities="ROLE_APP" scope="read,write,trust" secret="secret" />

        <oauth:client client-id="restapp"
                      authorized-grant-types="password,authorization_code,refresh_token,implicit"
                      secret="restapp" authorities="ROLE_APP" />

    </oauth:client-details-service>

    <sec:global-method-security
            pre-post-annotations="enabled" proxy-target-class="true" secured-annotations="enabled">
        <!--you could also wire in the expression handler up at the layer of the
         http filters. See https://jira.springsource.org/browse/SEC-1452 -->
        <sec:expression-handler ref="oauthExpressionHandler" />
    </sec:global-method-security>

    <oauth:expression-handler id="oauthExpressionHandler" />
    <oauth:web-expression-handler id="oauthWebExpressionHandler" />
</beans>