<md-button ng-if="row.entity.id && !row.entity.isInProcess" class="md-icon-button" aria-label="Table View" ng-click="grid.appScope.$ctrl.onRemove(row.entity, $event)">
    <ng-md-icon class="icon_info_outline" icon="delete"></ng-md-icon>
</md-button>
<md-button ng-if="row.entity.id && row.entity.isInProcess" class="md-icon-button" aria-label="Table View" ng-click="grid.appScope.$ctrl.onCancel(row.entity, $event)">
    <ng-md-icon class="icon_info_outline" icon="cancel"></ng-md-icon>
</md-button>
<md-button ng-if="row.entity.id" class="md-icon-button" aria-label="Table View" ng-click="grid.appScope.$ctrl.onRepeat(row.entity, $event)">
    <ng-md-icon class="icon_info_outline" icon="redo"></ng-md-icon>
</md-button>
