<div ng-if="$ctrl.isProgressShown">
    <div class="progress" layout-align="center center">
        <span>Loading history...</span>
    </div>
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-if="!$ctrl.isProgressShown" class="ui-grid-container" ng-hide="$ctrl.errorMessageList.length">
    <div ng-if="$ctrl.historyLoadError" class="variants-load-error-container">
        <small>{{$ctrl.historyLoadError}}</small>
    </div>
    <ngb-blast-search-panel-paginate total-pages="$ctrl.totalPages"
                                     current-page="$ctrl.currentPage"
                                     change-page="$ctrl.changeCurrentPage(page)"
                                     flex
    ></ngb-blast-search-panel-paginate>
    <div ui-grid="$ctrl.gridOptions"
         ui-grid-save-state
         ui-grid-selection
         ui-grid-resize-columns
         ui-grid-move-columns
         ui-grid-pinning
         ui-grid-auto-resize
         class="blast-history-table"
    ></div>
</div>

<div ng-if="$ctrl.errorMessageList.length" class="md-padding">
    <ngb-panel-error-list message-list="$ctrl.errorMessageList"></ngb-panel-error-list>
</div>
