body main {
  font-family: "Source Sans Pro", Tahoma; }

.drawer .toc li {
  background: #b8e7ef;
  color: #464547; }
  .drawer .toc li li:hover {
    color: #fff; }
  .drawer .toc li li a:hover, .drawer .toc li li a:focus {
    color: #fff; }
  .drawer .toc li a.current {
    color: #39c2d7;
    background: #dcf3f7; }
    .drawer .toc li a.current:hover, .drawer .toc li a.current a:focus {
      color: #fff; }
  .drawer .toc li ul {
    margin: 0;
    background: #dcf3f7; }
  .drawer .toc li .current + ul {
    padding: 0 10px; }
  .drawer .toc li li.anchor {
    background: #dcf3f7; }
    .drawer .toc li li.anchor a {
      border: 0; }
    .drawer .toc li li.anchor a.current {
      color: #39c2d7; }

.article h1 {
  border: 0;
  padding: 0;
  font-size: 28px; }

.article h1, .article h2, .article a {
  color: #464547; }

.bar .path {
  color: #a7a7a7; }

.header {
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  background: #505050; }
  .header .bar .stretch {
    margin: 13px 0; }
    .header .bar .stretch .title {
      color: #fff;
      padding: 5px 0;
      font-size: 14px;
      vertical-align: top;
      display: inline-block; }
  .header .button-search {
    color: #fff; }

.footer {
  padding: 0;
  background: #505050; }
  .footer .pagination {
    padding: 0;
    height: 60px; }
    .footer .pagination .stretch {
      padding: 0; }
      .footer .pagination .stretch .title {
        padding: 10px 0 5px;
        color: #fff; }
    .footer .pagination .direction {
      color: #fff;
      padding: 0 40px;
      bottom: 30px; }
  .footer .button .icon {
    margin: 0;
    padding: 5px;
    color: #fff; }

.title-page {
  font-size: 18px;
  vertical-align: top;
  margin: 0 15px;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Oswald", Tahoma; }

.separator {
  width: 1px;
  background: #a7a7a7;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 15px 10px; }

.drawer .scrollable .wrapper .toc {
  margin: 0; }

.drawer .scrollable {
  top: 0; }

.header .bar.search .stretch {
  margin: 0; }

.button-search {
  display: none; }

@media only screen and (min-width: 960px) {

  .drawer {
    margin-bottom: 60px;
    padding-top: 64px; } }
