@import '../../../assets/scss/md-mixins';

.md-variant-properties-table{
  padding: 0px;
}

.md-variant-property{
  border-bottom: 1px solid #eeeeee;
}

.md-variant-property-display-mode-common{

}

.md-variant-property-display-mode-wide{

}

.md-variant-property-title{
  @include font-size-vw(15px, 12px, 1025, 800);
  overflow: hidden;
  text-overflow: ellipsis;
  color:#a0a0a0;
  padding: 5px;
}

.md-variant-property-values{
  padding: 5px;
}

.md-variant-property-single-value{
  @include font-size-vw(15px, 12px, 1025, 800);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
