.motifs-flex-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  margin: 0;

  .ui-grid-column-menu-button-last-col {
    margin-right: 0px;
  }
}

.motifs-search-title {
  align-self: center;
}

.motifs-search-table {
  display: flex;
  flex-direction: column;
  height: auto;
    .ui-grid-viewport {
      height: 100% !important;
    }
}

.motif-icon-arrow-back {
  fill: #fff;
}
