<div class="internal-pathway-node-container"
     ng-class="{'selected': $ctrl.selected}"
     ng-mousedown="$ctrl.onMouseDown($event)"
     ng-mousemove="$ctrl.onMouseMove($event)"
     ng-mouseup="$ctrl.onMouseUp($event)"
     ng-style="$ctrl.highlightStyle">
    <div class="internal-pathway-node-title"
         ng-class="{'internal-pathway-node-link': $ctrl.nodeData.referenceId || $ctrl.nodeData.projectId}"
         ng-bind-html="$ctrl.label"
         ng-mouseup="$ctrl.navigate($event, $ctrl.nodeData)">
    </div>
    <div class="internal-pathway-units-of-information" ng-if="$ctrl.unitOfInformation">
        <hr class="middle-line middle-line-left"/>
        <span class="unit-of-information-label">{{$ctrl.unitOfInformation}}</span>
        <hr class="middle-line middle-line-right"/>
    </div>
</div>
