site_name: New Genome Browser 2.7
theme:
    name: readthedocs
extra_css:
  - css/extra.css
extra_javascript:
  - css/extra.js
docs_dir: md
use_directory_urls: false
nav:
    - Home: index.md
    - Release notes: release-notes/release-notes.md
    - Installation guide:
        - Overview: installation/overview.md
        - Using standalone JAR: installation/standalone.md
        - Using Docker: installation/docker.md
        - Using Tomcat WAR: installation/binaries.md
        - Using desktop application: installation/desktop.md
    - Command Line Interface guide:
        - Overview: cli/introduction.md
        - CLI Installation: cli/installation.md
        - Running a command: cli/running-command.md
        - Accomplishing typical tasks: cli/typical-tasks.md
        - Command reference: cli/command-reference.md
    - User Interface Guide:
        - Overview: user-guide/overview.md
        - Datasets: user-guide/datasets.md
        - Tracks/file formats:
            - Overview: user-guide/tracks.md
            - Reference track: user-guide/tracks-reference.md
            - Genes track: user-guide/tracks-genes.md
            - Alignments track: user-guide/tracks-bam.md
            - VCF track: user-guide/tracks-vcf.md
            - WIG track: user-guide/tracks-wig.md
            - BED track: user-guide/tracks-bed.md
            - FeatureCounts track: user-guide/tracks-featurecounts.md
            - ENCODE-specific tracks: user-guide/tracks-encode.md
        - Variants: user-guide/variants.md
        - Genes: user-guide/genes.md
        - BLAST search: user-guide/blast-search.md
        - Homologs search: user-guide/homologs-search.md
    - Administrator guide:
        - Overview: user-guide/um-overview.md
        - Users: user-guide/um-users.md
        - Groups: user-guide/um-groups.md
        - Roles: user-guide/um-roles.md
        - Permissions management: user-guide/um-permissions.md
    - Developer guide:
        - Embedding NGB with URL: user-guide/embedding-url.md
        - Embedding NGB with JS: user-guide/embedding-js.md
