<div layout="row">
    <div flex="30">
        <md-radio-group ng-model="ctrl._registerMode" aria-label="register mode">
            <md-radio-button ng-repeat="mode in ctrl._registerModes"
                             value="{{mode.value}}"
                             disabled="{{mode.disabled}}"
                             class="md-primary"
                             aria-label="{{mode.display}}">
                {{mode.display}}
            </md-radio-button>
        </md-radio-group>
    </div>
    <div flex="70">
        <ngb-register-local-computer
                ng-show="ctrl._registerMode === ctrl._registerModesNames.localComputerMode"
                collapsible-controller-object="ctrl.collapsibleControllerObject"
                flex>
        </ngb-register-local-computer>
        <ngb-register-ngb-server-track
                ng-show="ctrl._registerMode === ctrl._registerModesNames.ngbServerMode"
                collapsible-controller-object="ctrl.collapsibleControllerObject"
                flex>
        </ngb-register-ngb-server-track>
        <ngb-register-s3-bucket-track
                ng-show="ctrl._registerMode === ctrl._registerModesNames.s3bucketMode"
                collapsible-controller-object="ctrl.collapsibleControllerObject"
                flex>
        </ngb-register-s3-bucket-track>
        <ngb-register-url-track
                ng-show="ctrl._registerMode === ctrl._registerModesNames.urlMode"
                collapsible-controller-object="ctrl.collapsibleControllerObject"
                flex>
        </ngb-register-url-track>
    </div>
</div>