<div class="input-container">
    <label class="input-label">{{label}}</label>
    <div class="input-box">
        <span class="gene-chip"
              ng-class="{'removed-chip': $index === removedGeneIndex}"
              ng-repeat="gene in selectedGenes track by $index">
            <span>{{gene.chip}}</span>
            <md-button class="remove-tag"
                       md-no-ink
                       aria-label="Remove"
                       title="Remove"
                       ng-click="onRemoveClicked(gene)">
                <ng-md-icon icon="clear"
                            size="12" />
            </md-button>
        </span>
        <md-menu md-position-mode="target-left target"
                 class="dropdown-menu"
                 style="width: 100%"
                 md-offset="0 32">
            <div ng-click="openMenu($mdOpenMenu, $event)">
                <input type="text"
                       class="launch-input"
                       ng-model="inputModel"
                       ng-change="onChange(inputModel, $mdOpenMenu, $event)"
                       ng-blur="onBlur()"
                       ng-keydown="onKeyPress($event)">
            </div>
            <md-menu-content width="4"
                             id={{label}}
                             class="launch-list">
                <span class="loading-indicator"
                        ng-if="loading">
                    <md-progress-linear md-mode="query"></md-progress-linear>
                </span>
                <md-menu-item ng-repeat="(index, gene) in listElements track by $index"
                              ng-click="onClickItem(gene)">
                    <span class="list-item"
                          ng-class="{'span-padding': gene.item, 'selected': gene.selected}"
                          md-highlight-text="highlightText"
                          md-highlight-flags="gi">
                        {{gene.span}}
                    </span>
                </md-menu-item>
                <md-menu-item ng-if="!listElements.length && !loading">
                    <span class="list-item"
                          ng-if="!listElements.length">
                        Not found
                    </span>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
