.ngb-data-set-context-menu {
    background-color: white;
    box-shadow: 0 0 1em #aaa;
    padding: 5px;
    border: 1px solid #ccc;
    min-width: 200px;
    z-index: 100;

    .title {
        font-size: small;
        font-weight: bold;
    }

    .md-button {
        width: 100%;
        text-align: left;
    }
}