@import "../ngbTargetPanel.variables.scss";

$common-font-color: #444444;
$form-horizontal-offset: 5px;
$title-font-size: calc($tab-font-size * 1.5);

$diseases-tab-border-radius: 0;
$diseases-tab-background: #fafafa;
$diseases-tab-control-height: 36px;
$diseases-tab-control-font-color: $common-font-color;
$diseases-tab-control-padding: 0 calc($form-horizontal-offset - 1px);
$diseases-tab-control-font-size: $general-font-size;
$diseases-tab-control-hover-background: #f0f0f0;
$diseases-tab-line-height: min(calc(1.5 * $title-font-size), 28px);

$main-action-button-height: 33px;

$diseases-tab-font-size: $general-font-size;
$diseases-tab-line-height: 30px;
$diseases-tab-height: 30px;

$main-info-row-height: calc(2.0 * $tab-font-size);
$main-info-descriptions-line-height: calc($tab-font-size * 1.3);
$main-info-description-max-lines: 3;

$border-radius: 3px;
$header-background: #eeeeee;

$diseases-drugs-border: $general-border;
$diseases-drugs-warning-color: $general-warning-color;