@import "./ngbDiseasesTab.variables.scss";

ngb-diseases-tab {
    .diseases-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 calc($form-horizontal-offset - 4px);
        box-sizing: border-box;
        width: 100%;
        line-height: 32px;

        .autocomplete {
            flex: 1;
            background: $diseases-tab-background;
            color: $diseases-tab-control-font-color;
            padding: 0;
            font-size: $diseases-tab-control-font-size;
            border-bottom: 1px solid darken($diseases-tab-background, 20%);
            height: $diseases-tab-control-height;

            md-autocomplete-wrap {
                box-shadow: none;
                height: $diseases-tab-control-height;
            }

            input {
                line-height: $diseases-tab-control-height;
                height: $diseases-tab-control-height;
            }
        }

        .diseases-search-button {
            min-height: $main-action-button-height;
            height: $main-action-button-height;
            line-height: $main-action-button-height;
            min-width: 60px;
            margin: 5px;
        }
    }
}

.diseases-md-autocomplete.md-autocomplete-suggestions {
    min-height: $diseases-tab-height;

    li {
        font-size: $diseases-tab-font-size;
        padding: 0 5px;
        line-height: $diseases-tab-line-height;
        height: $diseases-tab-height;
        min-height: $diseases-tab-height;
    }
}