<div class="menu-project" ng-if="$ctrl.toolbarVisibility">
    <ul class="list-menu">
        <li><ngb-info-product></ngb-info-product></li>
        <li ng-if="$ctrl.browsingAllowed()"><ngb-open-file></ngb-open-file></li>
        <li><ngb-tool-windows></ngb-tool-windows></li>
        <li><ngb-share-link></ngb-share-link></li>
        <li><ngb-main-settings></ngb-main-settings></li>
        <li ng-if="$ctrl.showBookmark"><ngb-bookmark></ngb-bookmark></li>
        <li ng-if="$ctrl.userIsAdmin"><ngb-user-management></ngb-user-management></li>
    </ul>
</div>
