.ngb-cytoscape-container {
  width: 100%;
  height: 100%;
  min-height: 500px;
  flex: 1;
}

.strain-lineage-container-error {
  margin: 10px;
  color: #999;
}

.strain-lineage-container {
  margin: 2px 10px;
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tree-container {
  position: relative;
  .element-description-container {
    width: 50%;
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    .md-content {
      display: flex;
      flex-direction: column;
      height: auto;
      background: #FFFFFF;
      color: #000000;
      font-size: 14px;
      border: 1px solid grey;
      border-radius: 5px;
      padding: 5px;

      .close {
        line-height: 14px;
        font-size: 12px;
        width: 12px;
        font-weight: bold;
        cursor: pointer;
        padding: 0;
        position: absolute;
        top: 3px;
        right: 0;
      }

      .element-description-body {
        display: table;
        padding-right: 10px;

        .element-description-row {
          display: table-row;
          border-spacing: 5px;

          .element-description-navigation {
            color: #2c4f9e;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .element-description-empty {
          color: #999;
        }
      }
    }
  }
}
