$search-bg-color: #4285F4;
$search-border-radius: 5px;
$search-color: #fff;
$font-size: 15px;
@mixin input-placeholder-color($color) {
  $pseudos: '::-webkit-input-placeholder', ':-moz-placeholder', '::-moz-placeholder',
  ':-ms-input-placeholder',  '::-webkit-input-placeholder';

  // It is important to export every pseudo within its own block, because otherwise the placeholder
  // won't be set on the most browsers.
  @each $pseudo in $pseudos {
    &#{$pseudo} {
      color: unquote($color);
    }
  }
}


md-input-container {
  &.md-input-container_search {
    margin: 12px 0;
    background-color: $search-bg-color;
    border-radius: $search-border-radius;
    .md-input {
      color: $search-color;
      font-size: $font-size;
      border-bottom: 1px solid transparent;
      line-height: 22px;
      height: 34px;
      @include input-placeholder-color('#fff');
    }
    &.md-icon-float > ng-md-icon {
      top: 8px;
      left: 8px;
    }
    .md-errors-spacer {
      min-width: 0;
    }
  }
}