$font-size: 12px;

$summary-button-size: 24px;
$summary-option-size: 30px;

ngb-bibliography-panel {
    display: block;
    padding: 5px;

    ngb-panel-error-list {
        .layout-padding,
        .layout-padding > * {
            padding: 0 !important;
        }

        md-list-item,
        md-list-item .md-list-item-inner {
            min-height: 24px;
            height: 24px;
            font-size: 14px;
        }
    }

    a {
        margin: 0;
        display: inline-block;
        text-decoration: none;
        color: rgb(51, 103, 214);
        cursor: pointer;
    }

    .empty-container {
        font-size: $font-size;
        width: 100%;
        text-align: center;
        z-index: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        .no-records-warning {
            color: #999;
        }
    }

    .publication-container {
        font-size: $font-size;

        &:not(:last-child) {
            margin: 10px 0;
            border-bottom: 1px solid #dddddd;
        }

        .publication-title,
        .publication-authors,
        .publication-source {
            margin: 5px 0;
        }

        .publication-authors,
        .publication-source {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            span {
                white-space: nowrap;

                &:not(:last-child):after {
                    content: ',';
                    margin-right: 5px;
                }
            }
        }
    }

    .summary-button {
        .md-button {
            height: $summary-button-size;
            min-height: $summary-button-size;
            display: flex;
            align-items: center;
            text-transform: none;
            font-size: $font-size;
            border-radius: 10px;
            margin: 0;
            padding: 0;

            background: transparent;

            &:hover,
            &:visited,
            &:active,
            &:focus {
                background: transparent;
            }

            &:hover .button-text,
            &:hover .md-select-value > span:not(.md-select-icon) {
                text-decoration: underline;
            }

            md-select {
                margin: 0;

                .md-select-value {
                    font-size: $font-size;
                }

                .md-select-value .md-select-icon {
                    width: 14px;
                }
            }

            md-select[disabled] .md-select-value {
                background: none;
            }
        }
    }

    .ngb-bibliography-section {
        margin: 5px 0 10px;

        .ngb-bibliography-section-title {
            display: flex;
            flex-direction: row;
            align-items: center;

            .section-name {
                font-weight: bold;
                text-transform: uppercase;
                margin-right: auto;
            }
        }
    }

    .summary-container {
        margin: 5px 0;
        font-size: calc($font-size + 1px);

        p {
            margin: 0;
        }
    }
}

.llm-model-select {
    md-select-menu:not(.md-overflow) md-content {
        padding: 0;

        md-option {
            height: $summary-option-size;
            min-height: $summary-option-size;
            line-height: $summary-option-size;
        }
    }
}
