<div class="loading-indicator"
     ng-if="$ctrl.loadingSummary || $ctrl.loadingPublications">
    <md-progress-linear md-mode="query"></md-progress-linear>
</div>
<div ng-class="{'hidden': !$ctrl.failedPublications || $ctrl.loadingPublications}">
    <ngb-panel-error-list message-list="$ctrl.publicationsError"></ngb-panel-error-list>
</div>
<div ng-class="{'hidden': !$ctrl.failedSummary || $ctrl.loadingSummary}">
    <ngb-panel-error-list message-list="$ctrl.summaryError"></ngb-panel-error-list>
</div>
<div class="empty-container"
     ng-if="$ctrl.emptyPublications">
    <md-content class="no-records-warning"
                flex>
        <span>No records found.</span>
    </md-content>
</div>
<div class="summary-button" ng-if="$ctrl.llmModels && $ctrl.llmModels.length">
    <md-button ng-click="$ctrl.generateSummary($event)"
               ng-disabled="$ctrl.loadingPublications || $ctrl.loadingSummary || $ctrl.publications.length === 0"
               md-no-ink
    >
                <span class="button-text">
                    Get summary with Generative AI
                </span>
    </md-button>
</div>
<div class="ngb-bibliography-section"
     ng-if="$ctrl.summary && !$ctrl.loadingSummary">
    <div class="ngb-bibliography-section-title">
        <span class="section-name">
            Summary
        </span>
    </div>
    <div class="summary-container"
         ng-bind-html="$ctrl.summary.html">
    </div>
</div>
<md-input-container md-no-float
                    class="md-block search-publications-container">
    <input type="text"
           ng-model="$ctrl.searchText"
           placeholder="Search publications"
           aria-label="Search publications"
           class="search-publications-input"
           ng-blur="$ctrl.onBlur()"
           ng-keydown="$ctrl.onKeyPress($event)">
        <button type="button"
                class="search-input-clear-button"
                ng-click="$ctrl.onClickClear()"
                ng-if="$ctrl.searchText.length">
            <ng-md-icon icon="clear"
                        size="15">
            </ng-md-icon>
        </button>
    </input>
</md-input-container>
<div class="ngb-bibliography-section" ng-if="$ctrl.publications && $ctrl.publications.length > 0">
    <div ng-repeat="publication in $ctrl.publications track by publication.uid"
         class="publication-container">
        <div class="publication-title">
            <a ng-if="publication.link"
               ng-href="{{publication.link}}"
               target="_blank">
                {{publication.title}}
            </a>
        </div>
        <div class="publication-authors">
            <span ng-repeat="author in publication.authors">{{author.name}}</span>
        </div>
        <div class="publication-source">
            <span>{{publication.source}}</span><span>{{publication.pubdate}}</span>
        </div>
    </div>
</div>
<ngb-bibliography-pagination></ngb-bibliography-pagination>
