<div flex layout="row" layout-wrap class="md-variant-properties-table">
    <div flex="100" layout-margin ng-show="ctrl.isLoading" layout="row" layout-align="center center">
        <div>
            <md-progress-circular md-mode="indeterminate" flex md-diameter="12"></md-progress-circular>
        </div>
    </div>
    <div flex="100" layout-fill layout-margin ng-show="ctrl.hasError" class="md-variant-info-error">
        {{ctrl.errorMessage}}
    </div>

    <div flex="100" layout="row" layout-wrap>
        <div ng-hide="ctrl.isLoading || crtl.hasError"
             layout="row"
             ng-repeat="property in ctrl.variantInfo.properties | filter: { selection: true} | orderBy: 'title'"
             class="md-variant-property md-variant-property-display-mode-{{property.displayMode}}
           {{'flex-' + property.flex}}">
            <md-tooltip ng-if="property.type === 'TRIVIAL' || property.type === undefined" md-delay="500"
                        ng-show="property.description.length > 0">{{property.description}}
            </md-tooltip>

            <div ng-if="property.type === 'TRIVIAL' || property.type === undefined">
                <div layout="row"
                     layout-align="start stretch"
                     flex>
                    <div class="md-variant-property-title" flex="50">{{property.title}}</div>
                    <div class="md-variant-property-values" layout="column" flex="50">
                        <div ng-repeat="value in property.values track by $index"
                             class="md-variant-property-single-value">
                            {{value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-hide="ctrl.isLoading || crtl.hasError" class="md-variant-properties-info-table" layout-wrap flex="100"
             ng-init="isCollapsed=true">
            <span class="md-variant-properties-collapse-label" ng-click="isCollapsed = !isCollapsed">{{isCollapsed ? 'show all' : 'collapse'}}</span>
            <div ng-if="!isCollapsed" flex layout="row" layout-wrap>
                <div flex="50" layout="column" ng-repeat="property in ctrl.variantInfo.properties | orderBy: 'title'">
                    <div class="for-md-tooltip-work">
                        <md-checkbox flex
                                     layout="row"
                                     ng-model="property.selection"
                                     ng-change="ctrl.onVariantInfoColumnsChange()">
                            {{ property.title }}
                            <md-tooltip class="z-index-more" md-direction="top">
                                {{ property.description || property.title }}
                            </md-tooltip>
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="ctrl.isLoading || crtl.hasError"
         ng-repeat="table in ctrl.variantInfo.tables" flex="100">
        <collapsible flex>
            <collapsible-panel is-open="false" tooltip="table.description">
                <collapsible-panel-title>{{table.title}}</collapsible-panel-title>
                <collapsible-panel-content>
                    <div class="table-property" ui-grid="table.values"
                         ui-grid-resize-columns
                         ui-grid-auto-resize
                         ui-grid-move-columns></div>
                </collapsible-panel-content>
            </collapsible-panel>
        </collapsible>
    </div>
</div>
