.md-variant-info-error{
  text-align:center;
  color:#FF0000;
  font-size:smaller;
}
.md-variant-properties-table {
  .ui-grid, .ui-grid-render-container {
    height: auto !important;
    max-height: 200px;
  }
  collapsible-panel-title{
    color: rgba(0,0,0,0.87);
    font-size: 15px;
    padding-left: 0;
  }
  .table-property{
    font-size: 13px;
  }
  .md-variant-properties-info-table{
    padding: 5px;
    > div {
      padding-top: 10px;
    }
  }
  .md-variant-properties-collapse-label{
    color: #6699ff;
    border-bottom: 1px dashed #6699ff;
    cursor: pointer;
    outline: none;
    width: auto;
    font-size: 14px;
  }
}

