ngb-genome-annotations {
  md-menu {
    display: flex;
    height: 100%;
    position: relative;
    transition: all 300ms ease;

    .md-button.md-icon-button {
      border-radius: unset;
      width: auto;
      padding-left: 7px;

      ng-md-icon {
        fill: #FFF;
        padding-top: 2px;
      }

      span {
        display: inline-block;
        max-width: 100px;
        height: 23px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.genome-annotations-menu {
  position: absolute;
  top: 20px;
  padding: 4px;
  md-checkbox {
    margin: 8px;
    .md-label {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

.file-hint-btn {
  border: 1px solid #bae7ff;
  font-weight: normal;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.file-info {
  margin-right: 5px;
}

.file-hint {
  border: solid 1px #bfbfbf;
  font-weight: normal;
  font-size: 12px;
  color: #595959;
  padding: 1px 5px;
  border-radius: 5px;
}
