ngb-variant-quality-diagram {
  display: block;
  height: 100%;
  position: relative;
  }

.ngb-variant-quality-diagram{
  padding: 0;
  background-color: #ffffff;
  margin: 0;
  .ngbQualityDiagram-holder {
    .nvd3 .nv-axis {
      path {
        fill: none;
        stroke: #ccc;
        stroke-opacity: .75;
        shape-rendering: crispEdges;
        }
      }
    .nvd3 .nv-axis.nv-y {
      line {
        fill: none;
        stroke: #ccc;
        stroke-opacity: .5;
        shape-rendering: crispEdges;
        }
      }
    }
  }
