$select-height: 28px;
$select-font-size: 13px;
$select-color: #333333;

ngb-sequences-panel {
    .sequence-section {
        padding: 5px 20px;

        .section-title {
            font-weight: 500;
        }

        .section-content {
            padding: 5px 20px;

            span {
                padding-right: 10px;
            }

            a {
                font-weight: 500;
            }

            span.link {
                font-weight: 500;
                cursor: pointer;
                text-decoration: none;
                color: rgb(51, 103, 214);
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .sequence-gene-select {
        height: $select-height;
        line-height: $select-height;
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        position: relative;
        float: right;

        md-input-container,
        label {
            margin: 0;
            padding: 0;
            line-height: $select-height;
            height: $select-height;
            color: $select-color;
            font-size: $select-font-size;
        }

        label {
            margin-right: 5px;
        }

        md-input-container md-select {
            &:not([disabled]):focus .md-select-value {
                border-bottom: none;
            }

            md-select-value {
                border: none;
                min-height: $select-height;
                padding: 0;
                font-size: $select-font-size;
                display: flex;
                align-items: center;

                .md-select-icon {
                    margin: 0 4px 0 0;
                    width: 20px;
                }

                > span,
                > span > div {
                    line-height: $select-height;
                    height: $select-height;
                    transform: none!important;
                }
            }
        }
    }

    .empty-container {
        font-size: 12pt;
        width: 100%;
        text-align: center;
        z-index: 0;
        padding-top: 30px;
        padding-bottom: 10px;
        min-height: 30px;

        .no-records-warning {
            color: #999;
        }
    }
}

.sequence-gene-select-container {
    md-select-menu:not(.md-overflow) md-content {
        padding: 0;
    }

    md-option {
        padding: 0 8px;
        height: calc($select-height + 2px);

        &[selected],
        &:not([disabled]):focus {
            color: $select-color;
        }
    }

    md-select-menu,
    md-select-menu md-content {
        min-height: calc($select-height + 2px);
    }
}