@import "./ngbSequencesPanel.variables.scss";

ngb-sequences-panel {
    padding: 5px 0 0;
    position: relative;

    .sequences-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    .sequences-reference {
        padding: 5px 20px;

        .reference-title {
            font-weight: 500;
        }

        .reference-content {
            padding: 5px 20px;

            span {
                padding-right: 10px;
            }

            a {
                font-weight: 500;
            }

            span.link {
                font-weight: 500;
                cursor: pointer;
                text-decoration: none;
                color: rgb(51, 103, 214);
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .sequences-gene-select {
        display: inline-flex;
        align-items: center;

        md-input-container,
        label {
            margin: 0;
            padding: 0;
            line-height: $sequences-line-height;
            height: $sequences-select-height;
            color: $sequences-font-color;
            font-size: $sequences-font-size;
        }

        label {
            margin-right: 5px;
        }

        md-input-container md-select {
            &:not([disabled]):focus .md-select-value {
                border-bottom: none;
            }

            md-select-value {
                border: none;
                min-height: $sequences-select-height;
                padding: 0;
                font-size: $sequences-font-size;
                display: flex;
                align-items: center;

                .md-select-icon {
                    margin: 0 4px 0 0;
                    width: 20px;
                }

                > span,
                > span > div {
                    line-height: $sequences-line-height;
                    height: $sequences-select-height;
                    transform: none!important;
                }
            }
        }
    }

    .action-container {
        margin-left: auto;
    }

    .md-button.export-button {
        min-height: 24px;
        line-height: 24px;
        color: $sequences-font-color;
        font-size: $sequences-font-size;
        font-weight: normal;
    }

    .empty-container {
        font-size: 12pt;
        width: 100%;
        text-align: center;
        z-index: 0;
        padding-top: 30px;
        padding-bottom: 10px;
        min-height: 30px;

        .no-records-warning {
            color: $sequences-warning-color;
        }
    }

    .loading-indicator {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.sequences-gene-select-container {
    md-select-menu:not(.md-overflow) md-content {
        padding: 0;
    }

    md-option {
        padding: 0 8px;
        height: calc($sequences-select-height + 2px);

        &[selected],
        &:not([disabled]):focus {
            color: $sequences-font-color;
        }
    }

    md-select-menu,
    md-select-menu md-content {
        min-height: calc($sequences-select-height + 2px);
    }
}