@import "../../ngbTargetPanel.variables.scss";

$sequences-select-height: $general-control-height;
$sequences-line-height: $sequences-select-height;
$sequences-font-size: $general-font-size;
$sequences-font-color: $general-font-color;

$sequences-table-border: $general-border;

$sequences-warning-color: $general-warning-color;