@import "../ngbTargetsTab.variables.scss";

ngb-targets-table {
    position: relative;
    padding-top: 3px;
    .loading-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .error-message {
        padding: 0;

        .layout-padding, .layout-padding > * {
            padding: 0;
        }
    }

    .empty-container {
        font-size: 12pt;
        width: 100%;
        text-align: center;
        z-index: 1000;
        padding-top: 10px;

        .no-records-warning {
            color: $targets-warning-color;
        }
    }

    .md-button.md-icon-button {
        min-height: 30px;
        height: 30px;
        padding: 2px;
    }

    .md-button.md-icon-button .icon-launch {
        fill: rgb(102, 153, 255);
    }

    .md-button.md-icon-button .icon-beenhere {
        fill: rgb(102, 153, 255);
    }

    .target-name {
        color: rgb(102, 153, 255);
        font-size: 14px;
        margin: 10px 4px 10px 4px;
        display: block;
    }

    .cell-content {
        font-size: 12px;
        align-self: center;
        padding: 5px;
    }

    .cell-content p {
        margin: 2px 0;
    }

    .others-button {
        text-decoration: underline;
        font-style: italic;
        white-space: nowrap;
    }

    .others-button:hover {
        text-decoration: none;
    }

    .ui-grid-header-cell-label {
        text-transform: capitalize;
    }

    .ui-grid-header {
        border-bottom: none;
    }

    .ui-grid-header-cell {
        border: none;
    }

    .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
        border: none;
    }

    .targets-table.ui-grid {
        height: 100%!important;
    }

    .ui-grid-container {


        .ui-grid-cell-contents.md-button {
            min-height: 30px;
            text-align: left;
            padding: 5px 4px 3px 5px;
        }

        .ui-grid-cell {
            border: none;
        }

        .ui-grid-row {
            display: table-row;
        }

        .ui-grid-row .ui-grid-cell {
            float: none;
            display: table-cell;
        }

        .ui-grid-row:nth-child(odd) .ui-grid-cell {
            background-color: #ececec;
        }

        .ui-grid-row:nth-child(odd).ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
            background-color: #ececec;
        }

        .ui-grid-row:nth-child(even).ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
            background-color: #fff;
        }
    }

    .ui-grid-row:nth-child(odd).ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
        background-color: #ececec;
    }

    .ui-grid-row:nth-child(even).ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
        background-color: #fff;
    }

    .targets-table.ui-grid {
        border: none;
    }

    ngb-panel-error-list {
        padding: 0;

        .layout-padding, .layout-padding > * {
            padding: 0;
        }

        .ngb-panel-error-list md-content.md-warn {
            border-top: 0;
        }

        md-list-item, md-list-item .md-list-item-inner {
            min-height: 18px;
            height: auto;
            overflow: hidden;
            font-size: 14px;
        }
    }

    .ui-grid-column-menu-button.sorting-button {
        top: 5px;
    }
}
